[2018-11-16 05:49] dschissler commented on #1713
Perhaps its a protocol issue? Try `require "file:///asdfasdf"` (file system protocol).

But called via unoptimized string of course.

[2018-11-16 07:30] dschissler commented on #1720
RHEL 8.0 beta is out and it supports PHP 7.2.

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8-beta/html-single/8.0_beta_release_notes/

[2018-11-16 09:50] thinkeng opened #1727 "zephir build error"
[root@localhost utils]# zephir build
Preparing for PHP compilation...
Preparing configuration file...
configure: error: Cannot find php-config. Please use --with-php-config=PATH
Compiling...
sh: php-config: 未找到命令
kernel/array.h:25:17: 致命错误：php.h：没有那个文件或目录
 #include <php.h>
                 ^
编译中断。
kernel/debug.h:25:17: 致命错误：php.h：没有那个文件或目录
 #include <php.h>
                 ^
编译中断。
kernel/exceptio

[2018-11-16 11:17] sergeyklay commented on #1727
It is root of the problem:

[code]

You should add path to `php-config` to the `$PATH` variable

[2018-11-16 11:17] #1727 closed, assigned to nobody

[2018-11-16 14:22] #1713 closed, assigned to sergeyklay

[2018-11-16 14:41] sergeyklay commented on #1713
@dschissler Do you need a patch for the 0.10.x branch or the 0.11.x is satisfied your needs?

[2018-11-17 00:01] dschissler commented on #1713
@sergeyklay The latest `development` branch source works with with the phar so the revert worked.  Thanks.

I'm liking the new zephir direction and I was never a fan of the old kind-of-broken install methods.  However, I had a problem with `zephir build`:

[code]

I was able to get it working by using `zephir compile` and then `sudo zephir install`.

[2018-11-17 00:04] dschissler commented on #1713
It would be really nice if zephir could only use `sudo` on the specific necessary commands like most projects.  It would be great if for example I could just type `zephir install` and it would call `sudo` only at the one relevant command instead of running the entire script as sudo.  It seems to me that most projects do that.  The same with `zephir build` in that it can compile without root and th

[2018-11-17 00:10] sergeyklay commented on #1713
@dschissler

It is the bug. Open please an issue. I'll fix it asap.

I constantly forget about the sudo... Please open a new issue so that I do not forget about it. I'll try to deal with this in the near future

[2018-11-17 01:31] dschissler opened #1733 "Fix "zephir install" command to not require to be run as root and other broken things"
Currently zephir commands fail if it needs root access like for example to install the extension.  This can be achieved by adding `sudo` to only the specific shell outs that require this access.  Then the command can be run as a normal user and it will prompt them for sudo.  Maybe PHP `passthru` is the best way to do this, I'm not sure.

Also using sudo only on the specific commands can help proje

[2018-11-17 01:35] dschissler opened #1734 "Latest development tree `zephir build` doesn't work"
[code]

Currently I need to install with `zephir compile` and then `sudo zephir install`.

Also see #1733 since zephir install should be able to work without calling sudo first and to have it prompt only at the correct moment.

[2018-11-17 23:11] sergeyklay commented on #1662
Refs: https://github.com/phalcon/zephir/issues/938

[2018-11-17 23:11] #1662 closed, assigned to nobody

[2018-11-17 23:30] #1734 closed, assigned to sergeyklay

[2018-11-18 13:49] dschissler commented on #1733
@sergeyklay the latest `0.11.4-eb5db1a` works perfectly in this regard for `zephir build` in that it asks for sudo only at the appropriate location.  However `zephir compile` and then `zephir install` don't work as I expect them to.  What is the intended behavior of `compile` and `install`?  I expected `compile` to only compile the zephir -> C -> binary without installing it.  Then I expected `ins

[2018-11-18 13:56] dschissler commented on #1733
I think that to be completely consistent that:

* `install` shouldn't try to `generate` or `build`,
* compile shouldn't try to `generate`

These commands can be strung together manually for intense customization and debugging and 95% of Zephir developers just will use `zephir build`.  Again, I can't say that its common sense now and the commands try to do too much, more than they advertise.

You c

[2018-11-18 14:04] dschissler commented on #1733
In fact I'd like you to add "bug" to this instead of just "enhancement".  To use `zephir install` I need to call it as root `sudo zephir install` and then my ext directory is owned by root and so I can't work with it as my normal user.  That is just all broken to hell.

[2018-11-18 14:07] dschissler commented on #1703
I think that simply changing the yellow to the orange that you use when displaying *" ! [NOTE] Don't forget to restart your web server"* would be ideal.  Any chance that you can find the time to fit in this very small quality of life improvement?

[2018-11-18 15:34] dschissler opened #1740 "Zephir build cache doesn't understand namespaces during a namespace refactor"
I'm renaming my class by moving the directories and the cache gets completely confused by it.  I'm able to repair it with a fullclean.  Zephir probably needs to detect this better.  I've tried to reproduce this but I've been unable to pinpoint it exactly.  The behavior is that I run my cli program and it says that it can't find a class but `zephir build` on the extension fails to produce a new wor

[2018-11-18 16:46] sergeyklay commented on #1703
@dschissler Yes, this is exactly what i want to do. Sorry, too much painstaking replacement in many places. I will do it gradually

[2018-11-18 17:04] sergeyklay commented on #1733
You are reading my mind. A few days ago, I thought that it would be good to change this.

That's what these commands actually do:
- `generate`: Generates the C sources from Zephir without compiling them
- `compile`: Compiles the extension without installing it (always calls `generate` command)
- `install`: Compiles and installs the extension (always calls `compile` command)
- `build`: Calls the `i

[2018-11-18 17:26] dschissler commented on #1733
I changed the title.  The "and other broken things" covers it.

[2018-11-18 20:44] #1621 closed, assigned to sergeyklay

[2018-11-19 10:38] remicollet opened #1742 "[0.10.13] Version not bumped"
[code]

[2018-11-19 10:45] sergeyklay commented on #1742
Thank you. I'll fix this asap

[2018-11-19 13:01] remicollet commented on #1742
Also bad with 0.11.4:

https://github.com/phalcon/zephir/blob/0.11.4/Library/Zephir.php#L21

So, tag is not correct

[2018-11-19 15:06] remicollet commented on #1742
Notice the phar reports
`Zephir 0.11.4-eb5db1a`
When 0.11.4 tag point to d0a6a8af0b78240a0f3e1f05d39baf73699a5570

[2018-11-19 19:09] sergeyklay commented on #1742
@remicollet Yeah, there was a confusion with the versions. My bad. I will fix 0.11.x here: #1743 + #1744 The 0.10.x branch will be fixed a bit later. I need a day or two to fix Phalcon blocking issue

[2018-11-19 21:00] sergeyklay commented on #1742
- 0.11.6: https://github.com/phalcon/zephir/releases/tag/0.11.6
- 0.10.14: https://github.com/phalcon/zephir/releases/tag/0.10.14

Thank you for the report, and for helping us make Zephir better.

[2018-11-20 05:47] dschissler commented on #1740
On a partially positive note, it seems that you made the compilation of an extension to be dramatically faster than it was before when very little was changed.  The problem with it is that I can't trust the compile process / cache at the moment unless I see it doing some real work.

I've also experienced that my zephir cache build stuff can get into a state where I need to do a fullclean before it

[2018-11-20 05:54] dschissler opened #1745 "Discussion/Enhancement: Why does a child class need to implement the same exact typed method signature as the parent?"
I've been playing around overloading `Phalcon\Config::merge` and I ran into this at runtime.

[code]

Is this a necessity?  This really limits the inheritance capabilities within Zephir.  I don't think that it should function this way unless some special modifier has been assigned to a method.

If you agree that it shouldn't be this way then I can relabel this as "Relaxation of method signature fo

[2018-11-20 05:57] dschissler commented on #1745
Also I'll add that lets face it, a warning is basically a full on error in this case.  Nobody is going to put something into production that spews warnings into the logs.  A warning in this case is effectively as prohibiting as a full on halt error.

[2018-11-20 06:03] danhunsaker commented on #1745
If you look closer at the error message, you'll see that it's coming from PHP, not Zephir itself. This is a restriction that PHP places on things. We can't relax it or remove it.

That said, are you running a custom compile of Phalcon built with Zephir 0.11.x? Because that's unsupported entirely - Phalcon should always be built with Zephir 0.10.x.

[2018-11-20 06:19] dschissler commented on #1745
If that is the case then it really should be written out in a more obvious way.  I can't say that is not written out somewhere but I've never seen it.

However, my Phalcon is coming from the Ubuntu package and my extension is currently built with 0.11.6.

Perhaps the `merge` method could be relaxed to `var config` and then it could attempt to case an object to array or just to expand it to also ac

[2018-11-20 06:21] danhunsaker commented on #1745
That's something to bring up in the Phalcon repo.

[2018-11-20 06:21] dschissler commented on #1745
Yeah

[2018-11-20 06:21] #1745 closed, assigned to nobody

[2018-11-20 06:25] dschissler commented on #1745
@danhunsaker As a member of the Phalcon team I'd hope that you could get on top of that pretty screwed situation of quietly not supporting the latest version of Zephir when there are no visible (or at least prominent) notifications or labellings for such a situation.  That seems to me like something that should make its way out of the chat room and into public knowledge.

[2018-11-20 06:28] danhunsaker commented on #1745
I'm only on the Zephir team. I have nothing to do with Phalcon, generally. All I know is that odd numbered minor versions are intended to be unstable dev versions, while even numbered minor versions are intended to be stable and usable. Much like the Linux kernel back in the 2.x days (if not since).

[2018-11-20 06:31] dschissler commented on #1745
You are a a Github Phalcon "People".  I just assumed.  That is about 99% why I removed myself from that list.  I found it to be a totally pointless designation without significance.

[2018-11-20 22:12] #1742 closed, assigned to sergeyklay

[2018-11-20 22:15] sergeyklay commented on #1621
Fixed here:

- 0.11.6: https://github.com/phalcon/zephir/releases/tag/0.11.6
- 0.10.13: https://github.com/phalcon/zephir/releases/tag/0.10.13

Thank you for the report, and for helping us make Zephir better.

[2018-11-22 01:08] zuozhehao opened #1750 "while loop"
php
[code]
zephir :
[code]
But it does not support

[2018-11-22 01:17] zuozhehao opened #1751 "Anonymous function"
[code]
[ERROR] Class name: Work\Timer does not exist in `let result = Timer::wait();`

[2018-11-22 10:43] sergeyklay commented on #1750
In this case you can use a bit modified  `while`:
[code]

or  `loop`:
[code]

or `do / while`:
[code]

`let` statement in the `condition` place is not supported

[2018-11-22 10:43] #1750 closed, assigned to nobody

[2018-11-25 13:12] sandrokeil opened #1758 "Compilation error with inheritance of prototype interfaces"
I use Zephir Parser 1.1.4 and Zephir 0.11.6 with [Docker image php:7.2-cli-alpine3.8](https://github.com/sandrokeil/docker-files/blob/master/zephir/7.2-cli) and I get the following error:

  Class ArangoDb\Exception\ConnectionException must implement a method called: "getMessage" as requirement of interface: "Psr\Http\Client\NetworkExceptionInterface"

This error occurs if [prototype definitions](

[2018-11-25 14:59] sergeyklay commented on #1758
@sandrokeil Thank you for the report. I'll try to sort out ASAP.

[2018-11-26 06:34] zuozhehao commented on #1751
@sergeyklay

[2018-11-26 09:45] ankitmlive commented on #1634
I have find a solution for this,may be it not the best but working for me for php extension.
I am taking all my boolean variable as `var`  and then using regex for checking it.

[code]

[2018-11-27 07:06] benant opened #1764 "run "zephir build" ... diplay "File not found at path: IR/gcc-version""
Hi.
A build error occurred while running the "hello world" example. I followed the tutorial. https://docs.zephir-lang.com/en/0.10/tutorial
What parts should I check?

[code]

My System Informations
[code]

Thanks,
Benant.

[2018-11-27 08:36] sergeyklay commented on #1764
@benant Could you please try latest changes from `development` branch? It seems I fixed this a few days ago. You have to clone this repo, then run `composer install` from the project run. Then use `./zephir` as a entrypoint

[2018-11-27 08:43] sergeyklay commented on #1703
@dschissler The compiler's messages was divided into streams in the `development` branch. Thus, now it is possible to redirect compiler's output as follows:
[code]

I would like to remove coloring for _compiler output_ at all because it is just a markup that will remains in the file after the redirection, eg:
[code]

This will not affect to standard commands' output.

[2018-11-27 08:53] dschissler commented on #1703
You can do fancy stuff with [posix_isatty](http://us2.php.net/manual/en/function.posix-isatty.php) to then strip the colors but that seems like a waste of time considering how much work Zephir needs.  Also it would hurt platform compatibility.

[2018-11-27 10:13] sergeyklay commented on #1703
Yes. So I propose think about coloring for compiler output as a low priority feature that may be implemented or not.

[2018-11-27 17:39] sandrokeil opened #1765 "Support of Symmetric array destructuring - PHP list()"
Is it planned to support [Symmetric array destructuring](http://php.net/manual/en/migration71.new-features.php#migration71.new-features.symmetric-array-destructuring)?

[code]

[2018-11-27 23:33] sergeyklay commented on #1764
I hope this fixed in the latest release. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2018-11-27 23:33] #1764 closed, assigned to nobody

[2018-11-28 01:47] benant commented on #1764
@sergeyklay It works perfectly. Thanks.

[2018-11-28 05:32] danhunsaker commented on #1634
Two things about your regex. One, the `{1}` is superfluous - regular expressions already match only a single character (well, byte, in this case) unless told to match more. If you like it for clarity, that's fine, but it doesn't do anything functional at all. Second, though, is more important. The `,` in your `[]` character set doesn't have a syntactical purpose - it will be matched literally, mea

[2018-11-28 07:41] dschissler commented on #1703
Good enough.  Don't even consider this until you've spent half a year adding operators and language structure.

[2018-11-28 07:41] #1703 closed, assigned to nobody

[2018-11-28 07:50] dschissler commented on #1765
I say skip the funky `list` language construct masquerading as function and just go to the proper destructuring syntax.  That is unless the `[` and `]` tokens are done so inflexible in Zephir that it would require a major refactor.

So:

[code]

expands to:

[code]

and then later see if it can somehow be improved ever so slightly in performance by hooking into how PHP 7.1+ does it.  It probably q

[2018-11-28 07:59] sergeyklay commented on #1765
What do you think about such syntax guys:
[code]

[2018-11-28 08:01] #1606 closed, assigned to nobody

[2018-11-28 08:02] sergeyklay commented on #1636
Closed in favor of https://github.com/phalcon/zephir/issues/1323

[2018-11-28 08:02] #1636 closed, assigned to nobody

[2018-11-28 08:04] sergeyklay commented on #1323
Also see: phalcon/cphalcon#12473

[2018-11-28 08:20] dschissler commented on #1765
Is there a problem reusing the bracket tokens?

[2018-11-28 08:25] sergeyklay commented on #1765
Nope. I just thinking about it. This is not implemented yet, but we do not have to consciously over-complicate the end-user syntax, isn't?

[2018-11-28 08:28] dschissler commented on #1765
Well brackets are used for destructuring in PHP and ES6 Javascript.  So why model it on some other language or reinvent the wheel?

[2018-11-28 08:51] sergeyklay commented on #1765
In other hand parentheses are used for `IF`, `ELSEIF`, `CATCH`, `WHILE`, etc  in PHP, and ES6 Javascript, but not in Zephir :)

[2018-11-28 08:57] sergeyklay commented on #1765
Anyway, I'm not debating that we don't need brackets in Zephir at all. It is more a discussion and just my personal opinion

[2018-11-28 09:16] dschissler commented on #1765
If it uses brackets then it would be easier to expand the destructuring to map arrays (someday) without adding another form.  I can't think of a syntax for that which wouldn't benefit from being enclosed in brackets.  Sure, it could be done but its then starting to look too yamlish in code for my liking.

For example of just one possibility:

[code]

So what do you do without brackets?

[code]

I'

[2018-11-28 21:36] sandrokeil commented on #1765
I see, it's not trivial. I'm only asking because I write a PHP to Zephir converter. I will solve it with the curent syntax. So no hurry.

[2018-11-29 07:11] dly667 opened #1768 ""./install -c " can't work!"
Git Way
First make sure that the Zephir parser extension is installed and activated. You can follow this tutorial.

The Zephir compiler currently must be cloned from Github:

git clone https://github.com/phalcon/zephir
Run the Zephir installer:

cd zephir
./install -c

Failed to this step
thanks

[2018-11-29 12:18] sergeyklay commented on #1768
@dly667 The documentation you use refers to the 0.10.x branch. The documentation for the 0.11.x (current, actual branch) is not updated yet. I bring my apologies for this. Please take a look at https://github.com/phalcon/zephir-docs/issues/175

[2018-11-29 12:18] #1768 closed, assigned to nobody

[2018-11-29 21:13] danhunsaker commented on #1768
We should probably adjust the 0.10 docs to specify the 0.10.x branch when cloning, to avoid this kind of issue in future versions. Do the same in 0.11's docs, while we're at it?

[2018-11-29 21:22] sergeyklay commented on #1768
@danhunsaker I agree. For example we can add a note to the 0.10 docs like "note that you need to get a relevant docs version branch using git clone"

[2018-11-30 00:09] sergeyklay commented on #1758
@sandrokeil I found a bug. Thinking about a possible solution.

[2018-11-30 01:57] dly667 commented on #1768
thanks

[2018-12-01 12:46] #1758 closed, assigned to sergeyklay

[2018-12-01 12:47] sergeyklay commented on #1758
Fixed in current `development` branch. Thank you for the report, and for helping us make Zephir better.

[2018-12-01 13:44] sergeyklay commented on #1751
@zuozhehao I'll take a look a bit later. Most likely in the next week. Thank you for the report.

[2018-12-01 19:18] sergeyklay commented on #1524
Fixed in the `0.10.11` version. Thank you for the report, and for helping us make Zephir better.

[2018-12-01 19:18] #1524 closed, assigned to AlexNDRmac

[2018-12-02 17:07] arkanSoul opened #1774 "foreach loop"
Just found out about zephir and I try to figure it out.
I am passing an array but I get this error when `zephir build`

[code]

[code]

Can you provide an example please; Thanks in advance.

[2018-12-02 17:10] sandrokeil commented on #1774
You have to use a [for statement](
https://docs.zephir-lang.com/en/0.11/control-structures).

[2018-12-02 17:17] sergeyklay commented on #1774
@arkanSoul  There is no `foreach` control flow statement for traversing items in a collection/arrays. As @sandrokeil mentioned you have to use `for` instead.

[2018-12-02 17:17] #1774 closed, assigned to nobody

[2018-12-05 03:23] dschissler commented on #1720
@niden @sergeyklay

From the Phalcon blog:

Like a drunken philosopher prophet - this best kind.  If you want to know about the Wall then I'll break that down for you as well.

[2018-12-08 14:40] CameronHall opened #1775 "Segmentation Fault: Manipulating an undefined variable as an array"
When running PHP as CLI `$_SESSION` is undefined. So attempting to call this function will attempt to append an array element to an undefined variable which results in a segmentation fault.

[code]

Thanks :)

[2018-12-09 10:11] ghost opened #1776 "File already exists at path: IR/compiled-files-sum"
Hello! I have this problem for more than a while now, I do not know exactly where I made a mistake, the only solution I found is to delete the .zephir folder. But then build time takes longer. Thanks :)

https://imgur.com/a/dWnX3NB

[2018-12-11 14:23] niden commented on #1776
You can also run

`zephir fullclean`

before running

`zephir build`

[2018-12-11 14:25] ghost commented on #1776
@niden Yes, but then build time takes longer.
Edit: The biggest problem is that I just make a small change and build time takes longer.

[2018-12-11 14:26] niden opened #1778 "zephir stubs - missing "use" statements"
The stubs generated using `zephir stubs` are missing the `use` statements at the top of the file.

This might not be a problem since for most of the stubs we have the fully qualified namespace for certain elements i.e.

[code]

However it seems return variables are not properly parsed
[code]
The same happens with variables
[code]
I think either we need to add the `use` statements at the top of the

[2018-12-11 19:57] onshorechet opened #1779 "Array of object as return type is reported to php as type, not array"
Returning an array of type in zephir is reported as just the type to php.  Because of this is it impossible to correctly implement override methods in php.  Below is the minimal example.  You can also note the use of this in the cphalcon project in, https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep::1653.

Zephir-Lang
[code]

Php Class:
[code]

Centos7 with Zephir@0.11.8 and Ze

[2018-12-11 22:27] CameronHall opened #1781 "Zephir fullclean exception"
This is an issue on Zephir 0.11.8

[code]

[2018-12-11 22:32] danhunsaker commented on #1781
Line 404? I think it's lying. I can't find that line anywhere... 😜

[2018-12-11 23:16] #1776 closed, assigned to sergeyklay

[2018-12-11 23:17] sergeyklay commented on #1776
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2018-12-11 23:22] sergeyklay commented on #1781
@CameronHall I'm unable to reproduce. Could you please provide the `cache/IR` directory contents?

[2018-12-11 23:26] CameronHall commented on #1781
I'll provide you with a copy the next time I hit the error.

[2018-12-11 23:32] CameronHall commented on #1781
Here you go.
[code]
[a5d572c9446be2a0.zip](https://github.com/phalcon/zephir/files/2669848/a5d572c9446be2a0.zip)

[2018-12-12 13:05] #1781 closed, assigned to nobody

[2018-12-12 22:39] sergeyklay commented on #1779
@chet0xhenry I found a bug. Working on possible solution

[2018-12-13 23:47] niden opened #1783 "Access to constants in array or `let`"
It appears Zephir doesn't like constants
[code]

Code to reproduce:
**Fails**
[code]

**Fails**
[code]

**Fails**
[code]

But if I replace the constants with their actual values, the extension compiles fine
[code]

[2018-12-16 08:39] mrtwj opened #1785 "Noob questions."
0. Is there a more appropriate forum for noob questions than in issues?
1. Does Zephir support true generics in some form e.g. Java generics?
2. What are the limitations of closures? There's no callable type supported that I can see, so how would you assign a closure to a variable?
3. Does Zephir support generator yield syntax?
4. What salient PHP 5.X and 7.X features are missing from Zephir?
5. I

[2018-12-16 09:09] phalcorine commented on #1785
For question 5 @travis-fyf , you could check out this link: https://docs.zephir-lang.com/

[2018-12-20 21:35] niden opened #1790 "Error message '?'"
[code]
The last line does not compile and you get
[code]

We need a bit better error message on these kinds of errors - not supported functionality.

Reminder: Discord _Serghei change error message so that I'll see the error quickly_

[2018-12-21 13:21] RikudouSage opened #1791 "Add support for operator overloading"
Hello, do you plan to add support for operator overloading?

The issue #541 was closed without any message.

[2018-12-21 18:31] ismail0234 commented on #1530
Is there a valid solution?

[2018-12-26 17:18] npfedwards opened #1792 "Segfault when running phpunit"
I'm running phpunit on a phalcon project and getting a segfault on the first test that actually interacts with the extension. I assume it's a Zephir issue given it's a segfault. Here's the trace.

[code]

PHP7.3 Phalcon 3.4.2

[2019-01-06 12:08] dongasai opened #1793 "What should “.gitignore” look like?"
How should I set the version control rules for my custom extensions?

[2019-01-06 12:13] dongasai commented on #1793
In the rule of "https://github.com/phalcon/cphalcon/blob/master/.gitignore" "ext/kernel, *.zep.c, *.zep.h" file is to join a version control, but in the "https://github.com/phalcon/cphalcon/blob/master/CONTRIBUTING.md" is not allowed in the version control

[2019-01-06 22:05] sergeyklay commented on #1793
@dongasai The initial idea was that only maintainers add these files. Perhaps this will be changed in the future. Any modern project written on Zephir, can completely ignore the `ext` directory. Btw, Phalcon has a lot of C files inside `ext` directory which are created by hand.

[2019-01-06 22:05] #1793 closed, assigned to nobody

[2019-01-10 14:48] sergeyklay commented on #1792
@npfedwards Could you please provide a full (not modified) bt ? And secondly, is there any chance to locate test that leads to the segfault? An I'll need Zephir version

[2019-01-10 16:51] npfedwards commented on #1792
Ok some more info

[php_2019-01-10-164740_Protectorate-of-Grayson.txt](https://github.com/phalcon/zephir/files/2746304/php_2019-01-10-164740_Protectorate-of-Grayson.txt)

[2019-01-10 16:52] npfedwards commented on #1792
Pretty sure it's the first test that loads anything Phalcon.

[2019-01-14 20:17] sergeyklay commented on #1792
@npfedwards What Zephir version did you use? Also I'll need the code/test to reproduce

[2019-01-14 21:58] npfedwards commented on #1792
@sergeyklay Zephir version is above. I'll get on reproducible test case.

[2019-01-17 01:10] zachleigh commented on #1792
Having the same problem.

PHP Version: 7.2.12
Phalcon: Version 3.4.1
Zephir Version: 0.10.10-d1b4cc68d9
PHPUnit Version: 7.5.2

Full bt:
[code]

[2019-01-17 09:38] sergeyklay commented on #1792
@zachleigh Could you please disable Xdebug and try to get backtrace again? And yes, I'll need code to reproduce. As I know Phalcon has thousands of tests

[2019-01-17 19:02] niden opened #1796 "zephir api"
v4 branch
Zephir: 11.8

[code]

produces:

[code]

[2019-01-17 19:03] niden commented on #1796
@sergeyklay There you go buddy. Thanks

[2019-01-17 20:17] npfedwards commented on #1792
@sergeyklay First instantiation of an incubator MongoCollection. Phalcon\Mvc\Model does not cause the segfault. https://gist.github.com/npfedwards/df01da6507e127304a41d93ec253af6b

[2019-01-22 17:20] chang-zhao opened #1797 "No Windows Installation: install is absent, VS is not available"
I'm trying to install Zephir on Windows 7 according to the docs:

https://docs.zephir-lang.com/0.11/en/installation

[code]
Then I get `bash: ./install: No such file or directory`

Then I try to follow WINDOWS.md from zephir folder, it says:

[code]
That link says: "We're sorry, this download is no longer available."

[2019-01-22 21:06] danhunsaker commented on #1797
The docs need updating, for sure. Zephir is now installed using Composer, or by grabbing the latest PHAR from GitHub.

Note, however, that Windows 7 may not be supported properly.

[2019-01-22 22:28] chang-zhao commented on #1797
Make a checklist as a part of the development process. Like,
[code]
For now, I would like to know exactly:

  * Is Wndows 7 supported properly?
  * Or should I use Linux?

Otherwise I shouldn't waste my time.

Thank you.

[2019-01-22 22:35] danhunsaker commented on #1797
How do I put this without being rude ....

Windows 7 is very old, and isn't supported by _most_ software released in the last few years, including PHP itself. It will stop receiving security updates in less than a year (though, to be fair, only _just_ less). It's a good idea to move to something else, be it Windows 10, Linux, or something else entirely, just in general, not just for Zephir support

[2019-01-22 22:41] chang-zhao commented on #1797
That is not so. Windows 7 is being supported by the latest PHP.
https://secure.php.net/manual/en/install.windows.requirements.php
Anyway, with your attitude Zephir seems not worth trying.
Goodbye.

[2019-01-22 22:41] #1797 closed, assigned to nobody

[2019-01-23 13:24] danhunsaker commented on #1797
I stand corrected on PHP's support status, though I'll point out that Windows has always been a second-class citizen with PHP support, no matter the version.

That said, it's still dangerously close to EOL, and the support overhead is excessive for a project with a team this small. So we won't be able to help much with Win7-specific issues. That's my entire point, there.

I agree, all that said, t

[2019-01-23 17:05] chang-zhao commented on #1797
People might try the software on their desktop OS, and then recompile it on Linux for production. So there is no issue, Windows 7 or not.

As for support, I have no idea what special support it would need.

Anyway, the documentation is messed up, the installation procedure is messed up. First I had to installl MinGW, then it appears it doesn't have the necessary commands, so I had to install MSYS,

[2019-01-27 23:50] niden opened #1798 "[NFR] zephir api -> markdown"
It would be great if `zephir api` can produce markdown based on a template provided.

[2019-01-28 03:18] niden opened #1799 "[NFR] zephir api -> JSON"
Relating to #1798

If we can get the `api` command to generate a JSON file then that would probably be better since then a simple parser can be used to generate documentation for whatever purpose.

Perhaps reuse the `stubs` code to parse those and offer JSON back?

Example JSON could be:

[code]

[2019-01-30 22:53] #1779 closed, assigned to sergeyklay

[2019-01-31 08:16] sergeyklay commented on #1779
Fixed in the `development` branch. I'll release new version ASAP. Feel free to open a new issue if the problem appears again. And thank you for contributing.

[2019-02-02 08:48] xqkeji opened #1801 "Does zephir-0.11.9 not support window?"
After upgrading to zephir-0.11.9, zephir build prompts: "[NOTE] Installation is not implemented for Windows yet. Aborting."

[2019-02-10 10:06] C0DE8 commented on #1624
I got this error too:

[code]

class (with ERROR):
[code]

class (without error):
[code]

I need to combine the strings first and then do stuff with it, before returning it.

Whats wrong?

[2019-02-10 10:23] C0DE8 commented on #1624
So I've got a solution  :-)

[code]

[2019-02-12 16:47] dschissler commented on #1740
I just wasted 15-20 minutes going through logs trying to find a web server config bug only to discover that `zephir build` did not either build or install the latest code.  In this instance I had not done any renaming of files or namespaces.  There is something wrong and I can't trust the cache **at all**.

[2019-02-12 21:48] niden opened #1802 "Observed variable #0 has invalid type 192 [(null)]"
I am experiencing a "weird" behavior. Running the test suite on v4 branch (my fork) produces errors in travis.

https://travis-ci.org/niden/cphalcon/jobs/492392066#L4269

Initially the errors pointed to `xdebug` but continued after disabling it

[code]

The test that fails is:

[code]

and the underlying zephir code is:
[code]
and the Request is:
[code]

[2019-02-13 00:50] danhunsaker commented on #1802
Pretty sure this is tied to the fact Travis only provides ZTS versions of PHP, which aren't exactly stable, still. Hence why none of the major distros ship it, preferring the non-thread-safe (NTS) builds instead. I'm guessing this isn't an issue you see locally?

[2019-02-13 01:08] niden commented on #1802
Yes locally all tests pass just fine :/

[2019-02-13 01:13] danhunsaker commented on #1802
Then yeah, it's almost certainly a ZTS bug.

[2019-02-13 05:31] ruudboon commented on #1802
Is there a workaround to run Travis non-thread-safe so it's not blocking development?
@danhunsaker I see your pull here (https://github.com/travis-ci/php-src-builder/pull/24) is this something we have to wait for to get integrated?

[2019-02-13 07:03] danhunsaker commented on #1802
Build it ourselves, and yes, respectively.

[2019-02-13 20:55] dschissler opened #1803 "Remove "Old Style" constructor support from Zephir"
Since Zephir is going PHP 7.2+ then this feature can be removed from latest Zephir.  Simply delete out the Zephir compiler code that treats it as a constructor.

[Constructors and Destructors](http://php.net/manual/en/language.oop5.decon.php).

Also

[code]

I'd like to be able to compile the following Zephir but I can't.

[code]

Refs: https://github.com/phalcon/zephir/issues/934

[2019-02-13 21:10] dschissler commented on #1803
Another weird point:

So all Zephir could have this removed since Zephir classes will always be namespaced.  So this has basically never been relevant in the lifetime of Zephir, which is PHP 5.3.3+.

Now I have to rename either my Gettext class and namespace or the gettext method.  Really annoying!  I've had to bleed all over the damn place to get my extension to the place it is now.

[2019-02-13 21:18] dschissler commented on #1803
Correction, I can compile it but it crashes PHP and so I have to delete my installed extension to be able to continue.  So somehow PHP is treating classes from the Zephir compiled .so as different than normal PHP.  At any rate with whatever solution this is bad behaviour.

[2019-02-14 18:47] pejman-hkh opened #1804 "install file not exist"
`
bash: ./install: No such file or directory
`

[2019-02-15 01:47] danhunsaker commented on #1804
The latest version of Zephir is installed via Composer, or by downloading the `.phar` from the GitHub Releases page. The install script has been removed.

We're still going through all the documentation to update it with all the changes we've made recently.

[2019-02-15 10:06] pejman-hkh opened #1805 "Call protected function as static function with __callStatic ?"
I want to use call static function in php and call protected function as static function but i got error :

`
[ERROR] Cannot call non-static method 'server' in a static way in
       App.zep on line 7
`

[2019-02-15 16:04] #1804 closed, assigned to nobody

[2019-02-16 16:14] sergeyklay commented on #1802
backtrace
[code]

[2019-02-16 19:43] sergeyklay commented on #1802
In C (Zend Engine) the `string` data type is _not scalar_ type. It is complex type. So we have to grow memory stack to handle each complex variable. Besides this we must free the memory. I researched your `Request` class and saw that you pass a string variable to the constructor, but do not use it.

[code]

After this fix

[code]

 the problem was resolved

![image](https://user-images.githubuserc

[2019-02-16 19:43] #1802 closed, assigned to sergeyklay

[2019-02-17 06:03] dreamsxin commented on #1796
The error may be caused  by conflicts of enabling `short_open_tag = on`.

[code]

[2019-02-17 06:43] danhunsaker commented on #1802
Seems like the kind of thing we'd want to detect during `generate`, so we can either optimize the code we generate to skip handling values that aren't used, or to at least warn the dev that they need to use such variables in order to prevent runtime crashes. I'd probably do both, personally.

[2019-02-17 16:00] #1179 closed, assigned to nobody

[2019-02-18 19:00] #1090 closed, assigned to nobody

[2019-02-18 19:03] sergeyklay commented on #1530
@dreamsxin It seems we need you here. Could you please take a look

[2019-02-18 19:04] sergeyklay commented on #1751
@dreamsxin Could you please take a look

[2019-02-19 03:53] dschissler commented on #1751
@zuozhehao You should be able to get it to work for now by changing it to:

[code]

Its because the thingy thing can't get up to the thing.

Other than that Yeaaah baby yeeaah, I've loving the new anon functions.  @sergeyklay @dreamsxin You guys make drinking fun again. :beer: :beers: :beer: :beer: :beer:

As you can see I'm doing all kinds of wonderful that wasn't possible until recently.

[code]

[2019-02-19 07:28] dreamsxin commented on #1530
I can't  reproduce,

[code]
Another test code:
[code]

Phalcon v3.4.0
[code]

[2019-02-19 09:55] dreamsxin commented on #1751
@dschissler You are right.

It's just a matter of parsers.

[code]

[2019-02-19 15:41] sergeyklay commented on #1604
Fixed in the `development` branch. Thank you for contributing

[2019-02-19 15:41] #1604 closed, assigned to AlexNDRmac

[2019-02-19 20:58] sergeyklay commented on #1530
@dreamsxin You have to use Zephir 0.10.x for Phalcon 3.x and Zephir 0.11.x for Phalcon 4.x. This is why you get "PHP Fatal error" for Phalcon v3.4.0 using Zephir 0.11.x

Did you use Thread-Safe extension with Apache ? It is important here

[2019-02-19 21:05] sergeyklay commented on #1751
Anyway it is issue I guess (although not critical).

[2019-02-19 21:13] sergeyklay commented on #1775
@dreamsxin In fact, this is an annoying problem with superglobals. It seems I have already solved this issue once. But as we can see - not. Maybe you will be able to see what I didn't see.

[2019-02-19 21:30] sergeyklay commented on #1618
@dreamsxin Another strange issue that seems to have always been. Could you please look at this

[2019-02-19 21:48] sergeyklay commented on #1783
@niden Yes, it is old issue. First of all this may not work if you trying to compile with disabled memcached extension.  Theoretically you can even compile it, but I want to draw your attention that Zephir is not PHP and the value of the constant will not calculate dynamically. The value of the constant will be calculated once, at compile time. Thus, if the user updates the memcached, he may be un

[2019-02-19 21:51] sergeyklay commented on #1538
@mruz Is it still actual? Could you please provide the way to reproduce?

[2019-02-19 21:53] dschissler commented on #1751
Maybe whoever tackles that can get `::class` working since there may be some overlap in research.  With this bug fix and that new feature then Zephir pretty much has all of the basics.

[2019-02-19 22:26] niden commented on #1783
No I actually never did. I circumvented the issue by putting the actual value of the constant :)

This can be closed.

[2019-02-19 22:52] #1783 closed, assigned to nobody

[2019-02-20 05:24] dreamsxin commented on #1618
PHP 7.2
Zephir 0.11.10 can't reproduce, it's initialize:
[code]
@chilimatic You can test again use Zephir 0.11.10

[2019-02-20 06:06] dreamsxin commented on #1530
@sergeyklay I don't have an apache environment.

[2019-02-20 07:02] dreamsxin commented on #1775
@sergeyklay How did you solve it?

Option one, change `zephir_array_update_*` check it is null, and throw a warning.
Option two, use copy:
[code]

[2019-02-21 08:13] #1751 closed, assigned to nobody

[2019-02-21 09:43] #1775 closed, assigned to nobody

[2019-02-21 10:19] sergeyklay commented on #1805
@pejman-hkh Could you please provide a code to reproduce

[2019-02-21 11:36] sergeyklay commented on #1530
@dreamsxin Is there any chance that you will be able to use a Docker or any VM?

[2019-02-21 11:43] dreamsxin commented on #1530
@sergeyklay I'm not sure that under Linux, libapache-mod-php uses thread safe, and my computer is too old. It would be great if you can test and get core dump.

[2019-02-21 12:06] sergeyklay commented on #1400
@dreamsxin Could you please take a look

[2019-02-21 12:09] CameronHall opened #1818 "Objects are not traversable with foreach"
Presently, the only way to iterate over an object is with the PHP userland method `get_object_vars()`.
I believe [this check](https://github.com/phalcon/zephir/blob/0a5dcb6b00fdf4ae267f676d580a3ac3d4ccc339/kernels/ZendEngine3/main.c#L35) should consider whether the parameter inherits `ArrayAccess` or any other classes that inherit `Traversable`

[2019-02-21 12:14] pejman-hkh commented on #1805
[code]

[2019-02-21 12:37] hakimio commented on #1530
@dreamsxin you should be able to reproduce the issue with TS php-cli as well.

[2019-02-21 12:43] ViltusVilks commented on #1818
Yes, it will be very good, because yield also should be somehow implemented.

[2019-02-21 12:51] CameronHall commented on #1818
Looks like https://github.com/phalcon/zephir/issues/1400 is related.

[2019-02-21 14:03] dreamsxin commented on #1530
@hakimio Can't reproduce, Previously tested in CLI

Ubuntu 16.04
Zephir 0.11.10
PHP 7.2.15 (cli) (built: Feb 19 2019 16:14:30) ( ZTS DEBUG )
Phalcon v4.0.0-alpha.2

[2019-02-22 08:27] dreamsxin commented on #1791
Please give some Exmaples.

[2019-02-22 10:01] dreamsxin commented on #1801
Download url https://github.com/phalcon/php-zephir-parser/releases/tag/v1.2.0
Supported PHP versions: 7.0, 7.1, 7.2, 7.3 and 7.4 (nightly).

[2019-02-22 18:22] #1400 closed, assigned to nobody

[2019-02-23 01:54] dreamsxin commented on #1801
Install and compile must be manual compilation.

[2019-02-23 05:18] dreamsxin commented on #1818
I will try to implement.

[2019-02-23 10:17] #1801 closed, assigned to nobody

[2019-02-24 00:55] dschissler opened #1823 "Add abiilty to check for types using the fetch operator"
Currently we can do the following:

[code]

I'm thinking that it would be great to be able to type the fetch like this:

[code]

If more fine grained control was needed then just don't use the types.  Sometimes I won't want to check the existence first to throw an exception, then if it doesn't exist and then another check with exception if the type doesn't match.  However sometimes I don't care th

[2019-02-24 01:12] dreamsxin commented on #1823
Like this?
[code]

[2019-02-24 01:25] dschissler commented on #1823
Of course it can be done without new language features.

[2019-02-24 09:17] #1818 closed, assigned to nobody

[2019-02-24 09:20] sergeyklay commented on #1595
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-02-24 09:20] #1595 closed, assigned to nobody

[2019-02-24 11:27] sergeyklay commented on #1823
It more looks like a [pattern matching](https://en.wikipedia.org/wiki/Pattern_matching)

[2019-02-24 12:40] dreamsxin commented on #1792
Mybe same

https://github.com/phalcon/zephir/issues/1775
https://github.com/phalcon/cphalcon/issues/13703

[2019-02-24 19:21] ViltusVilks commented on #1823
Already mentioned in discord - isbool isstring etc macros also can be added.

`if isset X && typeof X === T` currently using a lot of in param check.

[2019-02-25 04:17] dschissler opened #1824 "Add ability to assign default value using the fetch operator."
I'm thinking that it would be nice to be able to assign default values for perhaps just some simple values (no object instantiations) using the fetch operator.

So this real Phalcon code from the PDO class could be simplified.

[code]

into this:

[code]

I'm thinking that perhaps it would be best to keep it to be able to only set it with; an empty array, number, boolean or string.  That would do

[2019-02-25 08:29] sergeyklay commented on #1200
This has been addressed

[2019-02-25 08:29] #1200 closed, assigned to nobody

[2019-02-25 08:29] sergeyklay commented on #1159
@dreamsxin Could you please take a look

[2019-02-25 08:31] sergeyklay commented on #1140
@dreamsxin Could you please take a look

[2019-02-25 09:22] dreamsxin commented on #1159
@sergeyklay Yes sir.

[2019-02-26 21:18] sergeyklay commented on #1159
Fixed in the [0.11.11 version](https://github.com/phalcon/zephir/blob/development/CHANGELOG.md#01111---2019-02-26). Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-02-26 21:18] #1159 closed, assigned to nobody

[2019-02-26 21:18] sergeyklay commented on #1140
Fixed in the [0.11.11 version](https://github.com/phalcon/zephir/blob/development/CHANGELOG.md#01111---2019-02-26). Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-02-26 21:18] #1140 closed, assigned to nobody

[2019-02-26 21:22] sergeyklay commented on #1785
@mrtwj We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com) as well as [Discord server](https://phalcon.link/discord). Sorry it took this long

[2019-02-26 21:22] #1785 closed, assigned to nobody

[2019-02-26 22:37] CameronHall commented on #1530
@dreamsxin I managed to produce a dump. That's a pretty version produced by `DebugDiag Analysis 2`  that you'll need to open with a browser.

If you need the `.dmp` let me know on Discord.

[2019-02-26 23:10] dreamsxin commented on #1530
I will feedback

[2019-02-27 04:59] dreamsxin commented on #1530
@CameronHall  Unfortunately, my computer is not Windows.
And the use of virtual machines (xp systems), as shown below

I want to admire that the document is too big.

[2019-02-27 05:07] CameronHall commented on #1530
No worries. If you're okay with the HTML files from DebugDiag, I can generate them for the other dumps I send to you via email.

[2019-03-04 02:57] dschissler commented on #1702
This just struck me again during a refactor.  Its difficult because not many languages require you to declare variable beforehand but then don't offer assistance around that.

[2019-03-07 14:55] RikudouSage commented on #1791
For example, let's say I have a class named `BigNumber` for working with large numbers.

Right now I would need to define methods for additions etc. and use them like this:

[code]

What I would like to achieve is skip the method call and work with the objects like this:

[code]

[2019-03-08 11:50] glanceded opened #1827 "Using C constants from header file in zephir code"
I am trying to use a c header file constants.h and inserting it in constants-sources directive from config.json file, but it seems that i can' use those constants in my *.zep files.

Is this possible? I have managed to use the custom optimizers to achieve the same thing that could be achieved with a simple header file...

[2019-03-09 12:27] ViltusVilks commented on #1827
You can use regular PHP ext constants, i.e. defined in .zep files.

[2019-03-10 08:14] CameronHall commented on #1530
I sent @dreamsxin the dumps. I also sent him this stack trace.

[code]

[2019-03-10 11:46] sergeyklay opened #1828 "Compilation error for instanceof"
Steps to reproduce:

[code]

The error message:
[code]

[2019-03-10 13:18] sergeyklay commented on #1259
@dreamsxin Could you please take a look?

[2019-03-12 01:40] dreamsxin commented on #1530
I can't see the problem from this information. If I can reproduce it from linux, I can write different code to test it.

[2019-03-12 08:22] hakimio commented on #1530
@dreamsxin Have you tried to run Phalcon CLI TS with pthreads / multiple threads?

[2019-03-13 08:15] ruudboon opened #1830 "Compiling warnings"
As discussed in Discord, when compiling Phalcon 3.4.3 with PHP 7.3 it's generating some warnings.
[code]
Can we resolve this with this warning message, or do we need more info?

[2019-03-13 15:28] danhunsaker commented on #1830
Isn't there a more recent Phalcon that's actually 7.3 compatible?

[2019-03-13 23:00] CameronHall commented on #1830
@danhunsaker that would be 3.4.3 if I'm not mistaken.

[2019-03-14 00:20] danhunsaker commented on #1830
Ah. Must be crossing projects in my head.

Carry on!

[2019-03-16 21:03] colorvamp opened #1831 "Zephir is unable to array_shift an array the first call"
Zephir code:

[code]

PHP code:

[code]

Output:

[code]

Note that second print_r should be an empty array. array_unshift seems to work ok. I am doing something wrong?
Zephir 0.11.11

[2019-03-18 10:15] dvil88 commented on #1831
I think this is worse than only an array_shift failure. I've wrote some tests and the behavior is totally unexpected:

Zephir:
[code]

PHP test code 1:
[code]
Result:

[code]

PHP test code 2:
[code]

Result:

[code]

Equivalent class in PHP:
[code]

This class is working perfectly with test 1 and 2:
Test 1 result: [https://3v4l.org/In9J8](https://3v4l.org/In9J8)
Test 2 result: [https://3v4l.org/Z

[2019-03-18 23:34] dreamsxin commented on #1831
I will test

[2019-03-19 10:46] #1831 closed, assigned to nobody

[2019-03-19 10:48] dreamsxin commented on #1779
Fixed in the development branch. Feel free to open a new issue if the problem appears again. And thank you for contributing.

[2019-03-19 13:25] CameronHall commented on #1530
@hakimio I've just tested this myself on PHP 7.3 CLI TS on Apline Linux and can confirm (not with pthreads) that the issue is not reproducible. If you're interested in how I tested let me know and I'll create a repo.

Right now, I'm creating a Windows 10 VM on Azure for @dreamsxin to play with.

[2019-03-19 13:28] hakimio commented on #1530
@CameronHall it has to be multi-threaded app, because the issue is with thread-safety.

[2019-03-19 14:41] CameronHall commented on #1530
That would make sense. Apache would typically do that for us... does
someone have a sample multi-threaded app?

On Wed, 20 Mar 2019 at 12:29 am, Tomas Rimkus <notifications@github.com>
wrote:

[2019-03-19 16:19] Jurigag commented on #1510
@dreamsxin Could you look into this somehow and check out what could we do here?

[2019-03-20 00:18] dreamsxin commented on #1510
It is better to directly call the kernel method or the Ç function to reduce the use of zend_call_*

[2019-03-20 10:05] Jurigag commented on #1510
Yea but it's too complicated to do it in zephir code.

[2019-03-20 10:57] sjinks commented on #1510
This thing is very complex to implement it properly :-(

When PHP compiles the code, it can calculate FCI fields in advance and make every suitable FCALL reference the respective FCI structure. If we populate the FCI at runtime, there are several challenges:
  * FCI depends on the method visibility (i.e., if we call a protected or private method, we must take into account relationships between cla

[2019-03-20 15:09] Jurigag commented on #1510
Well at least implementing it as low-level API could be fine, to add it in most of the areas where we can achieve actual performance boost, i guess mostly with same method called multiple times.

Though im still wondering how much it would affect performance, like searching all those hashes vs calling it typically.

[2019-03-21 13:19] garciac12 opened #1834 "Problems with compiled PHP"
Hi, for a project I need PHP with ZTS to use Threads. I do this with out problelm and put the new compiled version of php in /opt/php7 directory.
I have a little library where I need use Zephir, my problem is, when I make the module, the PHP version for link is the system PHP and not the new one.
After a few tests, I found the problem. When the command Compile is executed, and run ./configure, thi

[2019-03-22 01:11] dreamsxin commented on #1834
[code]

[2019-03-22 01:24] CameronHall commented on #1530
@dreamsxin I sent you an email yesterday with the details to access the VM.

[2019-03-22 02:00] dreamsxin commented on #1530
@CameronHall I will try.

[2019-03-22 09:20] sergeyklay commented on #1834
Hello @garciac12

We'll try to sort out with this. Thank you for the idea.

[2019-03-23 04:02] CameronHall commented on #1530
@dreamsxin I believe the issue may haver to do with the [zephir_deinitialize_memory method](https://github.com/phalcon/zephir/blob/bf422be11873e51d383627a8d51d1b50645c9be6/kernels/ZendEngine3/memory.c#L348-397). Though I don't know enough about the PHP Internals to be sure. Do you have any ideas?

[2019-03-23 04:09] dreamsxin commented on #1530
Maybe double free the zval.

[2019-03-24 12:26] dschissler opened #1835 "Untenable situation with null values"
@sergeyklay I've been working with both Zephir `0.10.15` and `0.11.11` and to my horror I discovered the very sad state of `null`.

Basically `==` doesn't work in any contexts.  Nor does `===` work.  `is_null` and the `empty` operator both work correctly but only if the variable was initialized to null.  Here is the real kicker though: `var_export` will always print the variable as `null`.  Huh, s

[2019-03-24 12:37] dschissler commented on #1835
So I even tested the fetch operator to see if what came out the other side was a `null` when it didn't find the key.  I logged it with `var_export` as a `null`.  Hell.  So cowboy programmer says *"My uncle Larry said a `null` is a `null` is a `null`. Its what he told me.  I dunno"*.  Nope.

If this doesn't get fixed you're just asking for hurt.

[2019-03-25 10:53] ViltusVilks commented on #1835
Basically, Zephir should handle `ZVAL_UNDEF` somehow, but it is very sensitive, because Zephir is just a `proxy` language to C

Not always `== null` means that `zval` variable has type/value NULL, it is really can be that zval can be null ref pointer (UNDEF)...

From sources...

1.  `=== null`
2. `if (Z_TYPE_P(...) == IS_NULL)`
3. `Z_TYPE_P(*zval)` -> `Z_TYPE(zval)`
4. `Z_TYPE(zval)` -> `zval_get_

[2019-03-26 03:17] dschissler commented on #1835
I possess no ability to make sense out of that `Z_` stuff.  Is this confirmed as a bug?  If so a serious bug label would be in order.

Also simple yes/no question about `==` and `===`:  Are those two operators in fact bugged?  I can understand if there is undefined behaviour if the value isn't initialized but it seems simply wrong that they don't work on a proper `null`.  Feel free to answer howev

[2019-03-26 08:24] danhunsaker commented on #1835
So the answer is no, this isn't a bug, but a side effect of how PHP (and the Zend engine that powers it) create and store variables. What PHP considers a `null`, C (and Zephir, by extension) sees as a complex data structure that can store any of several types of value, complete with a handful of supporting values to indicate that variable's type and state. This structure does not, in fact, equal `

[2019-03-26 08:50] dschissler commented on #1835
Perhaps some remedies for this.

1) Make the `fetch` operator set the value to a proper PHP `null` (if it isn't) if the fetch doesn't happen.  Perhaps for efficiency sake it could do this only if no `else` block is used, since there is an opportunity to set it to something other than null and so to prevent setting it twice.  Maybe this is too convoluted.
2) Make it exceedingly clear in the documen

[2019-03-26 08:57] dschissler commented on #1835
I could live with just that but the real difficult part is that `var_export` also describes it as a null.  This makes discovery unlikely.  Its by far the worst gotcha that I've encountered after about a year of working with the language.  Other bugs and limitations are much more in my face, even if they are unintuitive.  This ~~bug~~ language feature could destroy people.

[2019-03-26 18:47] joeyhub opened #1837 "No documentation"
This programming language has no documentation. It just has example code snippets you can copy and paste.

It would be great to get actual documentation and a language reference. For example, how do I define a nullable type? Can I have multiple namespaces in one file like in PHP, etc?

[2019-03-26 18:48] joeyhub commented on #1837
Basically you've made the mistake of copying the symfony style of documentation which IS NOT DOCUMENTATION. It's boilerplate.

[2019-03-26 18:53] joeyhub commented on #1837
I see the problem, you've put namespace documentation under basic syntax, because you've unnecessarily made it mandatory, so it's hard to navigate to.

[2019-03-26 18:53] #1837 closed, assigned to nobody

[2019-03-26 19:25] joeyhub commented on #1835
This is the same bother with null you get in MySQL.

For [reference](http://fatmouse.org/): FATMOUSE + YOU = FATMOUSE

Replace FATMOUSE with NULL and now you know how it works.

The problem is not concisely explained. What's happening here is that it's doing this:

`$var = null;
var_dump($var === null); // In zephir this returns null rather than trudat.`

As in it does something strange that would

[2019-03-26 19:51] joeyhub commented on #1828
This has always been a problem in php, you have to use is_a.

[2019-03-26 20:28] joeyhub opened #1838 "Zephir doesn't do anything"
I try to run zephir but it screams and whine about namespaces all the time. Why can't it just take a zep file and turn it into C? Why is it trying to be composer?

[2019-03-26 20:37] joeyhub commented on #1838
[code]

In reality: `zephir init [options] <namespace>`

The namespace is mandatory.

[2019-03-26 21:04] joeyhub opened #1839 "Unknown type: add"
grep -R add returns nothing. This error is all I get on zephir generate.

[2019-03-26 21:07] joeyhub commented on #1839
Are you just concatenating the param types with no separator and not showing context? My params are alphabetical. Though not in this source code so it's not that.

[2019-03-26 21:18] joeyhub commented on #1839
It's got to be the add operator that's just plain broken.

[2019-03-26 21:22] joeyhub commented on #1839
Yup it's doing the same for div.

[2019-03-26 21:27] joeyhub commented on #1839
This is the wonderful error message you get when you put a complex expression into a var.

[2019-03-26 21:27] #1839 closed, assigned to nobody

[2019-03-26 21:33] joeyhub opened #1840 "Impossible to return variables/mix types."
```Returned values by functions can only be assigned to variant variables.```

If I change it to var...

```Cannot operate 'variable' with variable ('int')```

Basically if I do everything is int, like int param, -> int, int var, etc nothing works, types are incompatible with themselves.

[2019-03-26 21:38] joeyhub commented on #1840
The function return result an explicit cast to int in the caller, even though the function is from zephir.

[2019-03-26 21:38] #1840 closed, assigned to nobody

[2019-03-26 21:48] joeyhub opened #1841 "Support cast in var."
If I do var x = (int)(a - b); I get unknown type, cast. It seems to just be hoping for a literal type or something (somehow magically works for function calls though).

Anonymous functions also don't seem to take a return type. Similarly float x = expr gives me strange results like unknown type, list.

[2019-03-26 22:04] joeyhub opened #1842 "Allow closures to use."
There's no way for a closure to use, making them useless as replacements for php closures.

Even `function() {echo this->a;}->bindTo((object)["a": 123])()` won't work as it's creating some kind of hidden meta class for it and not finding the property.

[2019-03-26 22:12] joeyhub opened #1843 "I get non-existent warning function for existent function."
If I have the param <Closure> cb then cb() in that function...

`Warning: Function "cb" does not exist at compile time.`

I'm guessing it's probably trying to call it by name if I run it. Given ->call will break the bind the only thing that seems like it can work is call_user_func.

[2019-03-26 22:46] joeyhub commented on #1842
It works with the hidden object cast using <stdClass.>

[2019-03-26 22:46] #1842 closed, assigned to nobody

[2019-03-26 22:47] dschissler commented on #1835
Break all of the things so that its not broken.

[2019-03-26 23:08] dschissler commented on #1841
Maybe Zephir needs to borrow a complex operator test kit from another language to see if things should be changed.

[2019-03-27 03:31] joeyhub opened #1844 "Zephir can barely handle any non-trivial mathematical expression, unsafe for use."
I have some mathematical expressions, nothing crazy and zephir is messing up all over the place. It's just not safe to use. You can't trust it without extensive testing and verification.

In one case I had something like:

[code]

In this case to convert it to C it just needs remove let. I could compile it with sed or grep.

What happens instead is that for some reason it decides to make it a zval

[2019-03-27 03:34] joeyhub commented on #1844
Also you're putting in the macro for zts when calling in the param list but not in the callee's function prototype.

[2019-03-27 03:49] joeyhub commented on #1844
As a matter of emergency you need to remove mentions on the site of it making things more reliable. It is somewhere between alpha and beta test level of quality, you can't make out like it's good to go when it has fundamental catastrophic deficiencies that can result in significant damage without immediate detection, like it getting the wrong types even when you specify the right types then silent

[2019-03-27 07:47] sergeyklay commented on #1828
Fixed in the  #1829

[2019-03-27 07:47] #1828 closed, assigned to sergeyklay

[2019-03-27 16:24] joeyhub commented on #1844
Zephir is also outputting lines that are dead code and make no sense at all for complex expressions.

[2019-03-27 18:22] joeyhub commented on #1835
If you have `var x = null;return x;` it doesn't fail and returns null even if your return type is `-> int`.

[2019-03-27 19:14] joeyhub opened #1845 "Massive Overhead eliminates performance gains."
It appears zephir lacks the ability to call things internally directly?

If should always make internal C functions then add a layer to expose them to PHP. Instead it seems to call functions internally which delivers a devastating performance hit.

This hit is so extreme that it can cause zephir to perform significantly worse than PHP. It starts out a lot faster when there aren't many function cal

[2019-03-28 20:19] sergeyklay commented on #1838
It is by design. Initially Zephir _program_ was designed to create/compile/install namespaced projects written in Zephir _language_. Code in Zephir must be placed in classes. The language is intended to create object-oriented libraries/frameworks, so code outside of a class is not allowed. Additionally, a namespace is required.

[2019-03-28 20:19] #1838 closed, assigned to nobody

[2019-03-28 20:20] sergeyklay commented on #1843
Could you please provide the code to reproduce

[2019-04-03 19:27] dschissler commented on #1835
@joeyhub Could you make an issue for that?  Zephir was created to support something like PHP 5.3 and the types were probably added on bit by bit.  Probably Zephir should support nullable return types (PHP 7.1) and nulls should be reworked to some degree.  Hopefully that could occur before Phalcon 4.

@joeyhub If you are capable of working with that code then perhaps you could fix some things up an

[2019-04-14 08:51] hadi500 opened #1846 "Question : Build for another PHP version"
I have several PHP versions (ex7.1 - 7.2 - 7-3),  What should I do for build only for 7.3 or 7.2 ... ? Or build for all version in one compile ?

[2019-04-16 05:54] dreamsxin commented on #1530
Can't reproduce

- OS: Ubuntu 16
- PHP: 7.0-zts
- Zephir: 0.11.12
- Apache: Apache/2.4.18

- Server API | Apache 2.0 Handler
- Zend Extension Build | API320151012,TS
- PHP Extension Build | API20151012,TS

Zephir code:
[code]
[code]

[2019-04-16 06:23] hakimio commented on #1530
@dreamsxin didn't @CameronHall already provide you with a VM you can use for testing?

[2019-04-16 08:16] dreamsxin commented on #1530
I just had this problem with Phalcon 3.4, use Zephir/development regenerate code，the problem solving.
[code]
test.php
[code]

[code]

[2019-04-16 08:50] dreamsxin commented on #1846
Like that
[code]

[2019-04-16 08:52] dreamsxin commented on #1845
Custom Kernel c code，and use zephir optimizers.

[2019-04-16 10:29] #1846 closed, assigned to nobody

[2019-04-16 10:30] #1845 closed, assigned to nobody

[2019-04-16 12:55] CameronHall commented on #1845
@joeyhub do you have any examples of this? It's important to remember that Zephir is effectively a php-esque syntax to transpile to C and not a language itself. As such the resulting C code won't _always_ be the most efficient.

@dreamsxin mentioned Zephir Optimizers and Custom Kernel C code. If you're interested in exploring the out of the box solution, I encourage you to check out the [Zephir Op

[2019-04-21 02:57] dreamsxin opened #1848 "[NFR]Support `use` keyword in Closures"
Example
[code]

Here `$a` becomes a local static variable of function `$func`.

@sergeyklay Who can implementation parse code.

[2019-04-21 03:08] dreamsxin opened #1849 "[NFR] Support coroutine or yield"
I don't think it's very meaningful to implement yield because curl and the IO wait of PDO can't be solved. We can add libuv and boost.context implementation a lower level symmetric coroutine.

@sergeyklay

[2019-04-21 14:45] niden commented on #1848
This is definitely needed

[2019-04-21 14:49] sergeyklay commented on #1849
Yes, it seems so. Good idea, thank you!

[2019-04-21 14:52] niden commented on #1849
I will insert a picture of a dancing bear here!

[2019-04-21 20:07] sergeyklay commented on #1848
@dreamsxin I'll try to implement parser

[2019-04-22 08:03] dreamsxin commented on #1849
[code]
[code]

[2019-04-23 21:14] sergeyklay commented on #1848
Refs: https://github.com/phalcon/zephir/issues/888

[2019-04-24 19:32] sergeyklay commented on #1848
@dreamsxin Parser done https://github.com/phalcon/php-zephir-parser/pull/69

[2019-04-24 22:27] Jurigag commented on #1791
Well i guess in zephir it could be possible(the same way as we can call methods on strings currently i guess, it's similar stuff - in php you don't have strings as objects but in zephir you have - but it's only a zephir feature, after compiling extension you just have normal php functions calls) - but not sure about php-land as it doesn't provide any operator overloading at all - there is just no

[2019-04-24 22:40] RikudouSage commented on #1791
Well, it must be possible at least to some extent, because you can for example do this in php-land:

[code]

[2019-04-25 06:19] dreamsxin commented on #1848
@sergeyklay Please help optimize code in https://github.com/dreamsxin/zephir/commit/404130d0426d1e8a83d8d4e7b4ddc799d7e4b633

[2019-04-25 13:32] zsilbi opened #1851 "[BUG] Extended classes can't access their private variables"
Hey,

If a class - written in Zephir - contains private variables and extended in PHP, it won't be able to access those variables in its original methods.

I ran into this when I was trying to extend `\Phalcon\Session\Manager` and `\Phalcon\Session\Bag` in v4.0.0-alpha.4

Code to reproduce the issue:

[code]

In PHP it is extended without any new methods:

[code]

Test code:

[code]

Result:

`Not

[2019-04-25 13:36] sergeyklay commented on #1851
Thank you for the report. We'll try to sort out ASAP.

[2019-04-30 14:39] #1848 closed, assigned to nobody

[2019-04-30 15:17] Jurigag opened #1855 "Segfault with fetching and opcache"
When fetched value is empty array there are weird issues when using php7.2-fpm and opcache(doesn't happen with opcache disabled):

Zephir code:

[code]

PHP code:

[code]

php -v:

[code]

Tested on ubuntu 18.04

I reproduced this on both zephir 0.10.x and developement branch. It only fails under fpm + opcache - after many requests, i guess it's matter of php-fpm process having opcache or not. It

[2019-04-30 15:45] Jurigag commented on #1843
If this function is defined in php then compiler doesn't know about it until you will import it somehow during compilation.

[2019-04-30 16:23] sergeyklay commented on #1843
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2019-04-30 16:23] #1843 closed, assigned to nobody

[2019-05-01 00:11] dreamsxin commented on #1855
@Jurigag Please try this branch https://github.com/dreamsxin/zephir/tree/1855

[2019-05-03 15:54] zsilbi commented on #1855
Thanks @dreamsxin, this fixed my problems as well.
I had a similar issue when I tried to copy an array like this:

[code]

This was the result:
[code]

[2019-05-04 01:08] dreamsxin commented on #1855
@zsilbi I get.

[2019-05-04 07:23] vega-7 opened #1858 "theresn't any installer on the zephir folder"
Cant Install/compile zephir on centos 6.10  im getting this message   ./install no such a file or directory

im trying installing to install zephir  following this tutorial https://docs.zephir-lang.com/0.11/en/installation

on this step ./install   nothing happend. i got this message ./install no such a file or directory

Looks like theresn't any installer on the zephir folder

my requirements.

o

[2019-05-04 10:08] dreamsxin commented on #1858
https://github.com/zephir-lang/zephir-docs/issues/175

[code]

In project:
[code]

[2019-05-04 14:42] #1858 closed, assigned to nobody

[2019-05-05 07:57] zuozhehao opened #1860 ""use" keyword in closures compile error"
[code]

`[ERROR] Cannot use non-initialized variable as an array in`

[2019-05-05 11:27] #1855 closed, assigned to nobody

[2019-05-06 07:49] Jurigag commented on #1855
Looks like it works.

[2019-05-06 08:17] Jurigag commented on #1855
Any idea how can i backport this to zephir 0.10.x? Just copied your code from PR but it creates then yet another seg fault somewhere else. Issue was happening for me on phalcon 3.4.3, and unforunately zephir 0.11.x and later doesn't support phalcon 3.4.x @dreamsxin

[2019-05-06 09:07] dreamsxin commented on #1855
@Jurigag Much change on the 0.11.x，you can put the core dump, i try fix it.

[2019-05-06 09:44] Jurigag commented on #1855
Unforunately only have code with phalcon calls:

[code]

On this branch - https://github.com/Jurigag/zephir/tree/0.10.x

[2019-05-06 10:38] dreamsxin commented on #1855
@Jurigag Use https://github.com/dreamsxin/zephir/tree/phalcon_3.4 test.
This is a modified version of Zephir 0.11.x.

[2019-05-06 11:51] Jurigag commented on #1855
Interesting, i will test it.

[2019-05-06 12:04] Jurigag commented on #1855
Same stack:

[code]

Just to make sure on this branch above i had the same after adding this fix - so i guess it somehow broke this code - not sure how, and why. Maybe we should also change SEPARATE_ARRAY which is called in fcall.c:425 to the code from your PR?

[2019-05-06 12:13] Jurigag commented on #1855
Well i changed this to code from your PR and have different seg fault so i guess that's not it.

[2019-05-06 12:36] dreamsxin commented on #1855
Can you give me a code that can reproduce the error?

[2019-05-06 13:16] Jurigag commented on #1855
I would need to reproduce it without phalcon first. Will try to do it in few days.

[2019-05-07 11:46] Jurigag commented on #1827
Well therotically it is somehow possible - you can actually write c code in zephir files directly.

Check this out - https://github.com/phalcon/zephir/blob/master/test/cblock.zep

So i guess you can include whatever header file you want, and assign value of constant to some variable - i guess you want to do this.

Feel free to reopen this if it doesn't solve your problem.

[2019-05-07 11:48] #1827 closed, assigned to nobody

[2019-05-07 12:03] Jurigag commented on #1845
Also there is internal keyword as far as i remember which avoids calling through zend engine and calls it on C code.

https://github.com/phalcon/zephir/pull/962

[2019-05-08 18:18] sergeyklay commented on #1860
@zuozhehao Which version do you tested?

[2019-05-09 00:35] zuozhehao commented on #1860
@sergeyklay

PHP 7.3.4 (cli)
Zephir 0.12.0

[2019-05-09 19:41] sergeyklay commented on #1860
@zinovyev We'll recheck in next days. Thank you for the report.

[2019-05-13 02:32] zuozhehao opened #1861 "Warning: Clock error detected. Your creation may be incomplete."
[code]
make: Warning: File `/example/ext/modules/example.la' has modification time 9.9 s in the future
make: Warning: Clock error detected. Your creation may be incomplete.

I tried to calibrate the system time, using `touch *`was the same error.

[2019-05-16 08:41] #1851 closed, assigned to nobody

[2019-05-18 20:58] zhaoyanliang8 opened #1863 "ZEPHIR_CALL_METHOD() zephir_call_class_method_aparams() bug"
https://github.com/phalcon/zephir/blob/df9c16e50788dc9631e7d291fc6f3c5c7f107380/kernels/ZendEngine3/fcall.c#L542
In php7, `ce->name` is `zend_string*`, We should wrap it with the `ZSTR_VAL` macro.
This is not the point

----
in "cphalcon/phalcon/mvc/controller.zep"
[code]

in php code
[code]
I incorrectly defined onConstruct as a ***private*** method, and I got an exception :

This is a confusing

[2019-05-23 00:11] dreamsxin commented on #1861
是你的文件修改日期跟当前系统时间不一致了吧。
[code]

[2019-05-24 10:21] zuozhehao commented on #1860
@dreamsxin

还有点小问题。
[code]

Compiling 正常， Installing... 报错。

查看错误日志。

[code]

尝试手动修改

zephir_read_static_property_ce(serv, test_1__closure_ce, SL("serv"), PH_NOISY_CC);

改为

zephir_read_static_property_ce(`&`serv, test_1__closure_ce, SL("serv"), PH_NOISY_CC);

则正常。

[2019-05-24 13:51] zuozhehao commented on #1861
都有执行 fullclean 偶尔还是那样。

[2019-05-24 23:57] dreamsxin commented on #1860
@zuozhehao 已经修改，再更新测试下试试。

[2019-05-25 18:38] emiliodeg opened #1866 "typeof operator from image resource return "unknown type""
I've been writting Gd image tests and when I tried with `__destruct()` [method](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Image/Adapter/Gd.zep#L102) didn't work as expected

`
if typeof image  == "resource" {
    imagedestroy(image);
}
`
The operator `typeof` inside if always return `unknow type` then always fails

### Expected

`typeof image` return "resource"

### Actual Behavior
`t

[2019-05-25 20:46] sergeyklay opened #1865 "Remove all TSRMLS_CC for PHP 8 compatibility"
* [Official announcement](https://github.com/php/php-src/blob/master/UPGRADING.INTERNALS)
* Examples of removal from the php team [here](https://github.com/php/php-src/commit/e05d230e5265e6041e123659daf7c965132f935f), [there](https://github.com/php/php-src/commit/a1fd706d7d3112be71094a28527e6eebeb3a277a) and [over there](https://github.com/php/php-src/commit/9977bdf9b3bd235899c980edda12315ad6fa133

[2019-05-25 20:59] #1860 closed, assigned to nobody

[2019-05-27 00:41] zuozhehao commented on #1860
@dreamsxin 测试没问题。

[2019-05-27 21:42] Jurigag commented on #1866
This is most likely more zephir issue than phalcon. Transfering it to zephir.

[2019-06-11 14:53] Jurigag commented on #1259
@dreamsxin as you can see above it's used within phalcon itself causing some problems

[2019-06-11 22:41] dreamsxin commented on #1259
~~@sergeyklay zephir parse add `object-property-unset`, or variable add separate flag.~~
@Jurigag I test zephir/development it's correct.

[code]
The `Z_REFCOUNT_P(_zv)` always equals 1,  will skip `SEPARATE_ZVAL_IF_NOT_REF`.

[code]
Test2:
[code]
[code]

[2019-06-12 08:02] Jurigag commented on #1259
That's weird, because in this PR as you can see test is failing https://github.com/phalcon/cphalcon/pull/14176/files

[2019-06-12 09:04] dreamsxin commented on #1259
@Jurigag Can use zephir development version test again, the change https://github.com/phalcon/zephir/commit/843f5c8590ca2146e7b71db6ff6109a77ff2647c#diff-773a733807b93616c23cc11607b87a30R573

[2019-06-19 11:54] sergeyklay commented on #1861
I'm closing this issue but if I have made an oversight, please do get back in touch. Thanks

[2019-06-19 11:54] #1861 closed, assigned to nobody

[2019-06-20 05:44] zuozhehao opened #1873 "closure can't use property"
[code]

[2019-06-21 00:34] dreamsxin opened #1875 "About variables initialized"
See https://github.com/phalcon/cphalcon/pull/14193
@sergeyklay @niden
[code]
Will happen `Variable 0x7ffd95e52240 is already observed#0`
Zephir code:
[code]

[2019-06-21 00:37] niden commented on #1875
Yes I saw that earlier on these https://travis-ci.org/phalcon/cphalcon/jobs/548411093#L1439

Something we can fix in Phalcon or is this Zephir based?

[2019-06-21 00:42] dreamsxin commented on #1875
@niden Fix in Phalcon
[code]
or
[code]
If fix in zephir, all variables are initialized by default to NULL, or judge initialization when you use it, but it's more cumbersome.

[2019-06-24 09:43] Jurigag opened #1876 "PHP 7.4"
So alpha is already released, with final version to be released on 21st November. We should focus on preparing to make zephir and phalcon working with PHP 7.4, first noticeable thing i noticed is that `ZEND_ACC_SHADOW` constant is removed on PHP 7.4.

Better to start it earlier than later so we already have extension working from day one.

@dreamsxin @niden @sergeyklay

[2019-06-24 10:00] sergeyklay commented on #1876
We'll try to sort out. Thank you

[2019-06-25 09:15] dreamsxin commented on #1849
[code]

[2019-06-26 00:55] zuozhehao opened #1877 "variable definition bug"
[code]
output:
[code]

[code]
---
[code]
output:
[code]

[code]

[2019-06-26 08:32] dreamsxin commented on #1208
Related

https://github.com/phalcon/zephir/issues/1818
https://github.com/phalcon/zephir/issues/1400

[2019-06-26 09:00] dreamsxin opened #1878 "More Intelligent Variable Type Inference"
@sergeyklay

Example
[code]
Now, the generate code:
[code]
Expect:
[code]

And https://github.com/phalcon/zephir/issues/1875
Can record whether the current context variable is assigned

[code]

[2019-06-27 03:54] dreamsxin commented on #1849
Reference zend source code
[code]

[2019-06-28 04:16] remicollet commented on #1876
From UPGRADINGS.INTERNALS

[code]

[2019-06-28 05:13] zuozhehao opened #1879 "BUG change yaconf value"
example.ini
[code]
Test.zep

[code]

example.php
[code]
When I refresh my browser, the printed path is not fixed, sometimes relative, sometimes absolute.

[https://github.com/laruence/yaconf](https://github.com/laruence/yaconf/blob/master/yaconf.c)

[2019-06-28 08:57] sergeyklay commented on #1878
Yeah, type check  `Z_TYPE_P(&arr) == IS_ARRAY` is redundant  here

[2019-06-28 08:58] sergeyklay commented on #1208
I'm closing this issue but if I have made an oversight, please do get back in touch. Thank you for the report @Jurigag

[2019-06-28 08:58] #1208 closed, assigned to nobody

[2019-06-28 09:08] sergeyklay commented on #1879
It should be something like this:

[code]

[code]

[2019-06-28 09:11] sergeyklay commented on #1877
It is no a bug. Just a feature request.

[2019-06-28 09:33] zuozhehao commented on #1879
[code]
The correct one should be the same every time the output is the same.
But `\Example\Test`  Influencing `Yaconf::get` result.

In this code it must output result 1 every time, but actually it sometimes outputs result 1 and sometimes outputs result  2

[code]

[2019-06-28 12:50] sergeyklay commented on #1879
@dreamsxin Any idea on this? :thinking:

[2019-06-28 13:44] dreamsxin commented on #1879
@sergeyklay I will try fix

[2019-06-28 14:56] #1879 closed, assigned to nobody

[2019-07-01 01:52] niden opened #1883 "[NFR] Sub namespace Extension"
It would be great if we have the ability to build an extension using a sub namespace

For instance:

Project: `main-first`, namespace `Main\First`
Project: `main-second` namespace `Main\Second`

and then

extension=main-first.so
extension.main-second.so

will give access to:

`Main\First` and `Main\Second`

I am not sure if this can be achieved in the extension land i.e. two modules being loaded h

[2019-07-10 18:50] omatrycy opened #1884 "Slow performance during create multidimension arrays"
Hello
Code generated by zephir for setting multi-dimension array is very slow.

Example zep file:
[code]

Example php code used this module:
[code]
Execution time:
real	0m4,693s
user	0m4,658s
sys	0m0,020s

Generated c code for this function
[code]

Similar code created in php
[code]
Execution time:
real	0m0,178s
user	0m0,156s
sys	0m0,021s

For calculating time I used linux time command.
PHP versio

[2019-07-12 03:02] davidofferman opened #1885 "NewInstanceOperator fails to check returned class before initiating object."
Hello,
There is a problem when using the new instance operator. I believe I finally tracked down the issue that required the fix https://github.com/phalcon/cphalcon/pull/14238 in cphalcon. I'm not familiar with the source code for the php interpreter or zephir, so please bear with me.

Currently, when using the `new {classname}()` operator in `zep` files, the following C code is generated.
[code]

[2019-07-16 21:44] aleksandr-yulin opened #1888 "PSR-4"
From documentation

[code]

How about organize class autoload in `config.json` like `composer.json` ?
Composer can provide classes from any path:
[code]

So why not do something like this:
[code]
Pretty project folder structure
[code]
Exist project folder structure
[code]

If you approve this, i can provide request for this issue in future

[2019-07-17 05:16] sergeyklay commented on #1888
/cc @phalcon/zephir-team

[2019-07-17 12:16] danhunsaker commented on #1888
I'd probably call the key `namespace-paths` instead of `autoload`, since we're not actually implementing an autoloader. But I like this approach:

[code]

Any PR should, of course, _add_ the `namespace-paths` key and logic, not _replace_ the existing `namespace` key and logic. That probably means refactoring the existing logic to support either convention, but as long as both the new and old ways

[2019-07-17 13:27] sergeyklay commented on #1888
I agree with @danhunsaker

[2019-07-17 20:23] aleksandr-yulin commented on #1888
Something like [that](https://github.com/aleksandr-yulin/zephir/commit/e246431611ecf64bf9faa387b79d5c0942189c94) ?

`./vendor/bin/zephir init Mylib\\First lib`
[code]
[code]

But which solution would be good for the name of the extension if there are several?
[code]
in this case will be created two or one extension?

[2019-07-17 20:51] danhunsaker commented on #1888
Always one extension, no matter how many namespaces.

Also, if `namespace-paths` is used, `namespace` should not be.

[2019-07-17 21:03] aleksandr-yulin commented on #1888
Yep, but how about this issue #1883 ?
I thought that they wanted to make two extensions from one project

I thought something like that for compatibility:
[code]

[2019-07-17 21:29] danhunsaker commented on #1888
Ah. Missed that detail, somehow. In that case, I have a slightly different idea.

[code]

And of course if `extensions` is used, `name` and `namespace` are not. Or maybe anything in `extensions` is used to override values in the root level of the structure? Allowing most/all settings available in the root to be overridden for any one extension, but otherwise apply to everything? Hard to think of a

[2019-07-17 21:49] aleksandr-yulin commented on #1888
Yep, but it is possible. The simple solution is refuse to using `name` and `namespace` on root level. Or we add `path` on root level too...

[code]

What the difference `extension-name` and `name` into config file? May Be used one?

[2019-07-17 23:29] danhunsaker commented on #1888
I'd prefer not adding `path` to the root options; we can auto populate the value using the current logic internally, if we need to, but it shouldn't be configurable by the user at that level.

[2019-07-18 05:16] #1885 closed, assigned to nobody

[2019-07-18 11:11] RikudouSage commented on #1791
Any change here?

There's also this extension that you could check: https://github.com/php/pecl-php-operator

[2019-07-24 09:30] PcMaKeR commented on #1545
Hi, I'm getting an error.

I try everyhing. What am I missing?

Platform: Windows 10.
PHP: 7.3.7
Zephir: 0.12.0

Error:
`PHP Fatal error:  Uncaught SoapFault exception: [Client] Error finding "uri" property in D:\Projects\admin\public\index.php:35
Stack trace:
#0 [internal function]: SoapClient->__call('__construct', Array)
#1 D:\Projects\admin\public\index.php(35): Common\WindowsApi->__construct(

[2019-07-24 21:37] mesutaksak opened #1890 "Extending From Abstract ArrayAccess"
There are two classes I wrote As follows,

AbstractCollection.zep

    namespace App;

    use ArrayAccess;

    abstract class AbstractCollection implements ArrayAccess
    {
        private keys   = [];
        private values = [];

        abstract protected function setDefault(string id)->bool;

    public function offsetSet(var id, var value)
    {
        let id = (string)id;

        if iss

[2019-07-25 05:21] sergeyklay commented on #1890
@dreamsxin Any idea?

[2019-07-25 12:40] dreamsxin commented on #1890
What's PHP version? I test PHP 7.1, it's correct.

[code]
[code]

[2019-07-25 13:26] mesutaksak commented on #1890
Sorry for l forget write php version,
l am using PHP 7.3

https://github.com/phpearth/docker-php/blob/master/docker/7.3-nginx.Dockerfile

[2019-07-25 14:37] Zhwt commented on #1544
I find a workaround, it's not nice but yet useful, tested under zephir 0.12.0, PHP 7.2.17.

Pass your `__DIR__`, and `__FILE__` as PHP super global variable, and then access them in zephir extensions.
For example:
[code]
Then use them in your extension:
[code]
If you need to eval some code containing `__DIR__` or other magic constants, you could always do a string replace and replace them with thi

[2019-07-25 16:02] ruudboon opened #1892 "Lowercase directory name when creating stubs"
When generating stubs I see that all directory names are lowercase.
The original directory's are camelcase.
Is this intended?

[2019-07-25 19:43] aleksandr-yulin commented on #1888
and what to do with the configuration of dependencies?
such as `constants-sources`, `prototype-dir`, `extra-sources`, `requires` and etc...
they may be different for extensions

have a suggestion:
1) add `path` to the root level form resolve this issue(for resolve this [exception](https://github.com/phalcon/zephir/blob/development/Library/CompilerFile.php#L650))
2) for multi extensions use its own

[2019-07-26 05:15] dreamsxin commented on #1890
Use Zephir 0.12.1/PHP 7.3, it's correct.

[2019-07-26 08:48] mesutaksak commented on #1890
l not see 0.12.1 yet but,
l have tryed with Zephir 0.12.0/PHP 7.3, now all is ok,

Good job!
Thanks.

[2019-07-26 08:48] #1890 closed, assigned to nobody

[2019-07-26 15:36] sergeyklay commented on #1892
No, it is not intended. Is there any problem with this?

[2019-07-26 16:18] ruudboon commented on #1892
Yes. See the ide-stubs repo also. All dirs are lowercase.
Could this be related to this line?
https://github.com/phalcon/zephir/blob/baa91276224e49bd1383f480ff650d0a49b0468d/Library/Stubs/Generator.php#L82

[2019-07-26 17:52] danhunsaker commented on #1888
What say we support all config options in `extensions.*` the same as we do at the root, except of course for the few that don't make sense nested (`extensions` itself, for example), and use the top-level versions as defaults that propagate down unless overridden? And then, just for the sake of conciseness, allow each `extensions` value to either be an object (`{...}`) or a string path to the addit

[2019-07-26 18:42] sergeyklay commented on #1892
Yes, I think so. But I'm still can't understand issue you trying to solve.

[2019-07-27 08:36] ruudboon commented on #1892
Source dir:
<img width="446" alt="Screenshot 2019-07-27 at 10 26 46" src="https://user-images.githubusercontent.com/7444246/61992035-2d4b5380-b059-11e9-8bf3-cad0af19bb08.png">
Directories starting with a capital
[code]
Result:
acl\adapter\AbstractAdapter.zep.php
<img width="463" alt="Screenshot 2019-07-27 at 10 35 22" src="https://user-images.githubusercontent.com/7444246/61992116-41438500-b05a-11

[2019-07-27 12:06] sergeyklay commented on #1892
Yes, I understand the expecting result. I'm interested in a _real problem_ you have :) As a far as I know most popular IDEs just scans whole directory and let's say "include" all files.

[2019-07-27 14:13] ruudboon commented on #1892
Yeah it looks like it's working on my system but not sure if that's the case for all ide's and all os.
Would be also be more clear if it matches the source in casing and filename (removing .zep.).
And even it is bad practice and would only be possible on linux you could have 2 files with the same name and different casing. I do think it's a low prio but would be nice if we can fix it.

[2019-07-27 17:53] sergeyklay commented on #1892
[code]

[2019-07-29 08:59] josephkang619 opened #1893 "How can I concat double types and string types?"
Hi. I tried to make SQL as follows.

    public static function getQuery(var value)
    {
        var query;

        var min, max;

        let min = value / 100 * 25;
        let max = value / 100 * 50;

        let query .= "SELECT *
                        FROM TEST
                       WHERE value <= ".max;

        let query .= "   AND value >= ".min;

        return query;
    }

However,

[2019-07-29 12:56] sergeyklay commented on #1893
Thank you for the report. I'll take a look ASAP.

[2019-07-31 20:54] juan-morales opened #1896 "Initial test execution failed - Class 'Test\Oo\PropertyAccess' not found"
When I try to execute the tests I get this ...
[code]

[2019-07-31 21:32] juan-morales commented on #1893
I got same result.

Zephir 0.12.1 by Andres Gutierrez and Serghei Iakovlev (25cf1fd)

Linux Mint:
Linux fachamix 4.10.0-38-generic #42~16.04.1-Ubuntu SMP Tue Oct 10 16:32:20 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2019-07-31 21:45] juan-morales commented on #1893
Just in case ... no tests were created for this scenario neither.
Concatenation with INT works perfect by the way.

[2019-07-31 22:18] juan-morales commented on #1893
Eventhough it is an issue .... If its really urgent ... please check this workaround.

[code]

[2019-07-31 22:36] juan-morales commented on #1893
another workaround (in case of urgency)

[code]

[2019-08-01 05:57] danhunsaker commented on #1893
I'd probably go with this simpler variant:

[code]

Use whatever variables you need to have, of course, but avoid creating ones you don't. And while we should certainly support concatenating multiple types, `sprintf()` is certainly the recommended approach in the meantime, or when your concatenation needs some precision in presentation.

[2019-08-06 02:03] josephkang619 commented on #1893
Thank you for all your answers. I solved the problem of juancarmo's writing.

[2019-08-07 20:11] juan-morales commented on #1893
Any updates on this?

[2019-08-08 14:15] zhaoyanliang8 opened #1902 "Use zend_string* instead of char* to improve performance"
In php7, a lot of char* is replaced by zend_string*, this helps reduce memory allocation and hash calculations. This should also apply to zephir that is still heavily using char*.
I have tried this, but it currently only works on php7.2 and php7.3. This is enough for me, I don't think I have time to finish the rest. If other people are interested, you can refer to my changes.
[zhaoyanliang2/zephir

[2019-08-08 16:54] zhaoyanliang8 opened #1904 "static property reference bug"
see pull request #1903

```zend_update_static_property()``` has been modified in php7.3
https://github.com/php/php-src/blob/PHP-7.2.21/Zend/zend_API.c#L4070-L4106
https://github.com/php/php-src/blob/PHP-7.3.8/Zend/zend_API.c#L4080-L4102

but merge changes to php7.2 may cause php to crash sometimes

[2019-08-12 21:30] #1893 closed, assigned to sergeyklay

[2019-08-12 21:30] sergeyklay commented on #1893
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-08-13 08:33] sergeyklay commented on #1896
@juancarmo Did you compile & install test extension?

[2019-08-22 07:21] ruudboon opened #1907 "Zephir stubs remove slash from \Exception class when extending"
If an class extends \Exception it will result the slash will be removed
Phalcon\Collection\Exception
Source
[code]
Generated stubs
[code]

This happens also in Phalcon\Exception
Related to https://github.com/phalcon/ide-stubs/issues/25

[2019-08-23 13:38] JellyBrick opened #1908 "'void' return type hint is ignored"
## Log
`Fatal error: Declaration of Pocketmine\Utils\BinaryStream::setOffset(int $offset) must be compatible with pocketmine\network\mcpe\protocol\Packet::setOffset(int $offset): void in /develop/pocketmine/src/network/mcpe/protocol/DataPacket.php on line 38`

## Code
[code]
_Packet.php_

[code]
_DataPacket.php_

[code]
_binarystream.zep_

**However, the generated code has no type hints.**
(Stubs

[2019-08-23 14:19] Jurigag commented on #1908
I'm guessing stubs generations wasn't made when 7.1 was released, that's why we ignore void. I guess someone would need to update it and add check for php 7.1

[2019-08-23 14:32] JellyBrick opened #1909 "Invalid function default parameters"
## Log
`Fatal error: Declaration of pocketmine\world\Position::getSide(int $side, int $step = 1) must be compatible with Pocketmine\Math\Vector3::getSide(int $side, int $step = NULL): Pocketmine\Math\Vector3 in /develop/pocketmine/src/world/Position.php`

## Code
[code]
_Position.php_

[code]
_vector3.zep_

[code]
_vector3.zep stub_

**Everything is fine, but after compilation, I get an error due

[2019-08-25 09:52] #1909 closed, assigned to nobody

[2019-08-26 14:56] JellyBrick commented on #1908
@Jurigag #1910

[2019-09-06 20:01] #1908 closed, assigned to nobody

[2019-09-16 13:48] ruudboon commented on #1660
@sergeyklay I think we can close this one?

[2019-09-16 13:55] ruudboon opened #1912 "Segfault with closure"
In Phalcon when setting a DI like this
[code]
It wil cause a segfault when retrieving the closure from the DI.
[code]
Removing the variable will prevent the segfault.
[code]
I'm trying to isolate this issue without the Phalcon framework but would like to already report this for now.

Zephir: 0.12.2
PHP: 7.2.20

[2019-09-17 07:58] chrysanthemum opened #1913 "help"
What is the reason for this?

$ ./.ci/memcheck.sh
==22576== Memcheck, a memory error detector
==22576== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==22576== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
==22576== Command: /php-src/php-7.2/php/bin/php -d extension=ext/modules/test.so unit-tests/phpunit --no-coverage --testsuite Extension\ Test\ Suite
==2257

[2019-09-17 08:06] ruudboon commented on #1913
Please use the issues for bugs only.
But it looks like your missing phpunit (composer install)

[2019-09-17 08:06] #1913 closed, assigned to nobody

[2019-09-17 13:51] Jurigag commented on #1912
Does the same happen without exit?

[2019-09-17 13:53] Jurigag opened #1914 "Typed properties"
Since it will be added to PHP 7.4 i think we should consider adding it as well adding it to zephir on some point.

[2019-09-17 15:08] ruudboon commented on #1912
No only with exit.

[2019-09-20 18:50] chrysanthemum opened #1915 "BUG: update property"
zephir/test/properties/propertyupdate.zep

[code]

unit-tests/Extension/Properties/PropertyUpdateTest.php

[code]

Assertion failed: (((ht)->gc.refcount == 1) || ((ht)->u.flags & (1<<6))), function _zend_hash_index_add_or_update_i

[2019-09-21 17:57] chrysanthemum opened #1917 "BUG: AssignSuperGlobals"
test/assign.zep

[code]
t.php
http://localhost/t.php?g1=aaa&g2=bbb
[code]
result:
[code]

g3 / g4 are lost in the $GET

[2019-09-22 05:33] ruudboon commented on #1259
I'm seeing that this issue still occurs in 0.12.2.

[2019-09-22 07:09] #1915 closed, assigned to nobody

[2019-09-22 10:03] sergeyklay commented on #1259
@ruudboon could you please send a pull request with a test shows the issue

[2019-09-23 05:30] sergeyklay commented on #1912
@danhunsaker Could you please take a look by any chance

[2019-09-23 11:51] ruudboon opened #1922 "Stubs not generating correct return on optional var"
When generating stubs and we have something like:
[code]
It will result in something like this causing a PHP error.
[code]
Expected result
[code]

[2019-09-23 11:53] chrysanthemum opened #1923 "BUG: ArrayCastFromVariable"
test/cast.zep
[code]

t.php
[code]

result empty:
[code]

[2019-09-23 12:18] ruudboon opened #1924 "Improve Zephir analyzer"
A few cases are currently not detect by the Zephir analyser. If possible we would like to add them.

**Classes that should be abstract are not abstract**
https://github.com/phalcon/cphalcon/blob/41d398bbf802c02815394d7bbd72f8bf85142d4f/phalcon/Factory/AbstractFactory.zep#L16

https://github.com/phalcon/cphalcon/blob/41d398bbf802c02815394d7bbd72f8bf85142d4f/phalcon/Factory/AbstractFactory.zep#L65

[2019-09-25 02:15] danhunsaker commented on #1912
I'll see what I can find.

[2019-09-25 02:17] danhunsaker commented on #1922
Looks like the `null` check needs to be tempered by whether there's a concrete non-null type being output.

[2019-09-25 06:44] #1917 closed, assigned to nobody

[2019-09-25 06:44] #1923 closed, assigned to nobody

[2019-09-25 06:45] sergeyklay commented on #1917
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-09-25 06:45] sergeyklay commented on #1923
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-09-25 07:37] Jurigag commented on #1912
@ruudboon well, next time try to add trace from gdb

[2019-09-25 07:40] ruudboon commented on #1912
@Jurigag I agree, still working on that. Need to find a way to do this in Nanobox. That's why I wrote still working on isolating this issue.

[2019-09-25 14:12] foobarsik opened #1926 "sorry, my mistake"

[2019-09-25 14:12] #1926 closed, assigned to nobody

[2019-09-25 16:21] sergeyklay commented on #1904
@dreamsxin Could you please take a look

[2019-09-25 16:22] sergeyklay commented on #1896
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2019-09-25 16:22] #1896 closed, assigned to nobody

[2019-09-25 16:24] sergeyklay commented on #1873
@dreamsxin Could you please take a look

[2019-09-25 19:30] sergeyklay commented on #1660
Yes. This is fixed. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-09-25 19:30] #1660 closed, assigned to nobody

[2019-09-25 23:56] dreamsxin commented on #1873
@sergeyklay We need check that, it in the return expression and call `Closure::bindTo` to bound object.

[2019-09-26 00:07] dreamsxin commented on #1904
@zhaoyanliang2 你能解决这个问题么？

[2019-09-26 07:59] sergeyklay commented on #1904
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-09-26 19:31] sergeyklay commented on #1924
Closing this in favor of https://github.com/phalcon/zephir/issues/1628

[2019-09-26 19:31] #1924 closed, assigned to nobody

[2019-09-26 19:32] sergeyklay commented on #1538
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2019-09-26 19:32] #1538 closed, assigned to nobody

[2019-09-27 09:46] chrysanthemum opened #1928 "Improve Zephir constant get"
test/flow/switchflow.zep
[code]

ext/test/flow/switchflow.zep.c
[code]
kernel/main.h
[code]
To such
[code]

The constant MYSQL_ASSOC is not in php7, or cannot find a constant.
Thus, the following code cannot execute because of the ZEPHIR_MM_GET_CONSTANT macro.
In the switch syntax also do constant detection.
I'd like to ask: Does it make sense to delete the direct return code of the ZEPHIR_MM_GET_

[2019-09-27 12:51] CameronHall commented on #1912
This was fixed in either 0.12.3 or 0.12.4.

[2019-09-27 13:00] ruudboon commented on #1912
Confirmed!

[2019-09-27 13:00] #1912 closed, assigned to nobody

[2019-09-28 10:07] #1928 closed, assigned to nobody

[2019-09-28 14:01] ruudboon opened #1931 "Segfault with Phalcon test"
When running the following test with codeception:
[code]
I get a segfault. This only happens when using codeception. If I run the code standalone it works fine.

PHP 7.3.1 (cli) (built: Feb  4 2019 12:34:31) ( NTS DEBUG )
Phalcon 4.0.0-rc.1

Stacktrace:
[code]

[2019-09-28 15:28] sergeyklay commented on #1931
I can't help with `??`. I need debug symbols because I don't see neither Phalcon nor the Zephir symbols here. Is it a PHP bug?

Please follow this guide to understand how to generate the backtrace:
- https://ma.ttias.be/generate-php-core-dumps-segfaults-php-fpm/
- https://bugs.php.net/bugs-generating-backtrace.php
- https://bugs.php.net/bugs-generating-backtrace-win32.php

[2019-09-29 14:50] dreamsxin commented on #1884
I can try to use hash directly. Second, zephir_array_update_multi is retrieved only once according to the context, not every update.

[2019-09-29 18:39] atishhamte commented on #1544
@romizone, can you provide both encryption and decryption code here

[2019-09-29 23:18] dreamsxin commented on #1884
My test result:
PHP
[code]

zephir
[code]

After optimization
[code]

@sergeyklay Please take look if you can add reference type, and convert as follows:

[code]
to c code like this
[code]

[2019-09-30 09:02] ruudboon commented on #1884
Great improvement!

[2019-09-30 16:45] ruudboon opened #1932 "[NFR] Add support for nullable strings as a return type hint"
Often we would like to return a string or null.
Can we add support for this. For example:

[code]

[2019-09-30 19:11] ruudboon commented on #1931
I think I'm gonna close this one. I think this is a PHP bug.
After method_exists this occurs (Codeception\Test\Test.php).
[code]

[2019-09-30 19:11] #1931 closed, assigned to nobody

[2019-10-01 06:12] sergeyklay commented on #1922
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-10-01 06:12] #1922 closed, assigned to sergeyklay

[2019-10-01 06:15] sergeyklay commented on #1876
Implemented. Tests for PHP 7.4 are passed for a moth or so.

[2019-10-01 06:15] #1876 closed, assigned to nobody

[2019-10-01 14:44] ruudboon opened #1934 "Segfault with globals"
When running this code snippet I get a segmentation fault.
[code]
I'm not sure what symbols I'm currently missing so the backtrace isn't complete. But this is what I have now:
[code]
I've got a debug container online if more info is needed.
Copy php code to test.php and run the following in the same dir (docker required)
[code]

Refs: https://github.com/phalcon/cphalcon/issues/14426

[2019-10-01 17:04] sergeyklay commented on #1934
The full backtrace is
[code]

[2019-10-01 18:44] sergeyklay commented on #1934
Simple script to reproduce:
(Phalcon 4.0.x branch)

[code]

[2019-10-01 18:46] ruudboon commented on #1934
Hmm ok. So nothing to do with closures.

[2019-10-01 19:44] sergeyklay commented on #1934
Shorter code to reproduce
(Phalcon 4.0.x branch)

[code]

[code]

On `$_SERVER = []`:

[code]

On `unset($_SERVER)`:

[code]

[code]

[2019-10-01 19:55] sergeyklay commented on #1934
[code]

[code]

[code]

[code]

[2019-10-01 20:07] niden commented on #1934
@dreamsxin Could you please have a look at this ?

[2019-10-01 22:55] sergeyklay commented on #1934
Disabling this code fixes the issue:
https://github.com/phalcon/cphalcon/blob/bd404a4bc603f74bb7d043694875814912954228/phalcon/Http/Message/ServerRequestFactory.zep#L93-L111

Only memory leaks still remains

[2019-10-01 23:05] sergeyklay commented on #1934
Changing ServerRequestFactory:
[code]

and call:
[code]

do not produce segfaults. In this case all ok (Only memory leaks still remains).

[2019-10-02 04:06] dreamsxin commented on #1934
@sergeyklay Memory leak in `PHP_METHOD(Phalcon_Http_Message_Uri, __construct) `

[code]
Please help check and perfect https://github.com/phalcon/zephir/pull/1935

[2019-10-02 04:34] chrysanthemum commented on #1934
@dreamsxin In China's National Day, still dealing with this work, so great!

[2019-10-02 04:39] dreamsxin commented on #1934
@chrysanthemum 国庆快乐

[2019-10-02 04:52] sergeyklay commented on #1934
@dreamsxin Memleaks are gone. Note some tests in #1935 are failed

[2019-10-02 15:38] #1934 closed, assigned to nobody

[2019-10-02 21:18] sergeyklay opened #1937 "Memory leak on update array"
After fix https://github.com/phalcon/zephir/commit/1f6962d40e17581b5a0d9a92b32caa186819c889#commitcomment-35331987

I still see memory leak.

**manual.php**
[code]

[code]

[code]

Refs: #1915, #1918

/cc @chrysanthemum

[2019-10-02 21:23] sergeyklay opened #1938 "Fix memory leaks"
There is some memory leaks we'll need to fix. To get all of them simple run:

[code]

@dreamsxin Could you please help us with this task.

[2019-10-02 21:52] #1863 closed, assigned to nobody

[2019-10-02 21:52] sergeyklay commented on #1863
Fixed in the `0.12.0` version (https://github.com/phalcon/zephir/pull/1864). Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-10-03 04:36] dreamsxin commented on #1938
Test in PHP 7.3.7 (cli) (built: Jul 26 2019 13:00:01) ( NTS DEBUG )
No install zephir extension happen coredump
[code]

If it opens, everything will be all right.

[code]

Use valgrind,
[code]

[2019-10-03 06:19] sergeyklay commented on #1938
@dreamsxin Check PHP 7.2 and see `zephir_*` functions

[2019-10-03 06:25] chrysanthemum commented on #1937
I try to solve～

[2019-10-03 07:07] dreamsxin commented on #1938
@sergeyklay
[code]

[2019-10-03 08:40] sergeyklay commented on #1938
Let me show you a bit later

[2019-10-03 10:01] sergeyklay commented on #1938
@dreamsxin

[code]

[code]

zephir.mem
[code]

[2019-10-03 12:04] dreamsxin commented on #1938
No memory allocation was seen at the location of the log.

[2019-10-03 12:37] remicollet opened #1940 "[0.12.5] broken build"
[code]

[2019-10-03 12:43] ruudboon commented on #1940
Seeing something similar in Nanobox with Phalcon
[code]

[2019-10-03 14:03] sergeyklay commented on #1940
@remicollet Does adding `#include "kernel/memory.h"` to the `string.c` solves the issue?

[2019-10-03 14:08] sergeyklay commented on #1938
🤔  Is this not something that should interest us?
[code]

[2019-10-03 14:13] remicollet commented on #1940
@sergeyklay it is already included.

[2019-10-03 14:21] sergeyklay commented on #1940
@remicollet I'll fix this ASAP. Could you provide steps to reproduce this issue? Unfortunately,  tests are passed successfully, so I didn't known about this problem

[2019-10-03 14:36] ruudboon commented on #1940
I have a branch ready:
[code]

[2019-10-03 16:05] sergeyklay commented on #1940
@ruudboon In general I need reproducible steps I can add to current .travis.yml

[2019-10-03 18:05] ruudboon opened #1941 "[0.12.8] Segfault on Phalcon"
When running:
[code]
I get a segfault with this backtrace
[code]

[2019-10-03 18:10] ruudboon commented on #1940
@remicollet Do you have some more information about your environment? Are you also using nanobox?

[2019-10-03 19:15] sergeyklay commented on #1940
@remicollet It seems I found the root of problem. Do you have ext-json installed/enabled?
Is this check works for you
https://github.com/phalcon/zephir/blob/99f41ba084c5c454fda9421bea77eaf904c8ba3e/templates/ZendEngine3/config.m4#L36-L51

---

@dreamsxin

Take a look at zephir_json_decode:

[code]

Then take a look at `memory.h`:
[code]

Looks like @remicollet and @ruudboon uses `zephir_memory_obs

[2019-10-03 19:24] ruudboon commented on #1940
@dreamsxin I used `git bisect` to traceback the commit. Outcome for me was this commit https://github.com/phalcon/zephir/commit/0922dad6ef9c8178644f78fe15b0137baf74d25b

Hopefully it can be at help. Thank you.

[2019-10-03 19:50] sergeyklay commented on #1940
@ruudboon @remicollet I need your config.h. Could you please share the content

[2019-10-03 19:51] ruudboon commented on #1940
ext\config.h
[code]

[2019-10-03 19:53] sergeyklay commented on #1940
@dreamsxin Do you see ^
[code]

[2019-10-03 20:49] sergeyklay commented on #1940
The issue was in:
[code]

I'm pretty sure @remicollet and @ruudboon does not have HAVE_JSON constant or it set to 0

[2019-10-03 20:51] sergeyklay commented on #1940
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-10-04 07:03] atishhamte opened #1944 "zephir build gives an compile time error"
[code]

[2019-10-04 07:04] remicollet commented on #1940
Still encounter the same issue with 0.12.6

Also "zephir api" raise an error
`Parse error: syntax error, unexpected 'version' (T_STRING) in /dev/shm/BUILD/zephir-dd5e3f852ef284b700c02264ca6dcb21914e626c/templates/Api/sitemap.php on line 1
`

Full output
[code]

[2019-10-04 07:10] remicollet commented on #1940
Notice config.h have
[code]

Which is obviously wrong.
`ext/pcre/php_pcre.h` is there even if php is build with system pcre

[2019-10-04 07:12] atishhamte commented on #1944
PHP 7.0.33-0ubuntu0.16.04.6 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.33-0ubuntu0.16.04.6, Copyright (c) 1999-2017, by Zend Technologies

[2019-10-04 07:35] atishhamte commented on #1944
I have rollback the version form 0.12.6 to 0.12.4 and it worked.
Some blunder happened in .5 and .6 I guess

[2019-10-04 07:58] sergeyklay commented on #1944
@atishamte Please double check Zephir version. I fixed this issue (introduced in 0.12.5): https://github.com/phalcon/zephir/pull/1942 and released 0.12.6 with this fix: https://github.com/phalcon/zephir/blob/master/CHANGELOG.md#0126---2019-10-03

[2019-10-04 08:20] atishhamte commented on #1944
But the error occurred in version 0.12.6.

[2019-10-04 08:21] dreamsxin commented on #1938
It's a very common code. I don't see anything.

ZEPHIR_INIT(Test_Instanceoff);

ZEPHIR_REGISTER_CLASS(Test, Instanceoff, test, instanceoff, test_instanceoff_method_entry, 0);

[2019-10-04 09:11] #1944 closed, assigned to nobody

[2019-10-04 09:15] sergeyklay commented on #1940
@remicollet I've fixed this right now. Could you please try development branch by any chance? Note, you'll need clone this repo, switch to the `development` branch and run `composer install`. Finally, use `./zephir` from the project root.

[2019-10-04 09:15] sergeyklay commented on #1944
@atishamte I've fixed this right now. Could you please try `development` branch by any chance? Note, you'll need clone this repo, switch to the `development` branch and run `composer install`. Finally, use `./zephir` from the project root.

[2019-10-04 09:31] remicollet commented on #1940
I confirm using master at  98c5a73576e06c73886b7a4eb2bc69dfeafb3840
the extension build fine.

[2019-10-04 11:26] sergeyklay commented on #1940
@remicollet Just released 0.12.7 version: https://github.com/phalcon/zephir/releases/tag/0.12.7
Closing, this is fixed. If there are bugs, we can follow up in separate issues. Thank you for the bug report.

[2019-10-04 11:26] #1940 closed, assigned to nobody

[2019-10-04 11:41] remicollet opened #1946 "[0.12.7] undefined symbol ZEPHIR_NULL"
Trying to run test suite.

`PHP Warning:  PHP Startup: Unable to load dynamic library '/dev/shm/BUILD/zephir-1c107e0c8966233f0d35156419e2c97729dcc4ce/ext/modules/test.so' (tried: /dev/shm/BUILD/zephir-1c107e0c8966233f0d35156419e2c97729dcc4ce/ext/modules/test.so (/dev/shm/BUILD/zephir-1c107e0c8966233f0d35156419e2c97729dcc4ce/ext/modules/test.so: undefined symbol: ZEPHIR_NULL), /usr/lib64/php/module

[2019-10-04 11:51] remicollet commented on #1946
`sed -e s'/ZEPHIR_NULL/ZVAL_NULL/' -i kernels/ZendEngine3/string.c` seems enough

[2019-10-04 12:13] #1946 closed, assigned to nobody

[2019-10-04 12:23] sergeyklay commented on #1946
I'm sorry, I introduced this. I hope it fixed now. Thank you again!

[2019-10-04 12:25] remicollet opened #1949 "Question about test suite"
[code]

Where do these classes come from ?
Of course, when phalcon ext is installed, test suite passes, but fails without

[2019-10-04 12:40] sergeyklay commented on #1949
I hope I fixed this in https://github.com/phalcon/zephir/pull/1948/commits/650708de9df9039f04eda0fc150bd94e5a5b9753. Thank you for the bug report.

[2019-10-04 12:52] remicollet commented on #1949
Yes, thanks

Build + test suite tested with PHP 7.2, 7.3 and 7.4

[2019-10-04 12:54] ruudboon commented on #1941
~Looks like latest release fixed the Segfault issue. https://travis-ci.org/ruudboon/cphalcon/jobs/593519488
I want to keep this open to confirm on other build. But please don't put time in this now.~

[2019-10-04 12:56] sergeyklay commented on #1949
@remicollet Question: do you provide rpm for Zephir ?

[2019-10-04 12:57] sergeyklay commented on #1941
@dreamsxin Do you have any idea?

[2019-10-04 12:58] sergeyklay commented on #1941
@ruudboon Can you provide a single file to reproduce the bug by any chance?

P.S.

Also could you disable xdebug and test again?

[2019-10-04 13:00] ruudboon commented on #1941
@sergeyklay you mean a single Zephir file? Single php file is in the updated issue.

[2019-10-04 13:02] remicollet commented on #1949
Yes, but for now only version 0.10 used to build stable phalcon 3.4

phalcon 4  is available in "testing" repository, but build without zephir (which was broken, but need to do more tests and report any issue)

As soon, as I will be able to build phalcon 4 using zephir 0.12, it will be in the repo.

[2019-10-04 13:04] sergeyklay commented on #1941
Yes, a single `*.zep` file to reproduce the bug.

[2019-10-04 13:05] remicollet commented on #1949
FYI, using **zephir 0.12.4** (or 0.12.7) and **phalcon 4.0.0rc.1**
[code]

Any idea ?
Should I open a phalcon or zephir bug report ?

[2019-10-04 13:06] sergeyklay commented on #1949
@remicollet I think it is Phalcon bug

[2019-10-04 13:08] remicollet opened #1950 "[BUG]: cannot generates sources to build Phalcon 4.0.0-rc.1 when timecop is enabled"
Using zephir 0.12.4 (or 0.12.7)

[code]

[2019-10-04 13:08] remicollet commented on #1949
ok, reported as https://github.com/phalcon/cphalcon/issues/14446

[2019-10-04 13:12] sergeyklay commented on #1949
Can we close this one?

[2019-10-04 13:13] remicollet commented on #1950
Hmm... can be related to installed extension in dev. env.

Using a minimal env, this works...

[2019-10-04 13:13] #1949 closed, assigned to nobody

[2019-10-04 13:13] sergeyklay commented on #1950
@remicollet What version do you have installed?

[2019-10-04 13:19] remicollet commented on #1950
Version of what ? ;)

BTW, found the faulty extension: timecop.
When remove, "zephir generate" succeeds

Perhaps need to be documented ?

[2019-10-04 13:21] sergeyklay commented on #1950
@remicollet Is this related to https://github.com/phalcon/zephir/pull/1588 ?

[2019-10-04 13:23] remicollet commented on #1950
Yes

[2019-10-04 13:25] sergeyklay commented on #1949
@remicollet Released https://github.com/phalcon/zephir/releases/tag/0.12.8

[2019-10-04 14:09] atishhamte commented on #1944
Ok. I will update you ASAP

[2019-10-04 15:31] sergeyklay commented on #1944
@atishamte Try latest stable Zephir I released about a hour ago

[2019-10-04 16:37] ruudboon commented on #1941
Occurs without xdebug as well.

[2019-10-04 16:40] atishhamte commented on #1944
Yup. It's fixed now.

[2019-10-04 20:33] sergeyklay commented on #1941
- 2nd parameter of the `Event` class should be an object
- 4th parameter of the `Event` class should be a boolean
- `Dispatcher` class need `activeHandler` to be set
- `Acl` needs a valid `roleCallback` to be set

Could you please provide at least working test so that I'll try to reproduce the issue myself

[2019-10-05 02:50] dreamsxin commented on #1941
I will test

[2019-10-05 05:35] ruudboon commented on #1941
[code]

[2019-10-05 07:02] sergeyklay commented on #1941
@dreamsxin Try this

[code]

[code]

[2019-10-05 11:02] sergeyklay commented on #1941
Return this change back solves this issue:

[code]

See: https://github.com/phalcon/zephir/commit/a6c9d0c9e4bad09920c8a6fe4e56815e76a1b85c

/cc @chrysanthemum

[2019-10-05 13:16] sergeyklay commented on #1941
This may be considered as a fix
[code]

but there is another issue using the PHP script I provided above ^
[code]

[2019-10-05 14:25] sergeyklay commented on #1941
The code to reproduce  the issue after these changes https://github.com/phalcon/zephir/issues/1941#issuecomment-538648952:
[code]

[code]

[code]

[2019-10-05 20:38] sergeyklay commented on #1941
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

N.B. There is another issue, leads to segfault (_introduced in https://github.com/phalcon/zephir/commit/11dc1d4634b2d74599c53147b3733b829257c3a4_) I'll fix in next commits.

[2019-10-05 20:38] #1941 closed, assigned to nobody

[2019-10-05 21:14] sergeyklay commented on #1904
I open this again because changes proposed in the https://github.com/phalcon/zephir/pull/1927 leads to segmentation fault. For more see: https://github.com/phalcon/zephir/issues/1941#issuecomment-538654340 and https://github.com/phalcon/zephir/pull/1954

[2019-10-05 21:15] sergeyklay commented on #1904
@dreamsxin Could you please take a look

[2019-10-06 17:58] JellyBrick opened #1956 "'this' cannot be returned inside a method when 'internal-call-transformation' is enabled"
# Code

[code]
axisalignedbb.zep

[code]
axisalignedbb.zep.c

# Error log

[code]

[2019-10-06 18:40] #1938 closed, assigned to nobody

[2019-10-10 21:08] sergeyklay commented on #1778
Fixed in development branch. Thank you for the bug report!

[2019-10-10 21:08] #1778 closed, assigned to AlexNDRmac

[2019-10-10 21:48] #1290 closed, assigned to nobody

[2019-10-10 22:05] sergeyklay commented on #1830
- > php_error_docref(NULL, E_WARNING, "Only %d of %d bytes written, possibly out of free disk space", numbytes, Z_STRLEN_P(data));

Fixed in Zephir v0.11.2: https://github.com/phalcon/zephir/commit/8c98a87e48edebbbd481cc131f94760c8b7d7ee6

---

- > str_len = slprintf(stmp, sizeof(stmp), "%ld", status->scanner_state->active_line);
- > str_len = slprintf(stmp, sizeof(stmp), "%ld", status->scanner_st

[2019-10-11 08:35] chrysanthemum opened #1961 "BUG: zephir_get_global"
test/globals/server.zep
[code]
manual.php
[code]

output:
[code]

[2019-10-11 09:21] chrysanthemum commented on #1961
@dreamsxin Could you fix this BUG? I'm afraid I'll make a mistake.

[2019-10-11 10:22] #1937 closed, assigned to nobody

[2019-10-11 10:29] sergeyklay commented on #1961
@chrysanthemum Could you please provide exact PHP version and used Zephir version/commit

[2019-10-11 10:36] sergeyklay commented on #1792
Closing, this is fixed. But if I have made an oversight or there are bugs, we can follow up in separate issues. Thank you for the bug report

[2019-10-11 10:36] #1792 closed, assigned to nobody

[2019-10-11 10:37] sergeyklay commented on #1618
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2019-10-11 10:37] #1618 closed, assigned to nobody

[2019-10-11 10:38] chrysanthemum commented on #1961
php:
[code]

zephir:
[code]

operating system：
[code]

[2019-10-11 10:44] sergeyklay commented on #1530
Closing, this is fixed. If there are bugs, we can follow up in separate issues.

[2019-10-11 10:44] #1530 closed, assigned to nobody

[2019-10-11 10:47] chrysanthemum commented on #1961
@dreamsxin I got it wrong. There's no bug ：）

[2019-10-11 10:51] sergeyklay commented on #1961
@chrysanthemum Should we close this one?

[2019-10-11 10:58] chrysanthemum commented on #1961
@sergeyklay

Oddly enough, this problem occurred when I closed all the zephir compiled extensions, leaving only the test extension.

If I open the phaclon extension, the bug does not appear.

Do you have this bug? (Close all zephir compiled extensions, leaving only the test extension.)

[2019-10-11 11:25] chrysanthemum commented on #1961
This strange bug does exist.
@dreamsxin

[2019-10-12 04:00] dreamsxin commented on #1961
@sergeyklay Revoke that commit https://github.com/phalcon/zephir/commit/ed65fa745931277e62cec3479c4c5b3ed01a3dd5#diff-91d00b5ec72fef64318f760cae59fbda

[2019-10-12 08:02] sergeyklay commented on #1907
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-10-12 08:02] #1907 closed, assigned to AlexNDRmac

[2019-10-12 08:04] sergeyklay commented on #1961
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for bug report.

[2019-10-12 09:53] sergeyklay commented on #1950
Zephir now prints a warning during the code generation if the `timecop` extension was detected. Introduced in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for bug report.

[2019-10-12 09:53] #1950 closed, assigned to nobody

[2019-10-12 19:22] chrysanthemum opened #1967 "Improve memory leak"
In my case, the same program was compiled with different versions of zephir, the latest version had even more memory leaks.

Zephir 0.12.4

[code]

Zephir 0.12.9

[code]

[2019-10-13 07:16] Jurigag opened #1968 "Zephir stubs allow multiline @param"
When the parameter is provided like this:

[code]

Which is totally correct phpdoc, it helps for plugin https://github.com/klesun/deep-assoc-completion to autocomplete code.

It's not detected correctly as parameter, it just add those lines as they are and additionally adds another `@param` from method parameters. I guess current regexp needs somehow to change https://github.com/phalcon/zephir/blo

[2019-10-13 09:24] sergeyklay commented on #1495
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-10-13 09:24] #1495 closed, assigned to AlexNDRmac

[2019-10-13 09:26] sergeyklay commented on #1967
@chrysanthemum Could you please provide code to reproduce?

[2019-10-13 14:14] chrysanthemum commented on #1967
I think the problem may be a little complicated, I try to find out what the problem is in a month or two.

[2019-10-13 14:20] sergeyklay commented on #1967
Can you try PHP 7.1 by any chance?

[2019-10-13 17:41] chrysanthemum commented on #1967
This error occurred after switching to php7.1. I'm going to take a little time.

[code]

[2019-10-13 18:11] chrysanthemum opened #1970 "BUG: gc_possible_root"
In PHP 7.1.32, This bug occurs.
In PHP 7.2.22, This bug does not occur.

zephir (0.12.9 ) git revision number: f345c4a2dede62b84b68a85b44a924dbe2d4ece8

test/globals/server.zep

[code]

manual.php
[code]

output:
[code]

[2019-10-13 18:12] chrysanthemum commented on #1967
Found a new bug in php7.1

https://github.com/phalcon/zephir/issues/1970

[2019-10-13 18:32] chrysanthemum commented on #1970
@dreamsxin Please help

[2019-10-13 19:43] sergeyklay commented on #1961
I'll open this one because changes proposed in #1965 broke our tests.

For more see:
- https://travis-ci.org/phalcon/zephir/builds/597342289
- https://github.com/phalcon/zephir/pull/1965#issuecomment-541299003
- https://github.com/phalcon/zephir/commit/ed65fa745931277e62cec3479c4c5b3ed01a3dd5#diff-91d00b5ec72fef64318f760cae59fbda

[2019-10-14 01:12] dreamsxin commented on #1961
@sergeyklay
[code]
generate c code:
[code]

[2019-10-14 01:13] dreamsxin commented on #1961
@sergeyklay So we need to get global every time.
[code]

[2019-10-14 09:48] dreamsxin commented on #1970
I test branch development, cannot reproduce.

PHP 7.1.32-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: Sep  2 2019 13:28:17) ( NTS )

[2019-10-14 10:09] sergeyklay commented on #1970
@dreamsxin Use `NTS DEBUG` or `ZTS DEBUG`, not just `NTS`

[2019-10-14 23:53] dreamsxin commented on #1970
Can test change zephir_get_global
[code]
To
[code]

Link https://github.com/phalcon/zephir/issues/1961#issuecomment-541478314

[2019-10-15 18:52] sergeyklay commented on #1970
@dreamsxin It is current implementation

https://github.com/phalcon/zephir/blob/6f6fe1578e2295a42cbc0936010cc0983bc7b7e5/kernels/ZendEngine3/main.c#L102-L110

[2019-10-15 21:15] sergeyklay commented on #1970
Looks like it is fixed in latest Zephir.

[code]

[code]

Output:
[code]

Tested PHP versions:
- 7.1.30 ( ZTS DEBUG )
- 7.2.20 ( ZTS DEBUG )
- 7.3.7 ( ZTS DEBUG )

Tested Zephir versions:
- 0.12.9 (latest release)
- 0.12.10 (development branch)

If there are bugs, we can follow up in separate issues.

[2019-10-15 21:15] #1970 closed, assigned to nobody

[2019-10-17 14:02] sergeyklay opened #1977 "Zephir stubs shouldn't add 'void' return type hint"
As a far as Zephir supports PHP 7.0 the `stubs` command should generate methods with `void` return type hint:

[code]

Currently this work so only if PHP 7.0 is used by generating stubs.

[2019-10-17 14:27] sergeyklay commented on #1968
Closing, this is implemented. If there are bugs, we can follow up in separate issues.

[2019-10-17 14:27] #1968 closed, assigned to AlexNDRmac

[2019-10-17 16:17] #1977 closed, assigned to nobody

[2019-10-17 19:03] sergeyklay commented on #1865
implemented

[2019-10-17 19:03] #1865 closed, assigned to sergeyklay

[2019-10-18 08:34] bobcolten opened #1981 "Classes cannots implement interface method with void interface"
Now when making own Zephir extension its not able to use Phalcon extension interface which has the `void` such as `setDI`.  It is good from the PHP class or using also all in own extension.

You cannot implement a method   `must be compatible with Phalcon\Di\InjectionAwareInterface::setDI(Phalcon\Di\DiInterface $container): void in Unknown on line 0`

[2019-10-18 08:43] bobcolten commented on #1981
I mean to say that Zephir extension will not be good for Zephir extension.

[2019-10-18 12:56] sergeyklay commented on #1981
@bobcolten Could you please provide minimal code to reproduce the issue?

[2019-10-19 12:50] #1961 closed, assigned to nobody

[2019-10-19 19:42] sergeyklay commented on #1494
Code to reproduce:
[code]

[2019-10-20 17:38] #1494 closed, assigned to sergeyklay

[2019-10-20 17:54] sergeyklay commented on #1967
@chrysanthemum Could you recheck again about memory leaks using 0.12.10 version

[2019-10-26 19:32] ruudboon opened #1986 "Alias in use statement not working in Stubs"
When generating stubs for the following Zephir code.
[code]
this will result in the following (incorrect) php
[code]

[2019-10-26 19:43] sergeyklay commented on #1986
@ruudboon Strictly speaking, this is absolutely correct PHP code :) Just redundant `use` statement. We're not optimize imports. There are a lot of tools (e.g. `php-cs-fixer`, `phpcs`) which can do this task better. In my opinion it would be wasteful to duplicate their functionality. On the other hand, I think redundant import isn't a problem at all. This import doesn't affect the IDE's possibility

[2019-10-26 19:51] sergeyklay commented on #1986
Ah, I see. Expected result is:

[code]

[2019-10-26 19:52] ruudboon commented on #1986
Yes or
[code]

[2019-10-26 20:10] ruudboon opened #1987 "[NFR] Add option to set banner for stubs"
In the stubs we sometimes want to add some extra comments to the top of class file.
For example copyright.
Can we add an option to the stubs section of the config.json to set this?
For example
[code]

[2019-10-28 16:29] sergeyklay opened #1988 "Bugs with Chars"
### Failed to compile

[code]
[code]

---

### Return array of

[code]

---

### Cast to string

[code]

[code]

---

### Strange chr result

[code]

[code]

[2019-10-30 01:00] andrewdalpino commented on #1956
I am also having this problem with `internal-call-transformation: true` with version 0.12.10 as well as dev-development

Here is my `compile-errors.log`

[code]

Source file https://github.com/RubixML/Tensor/blob/master/tensor/columnvector.zep

Generated code ...

[code]

[2019-10-30 09:14] sergeyklay commented on #1956
@dreamsxin Could you please take a look

[2019-10-30 09:31] dreamsxin commented on #1956
@sergeyklay
Change c code, add `INTERNAL_FUNCTION_PARAMETERS` and `INTERNAL_FUNCTION_PARAM_PASSTHRU`
define
[code]
call
[code]

[2019-10-30 09:32] dreamsxin commented on #1956
[code]

[2019-10-30 21:08] sergeyklay opened #1990 "Invalid return type annotation when generating stubs"
When generating stubs, only existing and valid data types should be used.

**Zephir code:**
[code]
**Expected result:**

[code]

**Actual result:**

[code]

[2019-10-31 00:34] andrewdalpino commented on #1956
Thanks for taking a look fellas! @sergeyklay @dreamsxin

I was able to get about an 80% speedup in [Rubix ML](https://github.com/RubixML/RubixML) just by porting the [Tensor](https://github.com/RubixML/Tensor) library over to Zephir

I'm hoping we can increase that with this optimization and eventually get to CPU/GPU multithreading by calling BLAS routines from C (see [openBLAS](https://github.com

[2019-10-31 13:22] ruudboon opened #1991 "No warning or error when returning invalid response."
See below simplified [Router](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Mvc/Router.zep) class.
[code]
This class will return null when getActionName() is called even when our return type specifies it as a string. I'm expecting a Fatal error: Uncaught TypeError.
It would be nice if our static code analyser / compiler would detect that our member variable is incompatible.

[2019-10-31 19:38] sergeyklay commented on #1988
Casting was fixed in https://github.com/phalcon/zephir/pull/1992

[2019-11-01 13:13] AlexNDRmac commented on #1986
@ruudboon could you pls check fix for Phalcon stubs generation?

[2019-11-01 13:40] #1956 closed, assigned to nobody

[2019-11-01 13:42] sergeyklay commented on #1956
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-11-01 13:48] #1986 closed, assigned to AlexNDRmac

[2019-11-01 13:49] sergeyklay commented on #1986
Fixed in the `development` branch.  If there are bugs, we can follow up in separate issues. Thank you for the bug report.

[2019-11-01 15:08] sergeyklay commented on #1866
Looks like it is fixed now.

Zephir code:

[code]

The test:
[code]

Output:
[code]

Thank you for the bug report

[2019-11-01 15:08] #1866 closed, assigned to nobody

[2019-11-01 15:19] sergeyklay commented on #1967
@chrysanthemum Is there a code to reproduce memory leaks?

[2019-11-01 15:33] sergeyklay commented on #1875
@dreamsxin I think we should go in that direction: Any scalar type should have its own "default constructor"  like in other languages (C++, Golang). In that scenario variables declared without an initial value are set to their zero values:

- `0` for all **integer** types: `int`, `uint`, `long`, `ulong`, `char`, `uchar`
- `0.0` for **floating point** numbers: `double`, `float`
- `false` for **bool

[2019-11-01 16:52] sergeyklay commented on #1805
I can't reproduce. All works as expected.

Zephir code:
[code]

Test:
[code]

Output:
[code]

[2019-11-01 16:52] #1805 closed, assigned to nobody

[2019-11-01 20:28] ruudboon commented on #1986
@AlexNDRmac Looks good! Seeing the alias now. thnx

[2019-11-01 23:11] dreamsxin commented on #1875
@sergeyklay
Then we have to modify the memory management, judged by the judgment type undef.
[code]

[2019-11-02 04:32] andrewdalpino opened #1997 "Strange (wrong) results from *, /, -, +, ==, >, >=, <, <= operations when internal-call--transformation: true"
https://github.com/phalcon/zephir/pull/1993 fixes the compile errors when `internal-call-transformation: true` however now some math operations are returning strange results. The results are normal with `internal-call-transformation: false` or in plain PHP.

For example, the following elementwise addition test fails on [ColumnVector](https://github.com/RubixML/Tensor/blob/master/tensor/columnvecto

[2019-11-02 04:44] andrewdalpino commented on #1997
There is a problem, but I think it's related to array traversal or failure to call overloaded methods properly rather than math operations so closing for now

Will open new issue once I pinpoint the real problem

[2019-11-02 04:46] #1997 closed, assigned to nobody

[2019-11-02 08:56] #1275 closed, assigned to nobody

[2019-11-02 09:01] sergeyklay commented on #1274
Can't reproduce.

Zephir code:
[code]

Test:
[code]

Output:
[code]

[2019-11-02 09:01] #1274 closed, assigned to nobody

[2019-11-02 09:01] #1251 closed, assigned to nobody

[2019-11-02 12:29] #1229 closed, assigned to sergeyklay

[2019-11-02 12:29] sergeyklay commented on #1229
Fixed in the `docs` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-11-02 19:20] andrewdalpino opened #2000 "Calling object methods from static context yields segmentation fault when internal-call-transformation: true"
Hi fellas,

As recently as 0.12.11, the following block of code results in a segmentation fault ...

[code]

Removing the calls to `a->n(`), `b->n(`),` a->asArray(`), and `b->asArray()` fixes the problem. There is no issue when compiled with `internal-call-transformation: false`. I am inferring that there is something wrong with how Zephir handles instance methods in the static context, but I coul

[2019-11-02 21:31] sergeyklay commented on #2000
@andrewdalpino Is problem actual with previous Zephir release, e.g.  0.12.10?

[2019-11-02 23:46] andrewdalpino commented on #2000
Hi @sergeyklay the problem occurs with the version that was released earlier today - version 0.12.11

Note that before 0.12.11 the extension would not even compile with `internal-call-transformation: true` due to https://github.com/phalcon/zephir/issues/1956

There are a few more issues related to the internal-call-transformation optimization however, they might be related to this one so I figured

[2019-11-03 06:25] sergeyklay commented on #2000
@dreamsxin Could you please take a look?

[2019-11-03 09:18] dreamsxin commented on #2000
@sergeyklay Can change
[code]
To
[code]
Test it, May be switch context error.

[2019-11-03 09:21] dreamsxin commented on #2000
I'll test it later.

[2019-11-04 01:22] dreamsxin commented on #2000
I test this code, no error.
[code]

Forget to configure `"internal call transformation": true`

[2019-11-04 07:16] sergeyklay commented on #2000
@andrewdalpino Could you helps us with test case? Feel free to create a PR with a test that will fall to show the problem. For example you can modify existing test: https://github.com/phalcon/zephir/pull/1993/commits/fc2bae3edac06993b828f35eb20d1f69b828c1bd or create a new one.

[2019-11-04 21:53] andrewdalpino commented on #2000
@sergeyklay I'd be happy to help however I've never written tests like that before

@dreamsxin were you able to reproduce the error by compiling the Tensor extension with `"internal call transformation": true` and then running the unit test?

[2019-11-04 22:43] dreamsxin commented on #2000
@sergeyklay static method will happen,The problem is here.
[code]
Change to
[code]

[2019-11-05 20:35] #2000 closed, assigned to nobody

[2019-11-05 20:39] sergeyklay commented on #2000
@andrewdalpino I just merged  #2001 with a fix for this issue. Any feedback before release are more than welcome. Feel free to ping us if you'll have any issue with testing using Zephir development branch.  Thank you for contributing!

[2019-11-05 23:41] andrewdalpino commented on #2000
Thank you @dreamsxin and @sergeyklay

The segfault is gone but some of the other issue still remain

At first glance, it appears we can't access public instance methods from a class' static context when compiled with `internal-call-transformation: true`

[code]

I'll do some more debugging and write up another issue if need be

Thanks again, looking forward to training neural networks in PHP in un

[2019-11-06 02:47] dreamsxin commented on #2000
@andrewdalpino Thank you
Please test again, use this change https://github.com/phalcon/zephir/pull/2002

[2019-11-06 11:39] zsilbi opened #2003 "Segfault with Mvc\Models"
I tried a slightly customized version of EagerLoading from the incubator with the current Phalcon 4.0.x branch. Everything works very well, but in some cases I got SEGFAULT errors.

I noticed, that there are strange `= null` lines before passing the actual values in some cases.

I thought that this must have been done like this to avoid bugs in the earlier versions, but in the end, **I had to add

[2019-11-06 12:45] sergeyklay commented on #2003
@zsilbi Yes, it is doesn't help :( We'll need a code to reproduce as small as possible.

[2019-11-06 13:33] Jurigag commented on #2003
Don't add backtrace without debug version and symbols, it doesn't tell anything. Also reproduce it without and dependencies.

[2019-11-06 15:19] zsilbi commented on #2003
Thanks, @Jurigag. I modified the backtrace (debug mode and symbols)

[2019-11-07 02:52] andrewdalpino commented on #2000
Nice, @dreamsxin that worked

I still have more errors in my tests to go through, I'll make them in a separate issue

Thanks again guys, great work as always

[2019-11-07 07:12] sergeyklay commented on #2000
You're welcome

[2019-11-09 12:03] sergeyklay commented on #1990
Fixed in the `development` branch.

[2019-11-09 12:03] #1990 closed, assigned to AlexNDRmac

[2019-11-09 22:59] andrewdalpino opened #2005 "Certain method calls fail when called from static context and compiled with "internal-call-transformation": true"
I get the following errors when running this [test](https://github.com/RubixML/Tensor/blob/master/tests/MatrixTest.php) with the extension compiled with `internal-call-transformation: true`. The errors go away if we disable the optimization.

[code]

At first glance, it appears that we can't access methods on objects from another class' static context. This is similar to https://github.com/phalcon

[2019-11-12 02:13] andrewdalpino opened #2007 "Method context loses track of 'this' after calling static method and compiled with "internal-call-transformation": true"
The following block of code ([source](https://github.com/RubixML/Tensor/blob/master/tensor/matrix.zep)) results in the unintended side effect of losing reference to 'this' after the static method call ...

[code]

**Output**

[code]

... when running this [test](https://github.com/RubixML/Tensor/blob/master/tests/MatrixTest.php) and the extension is compiled with the internal-call-transform optimi

[2019-11-12 23:16] sergeyklay commented on #1892
Closing, this is implemented. If there are bugs, we can follow up in separate issues. Thank you for contributing!

[2019-11-12 23:16] #1892 closed, assigned to AlexNDRmac

[2019-11-13 08:57] dreamsxin opened #2009 "`ZEPHIR_SEPARATE_PARAM` loss `&`"
@sergeyklay Example:
[code]
generate error code:
[code]
Use development

[2019-11-14 00:41] dreamsxin commented on #2009
The var name `b32` redefine.

[2019-11-14 05:28] dreamsxin opened #2010 "Type `zephir_get_numberval` bug && Bracket priority error"
In int64,
Type error
[code]

Bracket priority error
[code]
[code]

[2019-11-14 05:35] dreamsxin commented on #2010
The original meaning is (HMAC [offset + 2] & 0xff) this value shifts 8 bits to the left,
[code]
 The shift operation must be bracketed
[code]

[2019-11-14 05:45] dreamsxin opened #2011 "Syntax error about not separated by spaces"
`[ERROR] Syntax error in /xxx/test/test/debug.zep on line 9`
[code]

[2019-11-14 05:49] dreamsxin commented on #2011
Can add more friendly tips

[2019-11-14 06:48] sergeyklay commented on #2005
@dreamsxin Could you please take a look?

[2019-11-14 06:49] sergeyklay commented on #2011
@dreamsxin Looks like a parser issue. Good catch

[2019-11-14 09:04] dreamsxin commented on #2011
[code]

[2019-11-14 09:16] dreamsxin commented on #2005
Because `ZEPHIR_STATIC_CALL_INTERNAL_METHOD_P` use `ZEPHIR_SET_THIS_EXPLICIT_NULL`.
I will try replace current_execute_data

[2019-11-14 16:56] #1987 closed, assigned to AlexNDRmac

[2019-11-14 16:57] sergeyklay commented on #1987
Closing, this is implemented. If there are bugs, we can follow up in separate issues. Thank you for contributing.

[2019-11-14 23:34] dreamsxin commented on #2005
Please test again, There's another mistake:
`PHP Warning:  array_reduce() expects parameter 2 to be a valid callback, non-static method Tensor\Matrix::implodeRow() cannot be called statically`
[code]

[2019-11-14 23:54] dreamsxin opened #2014 "Hexadecimal requires use hexdec cast"
[code]
[code]
Zephir
[code]

[2019-11-15 02:54] dreamsxin commented on #2010
Change
[code]
to
[code]

[code]
expect
[code]
actually
[code]

[2019-11-16 20:26] andrewdalpino commented on #2005
Hi @dreamsxin it looks like the  https://github.com/phalcon/zephir/commit/900bd5f76696805c0a161bed5b0a4626b16258d6 commit to the development branch fixes the primary issue. The issue of overriding parent methods still exists so that probably a separate issue.

Thank you for pointing out the error with `__toString()` (I had forgotten about that). Changing the `implodeRow()` method to static seems t

[2019-11-17 08:02] sergeyklay commented on #2005
Closing, this is fixed. Lets follow up in separate issue with the overriding parent methods.

@andrewdalpino Could you please open a new issue with problem description and code to reproduce?

[2019-11-17 08:02] #2005 closed, assigned to nobody

[2019-11-18 12:25] ruudboon opened #2016 "Interface stubs have relative namespace"
Generating stubs for the file below using the latest zephir from the master branch
[code]
Will generate a stub like this
[code]

Expected result:

[code]

This also occurs when extending interfaces
[code]
Generated stub
[code]
Expected
[code]

[2019-11-18 15:37] dreamsxin commented on #2010
@sergeyklay @niden please delete https://github.com/phalcon/sr_graph/settings
I accidentally made a mistake. Can you remove this permission for me.

[2019-11-18 17:10] sergeyklay commented on #2010
@dreamsxin Removed :)

[2019-11-20 05:49] sergeyklay commented on #2016
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-11-20 05:49] #2016 closed, assigned to AlexNDRmac

[2019-11-21 07:42] sergeyklay commented on #2007
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-11-21 07:42] #2007 closed, assigned to nobody

[2019-11-25 12:01] eureka2 opened #2019 "I can not run zephir build on windows"
Hi,

with :

os version : Windows 10
php version : 7.3.9
zephir version : 0.12.12

I cannot compile my first [extension](https://docs.zephir-lang.com/0.12/en/tutorial)

Here are the commands I launched:

**********************************************************************
** Visual Studio 2017 Developer Command Prompt v15.0
** Copyright (c) 2017 Microsoft Corporation
****************************

[2019-11-25 20:27] sergeyklay commented on #2019
@eureka2 There should be log file. Could you please attach this file to the issue?

[2019-11-25 22:49] eureka2 commented on #2019
Thank you for your reply,
here are the log files:
[compile.log](https://github.com/phalcon/zephir/files/3889051/compile.log)
[compile-errors.log](https://github.com/phalcon/zephir/files/3889052/compile-errors.log)

[2019-11-26 17:27] sergeyklay commented on #2019
Looks like it is _linking issue_ related to incorrectly configured environment. Do you use standard PHP setup?

[2019-11-26 17:29] sergeyklay commented on #2019
FYI: There is AppVeyor setup to build test extension. Fill free to borrow any part of it:
https://github.com/phalcon/zephir/blob/development/appveyor.yml

[2019-11-26 19:32] eureka2 commented on #2019
Hi @sergeyklay,

I found !
The DOS shell  must be started as an **administrator**

However 'zephir buid' does not work on Windows!
We must successively execute::
`zephir init Utils`
`cd utils`
`zephir compile`
`cd ext`
`./configure`
`nmake`

Thanks for your help

This issue can be closed

Best regards

[2019-11-26 19:51] #2019 closed, assigned to nobody

[2019-11-27 12:12] sergeyklay commented on #2009
@dreamsxin Could you send a patch for this?

[2019-11-27 12:57] dreamsxin commented on #2009
@sergeyklay I think this is the duplicate of parameter name and variable name. It's better to give an exception prompt directly when zephir generate.

[2019-11-27 13:11] sergeyklay commented on #2009
Got it. I agree

[2019-12-02 09:52] cryptooman opened #2020 "Zephir bug in incrementing array element"
Hey. Seems found a bug in incrementing an array element in Zephir. Possible same presents also for the decrement.

[code]

Zephir 0.12.12, PHP 7.2.24-0ubuntu0.18.04.1

[2019-12-02 15:17] cryptooman commented on #2020
Please, check the same issue, but for the class static attributes.

[code]

[2019-12-04 02:02] andrewdalpino opened #2021 "Failure to call overloaded method when compiled with `internal-call-transformation: true`"
Greetings Phalcon/Zephir team,

The multiply, divide, add, subtract, greater, greater equal, less, and less equal tests starting [here](https://github.com/RubixML/Tensor/blob/master/tests/ColumnVectorTest.php#L74) fail when the [Tensor](https://github.com/RubixML/Tensor) extension is compiled with `"internal-call-transformation: true"`. They do not fail when the extension is compiled without the o

[2019-12-04 05:52] sergeyklay commented on #2021
@dreamsxin Could you take a look by any chance?

[2019-12-04 07:34] dreamsxin commented on #2021
I will test it tomorrow

[2019-12-05 09:11] dreamsxin commented on #2021
@sergeyklay
`Vector.zep`
[code]
`ColumnVector.zep`
[code]

In `vector.zep.c` the internal function name is fixed, can't overload.
[code]

Zephir should stipulate that no inherited method can automatically become an internal function

[2019-12-10 20:17] niden commented on #1849
Any updates on this boys or we are doing other stuff?

[2019-12-10 20:21] niden opened #2025 "[NFR] Variadic functions support"
It would be great if we can get support for variadic functions using the `...` operator (same as in PHP) instead of relying on `func_get_args()`

This will greatly help when calling methods that accept different number of parameters (see `PDO::query()` for instance)

From the PHP manual = example:

[code]

[code]

[2019-12-10 20:56] sergeyklay commented on #1849
Not yet

[2019-12-11 10:04] ruudboon opened #2026 "[NFR] Improve type hint for arrays when generating stubs"
When generating a stub for the following code
[code]
It results in
[code]

If possible we would like to generate the following stub.
[code]
See https://github.com/ruudboon/phpstorm-phalcon-4-autocomplete/issues/1

[2019-12-16 18:17] eureka2 opened #2029 "How can i avoid this warning : Variable "xxxx" assigned but not used"
Hi,

I wrote this method which works correctly:
[code]
But I get this warning when compiling :
[code]
How to avoid it?

as you can see, the variable 'pdo' is used in the **_use_** language construct ... `function(a) use (pdo)`

Thanks for your help

[2019-12-16 23:53] sergeyklay commented on #2029
Hello,

It's a minor issue we should to deal. Right now you can safely ignore this warning.
Another option is to use `-Wunused-variable` flag.

[2019-12-17 08:37] eureka2 commented on #2029
Hi,

Thank you for your reply

Ok, I will ignore this warning. I don't want to use the `-Wunused-variable` flag.
Thank you for not closing this issue until it is resolved.

[2019-12-18 06:41] terah opened #2030 "Issue with backslashes when outputting strings"
Hi,

I'm in the process of porting my colour logger to a php extension.

**Zephir snippet (Logger.zep):**
[code]

**PHP Snippet: (test.php)**
[code]

**Output**
[code]

I'd expect zephir to behave the same as PHP where it doesn't echo the extra backslashes.

[2019-12-20 12:42] sergeyklay commented on #2026
Closing, this is implemented. If there are bugs, we can follow up in separate issues.

[2019-12-20 12:42] #2026 closed, assigned to AlexNDRmac

[2019-12-25 08:31] hellobbq commented on #1981
[code]

has warning 'must be compatible with...'

[2019-12-25 15:10] sergeyklay commented on #1981
[code]

[2019-12-25 15:10] #1981 closed, assigned to nobody

[2019-12-31 17:01] #2020 closed, assigned to sergeyklay

[2019-12-31 17:01] sergeyklay commented on #2020
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2020-01-06 07:35] andrewdalpino opened #2040 "Sqrt(), exp(), and log() are about 136X slower in Zephir than PHP"
Hey Fellas,

The following is a benchmark of a matrix square root that performs 250,000 square root operations on a uniform random matrix in both PHP (top) and Zephir (bottom). You'll notice that the same operation is about 136X slower using the extension than plain old PHP. Both benchmarks are run on the same system. Perhaps the math kernel needs some optimizing?

Benchmark can be seen [here](htt

[2020-01-06 09:23] sergeyklay commented on #2040
@dreamsxin Could you please take a look? I'm very busy these days

[2020-01-06 09:45] andrewdalpino commented on #2040
@sergeyklay @dreamsxin @ruudboon

Happy new years fellas, looking forward to squeezing even more performance out of PHP this year

Btw, so far everything else benchmarks at least as fast and in some cases 20X faster (on average about 2 - 4X) than plain old PHP

[2020-01-07 00:02] andrewdalpino commented on #2040
Here's some more info ...

`sin()`, `cos()`, `tan()`, and `abs()` are also much slower (about 136X) in Zephir than PHP ... curiously `pow()` seems to be alright

Also, whether the context is within a loop or as a callback to `array_map()` makes no difference

[2020-01-07 00:33] sergeyklay commented on #2040
Thank you for a such detailed report Andrew!

[2020-01-07 01:43] dreamsxin commented on #2040
These basic methods need to be optimized to reduce PHP function calls, I will test.

[2020-01-07 02:02] andrewdalpino commented on #2040
You're welcome @sergeyklay and thank you @dreamsxin

The benchmarks can be found [here](https://github.com/RubixML/Tensor/tree/master/benchmarks) if you want to take a look ... We're using phpbench

[2020-01-08 03:53] dreamsxin commented on #2040
@andrewdalpino Can your PHP (sqrt) code be submitted?
[code]
[code]

[2020-01-08 04:22] andrewdalpino commented on #2040
Yes, the map function is [here](https://github.com/RubixML/Tensor/blob/master/src/Matrix.php#L688) in PHP and [here](https://github.com/RubixML/Tensor/blob/master/tensor/matrix.zep#L698) in Zephir

... and the matrix square root is [here](https://github.com/RubixML/Tensor/blob/master/src/Matrix.php#L1573) in PHP and [here](https://github.com/RubixML/Tensor/blob/master/tensor/matrix.zep#L1606) in Z

[2020-01-08 04:57] andrewdalpino commented on #2040
Lol you guys are going to hate me @dreamsxin @sergeyklay

I had x debug running for the Zephir benchmarks

Here are the benchmarks with x debug off

[code]

You'll notice how `sqrt()` is about twice as fast as PHP now

Weird how it didnt effect `pow()` like the others ... anyways my bad

At least we have these cool benchmarks now

[2020-01-08 05:06] andrewdalpino commented on #2040
And for comparison here are the benchmarks in PHPland ...

[code]

[2020-01-13 07:28] sergeyklay commented on #2040
@andrewdalpino Can we close this? Are there functions that are still slow, after disable xdebug?

[2020-01-13 07:33] #1967 closed, assigned to nobody

[2020-01-13 07:33] sergeyklay commented on #1902
@dreamsxin What do you think about this? Can we start moving in this direction?

[2020-01-13 09:16] #2040 closed, assigned to nobody

[2020-01-14 09:43] ruudboon opened #2042 "Compile warnings PHP7.4 + Phalcon"
On the latest Phalcon (4.0.2) we have a few compile warnings. One is already logged #653
But we also have the following warnings:
[code]

[2020-01-15 03:04] dreamsxin commented on #1902
@sergeyklay Using zend_string is very convenient when using Zend API.

[2020-01-17 14:15] ismail0234 opened #2046 "Pdo Fetch Error"
Why doesn't fetch work?

My Code:

[code]

Error:

[code]

[2020-01-17 14:28] sergeyklay commented on #2046
`fetch` is reserved word. Use `$` (dollar) to escape reserved words:
[code]

[2020-01-17 14:28] #2046 closed, assigned to nobody

[2020-01-20 14:36] ismail0234 opened #2047 "Zephir very slow..."
I rewrote an existing library with zephir. The difference between the results was very large while testing. Do I need to do something about optimization while compiling?

I compile on windows. (PHP 7.3 TS X64)

**ZEPHIR**

**PHP**

[2020-01-21 14:18] sergeyklay commented on #2047
Please provide a full list of enabled extensions, as well as the project code and used benchmark

[2020-01-21 14:39] ismail0234 commented on #2047
Zephir Version Files:
https://github.com/ismail0234/pdodatabase-zephir

PHP Version Files:
https://github.com/ismail0234/pdodatabase

Benchmark Code:
[code]

[PHP Modules]
[code]
@sergeyklay

[2020-01-25 15:50] arshidkv12 opened #2051 "How to serialize op_array?"
How to serialize op_array and save to file?

[2020-01-25 16:04] nobuenhombre opened #2052 "Concate with class property just override and dont concate string"
Hello.

I have class

[code]

[2020-01-25 17:18] sergeyklay commented on #2051
[code]

How exactly are you going to serialize this? And what do you mean saying "serialize". Could you please elaborate on that.

[2020-01-25 17:43] arshidkv12 commented on #2051
I want save op_array to file.

On Sat, Jan 25, 2020, 10:48 PM Serghei Iakovlev <notifications@github.com>
wrote:

[2020-01-25 17:51] #2051 closed, assigned to nobody

[2020-01-25 17:56] sergeyklay commented on #2052
@dreamsxin As I remember you fixed very similar issue https://github.com/phalcon/zephir/pull/2038. Could you please take at this one?

[2020-01-29 09:42] ismail0234 commented on #2047
@sergeyklay is there any improvement?

[2020-01-29 10:17] sergeyklay commented on #2047
@ismail0234 I didn't even have the time to prove that the issue is exists. So no, there is no improvement. I'm sorry for the delay. I'll try to deal as soon as possible.

@dreamsxin Could you take a look by any chance?

[2020-02-04 21:46] Jurigag opened #2057 "Property visibility is broken"
Just check failing tests here - ~https://github.com/phalcon/zephir/pull/2056~, https://github.com/phalcon/zephir/pull/2078

Zephir ignores property visibility, there is no error thrown when setting private/protected properties in scope that shouldn't do it.

Also `__set` is ignored as well in that case.

[2020-02-14 04:35] dreamsxin commented on #2052
Can you submit generated C code?

[2020-02-14 11:22] JellyBrick opened #2061 "Operators cannot be used to create constant variables"
# Code

limits.zep
[code]

# Error log

[code]

[2020-02-14 12:02] sergeyklay commented on #2061
It is not a bug, but more a feature request. Zephir doesn't allow operations on constants declaration.

[2020-02-18 10:40] sergeyklay opened #2062 "I think this sould be documented here: https://docs.zephir-lang.com/0.12/en/operators#empty"
I think this sould be documented here: https://docs.zephir-lang.com/0.12/en/operators#empty
Because there is absolutely nothing in the "empty" documentation that suggest this different behaviour.

_Originally posted by @colorvamp in https://github.com/phalcon/zephir/issues/917#issuecomment-586743644_

[2020-02-23 22:07] sergeyklay opened #2063 "Concat does not work with global properties"
#### Zephir Code

[code]

### Test

[code]

#### Output

[code]

[2020-02-23 22:13] sergeyklay commented on #2063
Possible workaround
[code]

Actually we're used this in such way always.

[2020-02-23 22:14] sergeyklay commented on #2063
/cc @niden

[2020-03-04 12:50] fabiante opened #2064 "Zephir is stuck in error no matter what command is used to run it"
Hi,

I just now tried zephir for the first time. I have this problem where I once had a file with invalid code. I tried fixing the problem, which didn't help. I then deleted the whole folder of my extension and zephir is still somehow "stuck" in the error state. It does not even matter what command I run zephir with:

[code]

[2020-03-04 12:52] fabiante commented on #2064
Oh wow, I just found out that the issue was that my generated .so extension contained an error which made PHP totally unusable.

Removing the extension from the ini file and then fixing the bug worked.

[2020-03-04 12:52] #2064 closed, assigned to nobody

[2020-03-11 19:21] sergeyklay opened #2065 "Regression in #1969"
[code]
is escaped now
[code]
so colors in ice console stopped working
https://github.com/ice/framework/blob/3667503adc7efb128ed8d56e46b0ef9b0e24577e/build/php7/ice/cli/console.zep.c#L289

_Originally posted by @mruz in https://github.com/phalcon/zephir/pull/1969#issuecomment-597349759_

[2020-03-11 19:22] sergeyklay commented on #2065
@AlexNDRmac Could you please take a look

[2020-03-12 17:01] colorvamp opened #2066 "Strange binary size growth"
With newer versions of zephir, the extension size had become 3 times bigger which seems very strange to me. I asked first here: https://forum.phalcon.io/discussion/20367/zephir-compiled-binary-size before opening a bug report.

Taking exactly this simple code:

[code]

Old version:
zephir --version
Zephir 0.12.2 by Andres Gutierrez and Serghei Iakovlev (b3f17c25)
Resulting Module Size: 42.7KB

New

[2020-03-13 20:29] AlexNDRmac commented on #2065
@mruz could you please check branch with [fix](https://github.com/phalcon/zephir/tree/bugfix/2065-escape-string)

I've regenerated your part of code with this fix... and it LGTM :)
[code]

[2020-03-13 20:57] mruz commented on #2065
It works! Thanks @AlexNDRmac

[2020-03-14 09:29] sergeyklay commented on #2065
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2020-03-14 09:29] #2065 closed, assigned to AlexNDRmac

[2020-03-15 16:56] mruz opened #2069 "Get char from a string"
[code]

zephir
[code]

[code]

[2020-03-24 20:43] ghost opened #2071 "Undefined index: value"
My code compilation is returning the following error inside zephir. zephir/Library/Operators/Bitwise/BitwiseBaseOperator.php line 196.

Like this:
In BitwiseBaseOperator.php line 196:

  [ErrorException]
  Undefined index: value

Exception trace:
  at phar:///usr/bin/zephir/Library/Operators/Bitwise/BitwiseBaseOperator.php:196
 Zephir\{closure}() at phar:///usr/bin/zephir/Library/Operators/Bitwise

[2020-03-24 20:53] AlexNDRmac commented on #2071
@joaorsilva can you give code sample which causes this error?

[2020-03-26 04:49] maybeTomorrow opened #2072 "[ERROR] File not found at path: 0.12.17-6724dbf/gcc-version"
Zephir 0.12.17 by Andres Gutierrez and Serghei Iakovlev (6724dbf)

php -v
PHP 7.3.16 (cli) (built: Mar 26 2020 11:13:50) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.16, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.3.16, Copyright (c) 1999-2018, by Zend Technologies

phpize -v
Configuring for:
PHP Api Version:         20180731
Zend Module Api No:      201807

[2020-03-26 07:28] sergeyklay commented on #2072
@maybeTomorrow Is this works for you?

[code]

[2020-03-26 11:21] mruz commented on #2069
A cast char to string workaround:

[code]

but it's painful if I want to do `ord(data[0])`, we could play with `chr()`, but  @sergeyklay maybe there is a better way, is it related to https://github.com/phalcon/zephir/issues/1988?

I think it works if we do it in the loop, but I have to double-check:
[code]

[2020-03-26 14:33] sergeyklay commented on #2069
@mruz Thank you for the bug report. I'll try to sort out

[2020-03-26 14:34] sergeyklay commented on #2069
And yes, this is related to  #1988

[2020-03-27 21:36] sergeyklay commented on #2066
@colorvamp Did you compare results using `zephir build` with `--no-dev`?

P.S. There is `zephir fullclean` command in addition to `zephir clean`.

[2020-03-27 21:41] colorvamp commented on #2066
Yes, I even deleted "ext" folder.
Casually yesterday I was working a bit on this and comparing generated files. The main change is a lot of "TSRMLS_CC" disappeared

[2020-03-27 21:56] sergeyklay commented on #2066
Yes, TSRMLS_CC is deprecated. Thus it has been removed from Zephir

[2020-03-27 22:09] colorvamp commented on #2066
ok, other than that there are no changes in generated code i can appreciate. I was checking for new dependencies that can justify the x3 binary size, but the number of includes remains the same.

[2020-03-30 17:04] mruz commented on #1961
I have similar issue. If I access to the global variable in zephir and then access with `isset` in php:

[code]
then I'm getting "502 Bad Gateway":

[2020-03-30 18:55] mruz opened #2073 "Segmentation fault zim_Ice_Dump_output"
I'm getting SIGSEGV when try to dump detailed i18n class
[code]

https://github.com/ice/framework/blob/dev/ice/dump.zep https://github.com/ice/framework/blob/dev/ice/i18n.zep
Will try to provide minimal code.

[code]

[2020-03-31 07:43] sergeyklay commented on #1961
@mruz Most likely this is a different issue. Could you please create a new issue with code to reproduce?

[2020-03-31 07:49] sergeyklay commented on #2073
Yes, minimal code to reproduce will help a lot.

[2020-04-02 11:31] namtxs opened #2075 "Code not running in zephir"
[code]
in php lang, code works fine, but in zephir not executed, get blank

[code]

when in `utoken` step, the code exited and get blank output

[2020-04-02 14:35] Jeckerson commented on #2075
Probably because your code generate notice error in PHP, which is acceptable. But in zephir it is not.

In PHP, this change:
[code]

to this:
[code]

---

In Zephir, this change:
[code]

to this:
[code]

[2020-04-02 15:43] namtxs commented on #2075
[ERROR] Cannot mutate variable 'updateAccessToken' because it wasn't defined in
         D:\phpdev\namdevel\namdevel\Ovo.zep on line 63

[2020-04-02 15:52] namtxs commented on #2075
when i compiled this code to php extension, and run this function 1 by 1 its no error
[code]

But when i make call that 3 function in 1 this function, `let utoken ` get blank, and my command prompt show loading icon

[code]

[2020-04-14 00:58] thinker-gao opened #2077 "How to call win32 api using zephir？"
How to call win32 api using zephir？Not seen in the documentation

[2020-04-14 08:33] ViltusVilks commented on #2077
build .NET proxy app and use dotnet class in php to invoke methods.

[2020-04-15 01:11] thinker-gao commented on #2077
Can't you use zephir to call win32api directly?

[2020-04-15 07:47] ViltusVilks commented on #2077
if You write custom h/c files and put it on compilation stage then probably yes.

[2020-04-16 07:42] #2077 closed, assigned to nobody

[2020-04-22 17:12] mruz commented on #2073
Not Zephir issue.

[2020-04-22 17:12] #2073 closed, assigned to nobody

[2020-04-23 19:57] #2057 closed, assigned to sergeyklay

[2020-04-23 21:57] sergeyklay commented on #2042
Fixed. Thank you for the bug report

[2020-04-23 21:57] #2042 closed, assigned to nobody

[2020-04-23 22:03] sergeyklay commented on #1475
Remaining leaks don't related to Zephir code. Closing

[2020-04-23 22:03] #1475 closed, assigned to nobody

[2020-04-24 06:51] yogawa opened #2081 "Failed to compile on windows"
Environtment
[code]

i execute `zephir compile` command in my project directory and this is the result

[code]

and this is the contents of compile-errors.log file

[code]

[2020-04-24 14:05] sergeyklay commented on #2081
@yogawa Is `zephir generate` does the work? This command should generate C-code as well as prepare all the required files.

[2020-04-24 15:15] yogawa commented on #2081
@sergeyklay yes, `zephir generate` does the work
when i executed `zephir generate` command, no error message displayed on the console

So what exactly program that not found in the error message "The system cannot find the path specified."

[2020-04-24 22:06] sergeyklay commented on #2081
@yogawa Most likely it is `%PHP_DEVPACK%\\phpize`. Could you please ensure you have `%PHP_DEVPACK%` environment variable pointed to PHP Developer pack installation path.

[2020-04-25 14:52] yogawa commented on #2081
@sergeyklay  i forgot to add `PHP_DEVPACK` and `PHP_SDK` path
thank you very much

case closed

[2020-04-25 14:59] #2081 closed, assigned to nobody

[2020-04-25 18:52] sergeyklay commented on #2081
You're welcome

[2020-04-27 12:55] sergeyklay opened #2086 "Rename tests folders"
There are several directories whose name confuses people. I would like to consider renaming these directories:

- test -> stub
- unit-tests -> tests

[2020-05-01 10:45] mqwerty opened #2091 "[BUG]: Warnings when compiling version 4.0.5 on Alpine"
**Describe the bug**

Get warnings when compiling version 4.0.5 on Alpine:
[code]

But everything seems to work:
[code]

**To Reproduce**

Dockerfile:
[code]

The same when installing from PECL.

[2020-05-01 12:03] mruz opened #2089 "Can't set default array value on extends"
Zephir
[code]

PHP
[code]

Output:
[code]

Expected to get it after an object is initialized. Looks like https://github.com/phalcon/zephir/issues/537 returned.

[2020-05-01 13:49] sergeyklay commented on #2089
@mruz Could you please check previous Zephir version just to clarify we don't break anything in https://github.com/phalcon/zephir/pull/2078

[2020-05-01 14:25] mruz commented on #2089
@sergeyklay seems fine on zephir 0.12.17, I also added a test for it.

[2020-05-01 17:05] sergeyklay commented on #2089
@dreamsxin I need your help here. Could you please take a look. Also see https://github.com/phalcon/zephir/pull/2090

[2020-05-02 00:47] Jeckerson commented on #2091
/cc @sergeyklay

[2020-05-03 05:13] dreamsxin commented on #2089
@sergeyklay create_object  is later than declare property.
[code]

[2020-05-03 14:24] sergeyklay opened #2092 "Non accurate generation of stubs for methods which may return object or null"
For the following Zephir code:
[code]

The following sub was generated:
[code]

It is a bit non accurate and should be as follows:
[code]

[2020-05-04 21:36] sergeyklay commented on #2092
Implemented in development branch

[2020-05-04 21:36] #2092 closed, assigned to AlexNDRmac

[2020-05-04 22:17] sergeyklay commented on #2072
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2020-05-04 22:17] #2072 closed, assigned to nobody

[2020-05-06 20:05] OrangeTanguine commented on #2091
Hi !
Same problem in a fresh VM (virtualbox) . The installation taked a very long time :(

Ubuntu 20.04 LTS (GNU/Linux 5.4.0-28-generic x86_64)

Installation with pecl

[2020-05-06 20:16] OrangeTanguine opened #2095 "[Bug] Can't install on Ubuntu 20.04 LTS"
Hi !
The Repository installation does not work.
I have an error message when i do an apt-get update :

[2020-05-07 05:00] sergeyklay commented on #2095
Hello,

I'll prepare packages ASAP. This issue is duplicate for: https://github.com/phalcon/cphalcon/issues/14958.

Thank you for the report!

[2020-05-07 05:00] #2095 closed, assigned to nobody

[2020-05-08 15:43] #2086 closed, assigned to nobody

[2020-05-09 06:07] khanzadimahdi commented on #2091
I have same problem on PHP 7.4.4 on Ubuntu 19.10

Installation with pecl shows the below error on terminal and after 15 minutes it succeed!

[code]

[2020-05-09 10:49] Jeckerson commented on #2091
@khanzadimahdi Are you sure that compilation stops?

[2020-05-09 11:31] khanzadimahdi commented on #2091
@Jeckerson It takes more than 15 minutes! and finally completed successfully!

[2020-05-09 19:36] #2089 closed, assigned to sergeyklay

[2020-05-09 19:37] sergeyklay commented on #2089
Fixed in the `development` branch. Thank you for the bug report!

[2020-05-10 08:50] sergeyklay commented on #2091
1. These warnings do not affects compilation
2. Use https://github.com/phalcon/cphalcon repo for PECL issues related to Phalcon

/cc @ruudboon

[2020-05-10 09:08] #2091 closed, assigned to sergeyklay

[2020-05-10 09:09] sergeyklay commented on #2091
Compiler warnings have been addressed in development branch. Thank you for the bug report

[2020-05-10 09:13] Jeckerson commented on #2091
@khanzadimahdi Fast compilation require good CPU.

[2020-05-10 14:40] mruz commented on #2089
@sergeyklay thank you!

[2020-05-10 17:03] sergeyklay commented on #2089
You're welcome

[2020-06-07 08:26] Cvar1984 opened #2102 "Can't init using phar 0.12.19"
I downloaded phar files and move it to `~/.local/bin/zephir` and this what happen when im trying to init project on home directory. But everything is fine if i move zephir phar to home direcrory
[code]

[2020-06-07 12:59] Cvar1984 opened #2103 "llvm ir bitcode build error on aarch64"
I try basic hello world from the docs, when i tried to build, it throw an error
[code]

[2020-06-08 07:30] sergeyklay commented on #2102
Thank you for the report. I will sort out ASAP

[2020-06-10 10:40] ruudboon commented on #1830
Compiling Phalcon 4.0.6 is triggering the follwing warning:

[code]

[2020-06-10 11:07] sergeyklay opened #2104 "Compiling Phalcon 4.0.6 is triggering the follwing warning:"
Compiling Phalcon 4.0.6 is triggering the follwing warning:

[code]

_Originally posted by @ruudboon in https://github.com/phalcon/zephir/issues/1830#issuecomment-641917342_

[2020-06-10 11:08] sergeyklay commented on #1830
I created a separated issue because this is not related

[2020-06-10 11:08] #1830 closed, assigned to nobody

[2020-07-02 06:57] bitdaric opened #2105 "[ERROR] Extension namespace cannot be loaded"
edit: fixed Extension namespace cannot be loaded
now get these errors:

OS: Windows 10 64bit

php -v
[code]
C:\zephir init helloworld

C:\helloworld\helloworld\greeting.zep
[code]
config.json
[code]
zephir compile
[code]

[2020-07-13 16:42] rigin opened #2106 "Syntax error in objects containing subobjects"
Hello,

When using type constructs.
[code]
an error occurs in the line.

`let io->answer->{key} = value;`

The compiler does not allow assigning a value to a property of a subobject.

Respectfully,
Vadim Rigin.

[2020-07-14 09:50] korbad3v commented on #2104
I'm also seeing this compile error when using pecl install inside a php-fpm alpine docker image. All dependencies have been checked and doubled checked

[2020-07-22 22:30] fakharak opened #2107 "On Ubuntu: Zephir not running and says permission denied"
I am using Ubuntu 18.04 and PHP 7.4.8, i am installing Zephir using .PHAR and following the instructions in official documentation having link:

https://docs.zephir-lang.com/0.12/en/installation

Heading: "Release PHAR"

I downloaded zephir.phar, renamed it to zephir (as per instructions) and pasted it into /usr/bin (which is in $PATH).

Now when i run zephir, i get this as output
Permission Denie

[2020-07-23 06:22] sergeyklay commented on #2107
@fakharak Did you change file mode (`sudo chmod +x /usr/bin/zephir`)?

[2020-07-23 22:09] fakharak commented on #2107
Yes @sergeyklay , i made it executable (but not from the command line) and it worked but now i am having another issue:

When i run it from /home/ubuntu (Ubuntu is my default user on EC2 Instance that looks like ~/  on terminal ) it does not show any issue and runs correctly, but when i run ti from any sub-folder like from within "Downloads" or "Pictures" it gives this error which i am not able to

[2020-07-23 22:29] sergeyklay commented on #2107
Hm...
As a workaround try to create /home/ubuntu/.local/state/zephir by hand.

[2020-07-23 22:50] fakharak commented on #2107
@sergeyklay Resolved But in a  different way:

The folders "/home/ubuntu/.cache" and "/home/ubuntu/.local" both were already there but they were (perhaps) hidden.

I noticed those folders only when i executed the command "ls -la" from within /home/ubuntu/ ...

... then i resolved the issue by changing the permissions of ".cache" and ".local" folders using ...

sudo chmod g+rwX -R .local
sudo chmod

[2020-07-24 07:13] sergeyklay commented on #2107
Well, `$HOME/.local` (which is `/home/ubuntu/.local` in your case) must be writable by the user on whose behalf it zephir is running (a least it should have enough privilege to create state files in `$HOME/.local/state/zephir/*`). That's expected.

[2020-07-24 18:03] rigin opened #2109 "When compiling an application that contains camelcase class and namespace names, the compiler converts all file and folder names to lowercase."
When compiling an application that contains camelcase class and namespace names (and, accordingly, camelcase folder and file names), the compiler converts all file and folder names to lowercase.

Screenshot
https://yadi.sk/i/ayKU74mHjqYA9g

This causes compilation errors.

`make: *** Нет правила для сборки цели «/home/rigin/D/YandexDisk/lighttpd/htdocs/dev/zephir/Cat/ext/cat.c», требуемой для «cat

[2020-07-24 18:45] AlexNDRmac commented on #2109
Which version of Zephir and which OS are you using?

[2020-07-24 18:54] rigin commented on #2109
Zephir 0.12.19  Ubuntu 18.04

[2020-07-24 19:10] rigin commented on #2109
And I tried to rewrite the code to lower case, but the compiler gives an error. requires "Namespace 'cat' must be in camelized-form"
And all in a circle.

[code]
https://yadi.sk/d/SiBwJzFzx64prw

[2020-07-24 20:20] fakharak commented on #2107
Great thanks @sergeyklay for the prompt response. That is much helpful, really appreciate. Regards.

[2020-07-24 20:26] sergeyklay commented on #2107
Can I close this issue?

[2020-07-26 09:15] AlexNDRmac commented on #2109
Ok, I'll try to sort out with it.

[2020-07-30 22:01] bubach opened #2110 "Erhm... constants?"

[2020-07-30 22:05] Jurigag commented on #2110
What you mean? You mean `let` keyword? It's not only JS thing.

[2020-07-31 07:07] chilimatic commented on #2110
let comes from math where you spell it out

[code]
often used in an inferred context. it's a semantic thing like "var" in javaesque languages or go.

[2020-08-11 13:07] #2110 closed, assigned to nobody

[2020-08-14 08:00] mruz opened #2111 "Support for php8"
Add php 8.0 support. We have feature freeze and beta1 now https://wiki.php.net/todo/php80.

It's disabled in composer/build. Can we enable (with allowed failures) and see what's failing?

Would be good if it's ready on Nov 26 2020 (GA).

[2020-08-15 06:31] zubin999 opened #2112 "[ERROR] File not found at path: 0.12.19-4345593/gcc-version"
when i run `zephir build`, i got this error:
`[ERROR] File not found at path: 0.12.19-4345593/gcc-version`

i installed  zephir the latest version on centos 8.

[2020-08-16 19:23] Jurigag commented on #2111
Yea i guess we will need to prepare stuff for it. I guess feel free anyone to figure out what needs to be done and use open collective funds for it.

@dreamsxin would have any time to at least do any review how lot of work this would require?

[2020-08-17 01:53] dreamsxin commented on #2111
Changes:

Arg info must be defined.
Some zend api parameter type changed:  `zval` -> `zend_ object`.

Optimistic estimation: 2 weeks.

[2020-08-25 07:13] Ultimater commented on #2047
I'll take a look at this.

[2020-08-31 05:44] dreamsxin commented on #2052
Test it's right.
[code]

[2020-08-31 05:44] #2052 closed, assigned to sergeyklay

[2020-09-02 12:12] fagai opened #2115 "When camelize is double applied, the character string does not become UpperCamelCase(PascalCase)"
[code]

Can this problem be resolved?

[2020-09-02 12:58] AlexNDRmac commented on #2115
function camelize using two args: `camelize(text, delimiter)`
In your example, you always overwrite your `$text` variable and it looks not obvious.
[code]

[2020-09-02 13:19] fagai commented on #2115
thank you.

I don't think the output of `\Phalcon\Text::camelize('SampleSample')` is `Samplesample`.
Is this result desired?

[2020-09-02 13:40] AlexNDRmac commented on #2115
Yes, this result is expected. How function without explicit delimiter should detect proper char to make this char uppercase?

[2020-09-02 13:43] chilimatic commented on #2115
also it's pascal- not camelcase.

[2020-09-02 13:58] fagai commented on #2115
oh, pascal case...

Is it supposed that the character string `SamPle` comes in?
I feel that the process of making all lowercase letters once is unnecessary.

[2020-09-03 16:09] danhunsaker commented on #2115
~~This is how the function works in other frameworks and libraries, too - everything is lowercased unless it follows a delimiter (generally `_`, `-`, or ` `). Partially because of constants - `FOO_BAR` should properly be camelized to `fooBar` or `FooBar`.~~ There's some disagreement about whether the result should be camelCase or UpperCamelCase.

But yeah, these functions aren't designed to have s

[2020-09-06 02:59] zubin999 commented on #2112
LSB Version:    :core-4.1-amd64:core-4.1-noarch
Distributor ID: CentOS
Description:    CentOS Linux release 8.2.2004 (Core)
Release:        8.2.2004
Codename:       Core

[2020-09-06 02:59] zubin999 commented on #2112
gcc (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5)
Copyright (C) 2018 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2020-09-06 03:00] zubin999 commented on #2112
[root@localhost utils]# make --version
GNU Make 4.2.1
Built for x86_64-redhat-linux-gnu
Copyright (C) 1988-2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

[2020-09-11 12:29] churiart opened #2117 "Use variable inside a cblock"
Suppose following zep file `db.zep`:

[code]

and this definition of `wg_attach_database`:

[code]

first of all I can't type hint `dbname` in constructor otherwise I'll get these compile time errors:

[code]

second, if I don't do type hinting build is successful and following PHP code runs with exiting code `0`:

[code]

but `wg_attach_database` which is responsible for creating a db named `4000

[2020-09-19 20:09] ghost commented on #2117
Simply create file db.zep with this content
[code]
Then run command **zephir generate**. zephir will generate file ./ext/pwdb/db.c. Open it. Now you can see C code of class **db** and all it methods, find method **__construct** and see all variables that you can use in C block code. Advice: do not use variables generated by zephir directly in your C code, better create your own copies, it will sav

[2020-09-21 17:32] churiart commented on #2117
Thank you, but then how can I compile that `zep.c` file solely? Because running `zephir compile` rewrites all my changes to aforementioned `zep.c` file.

[2020-09-23 15:56] fakharak opened #2118 "Phalcon Micro shows slower than its full-stack version"
Techempower benchmarks show Phalcon Micro performing slower than Phalcon;s full-stack version ? can i consider that benchmark as valid / realistic? Or there may be some configurational glitch ?

[2020-09-23 19:03] ghost commented on #2117
You must add c blocks of code to db.zep, not to db.c, then run **zephir build**. It generate new db.c with your changes and then compile it. You can read about zephir commands by run **zephir help**.

[2020-10-03 14:09] #2118 closed, assigned to nobody

[2020-10-05 19:31] ajhalls opened #2119 "When does Zephir Shine? Only 10% Performance Gain?"
I am looking to optimize my web API  which receives a steady stream of medical data from hundreds of offices. As a proof of concept, I rewrote a portion of the API in Zephir to build the `Patient` object.

The Zephir Code:
[code]

Our old way was:

[code]

I had stripped out a couple keys in the beginning of the test such as `'communication_id' => $user->office->communication_id` which wasn't part

[2020-10-06 15:28] cypherbits commented on #2119
Hi, I discovered this project just a few days ago and I thought it was a great idea and could benefit with performance.

But just learned the project is officially abandoned...

Besides, your tests show it actually does not improves performance too much...

You tested on PHP 7.2 while on the latest 7.4 it should be even faster.

Are you using Opcache or Preload in the test?

[2020-10-06 17:26] ajhalls commented on #2119
I didn't realize it was abandoned (https://www.reddit.com/r/PHP/comments/iogji4/zephir_will_not_be_maintained_any_longer_and_will/), thank you for letting me know. I wasn't using Opcache or Preload.

I know I can upgrade the PHP for additional performance, part of why I was building this into modules was to be able to whitelabel my application while maintaining some control over it through compile

[2020-10-24 15:48] yanchespenda opened #2120 "[ErrorException] implode(): Passing glue string after array is deprecated. Swap the parameters"
Hi, Im trying compile [Tensor ](https://github.com/RubixML/Tensor)extension in my windows, but I got an error.

Here's a message from a command
[code]

Im used
PHP 7.4.11
Visual studio 2017

Thanks.

[2020-10-27 11:00] AlexNDRmac commented on #2120
@yanchespenda this will be fixed soon. Its BC changes for `implode` function in PHP.

[2020-11-18 09:00] ty840320 commented on #2112
和你一样的错误,你用centos7就可以了.8会报这个错误,我也没找到解决办法

The same mistake as you, you can use CentOS 7

[2020-11-20 21:07] #2120 closed, assigned to AlexNDRmac

[2020-12-27 16:04] erycson commented on #1580
I was able to access $GLOBALS as described below, but I noticed that some variables created in Zephir using GLOBALS are not being reflected in PHP

Versions: Zephir 0.12.20 and Zephir Parser 1.3.6

File: zephir.patch
[code]

File: php-zephir-parser.patch
[code]

[2021-01-19 11:05] damixxx opened #2130 "PHP8.0.1 building error"
Hello. I red all of the posted issues about PHP8 but it is not very clear for me if zephir is compatible with PHP8. I updated zephir to version 0.12.20 and zephir-parser to 1.3.6. The extension is building fine with PHP7.2. Whit PHP8.0.1 I get:

[code]

[2021-01-19 11:42] Jeckerson commented on #2130
Zephir isn't compatibly with PHP8 atm, stay tuned.

[2021-01-19 11:43] Jeckerson commented on #2130
Closing in favor #2111

[2021-01-19 11:43] #2130 closed, assigned to nobody

[2021-01-20 11:23] vssir opened #2131 "Error in Zephir build: [ERROR] Internal extension compilation failed. Check compile-errors.log for more information."
**Error in Zephir build:**

![zephir_err](https://user-images.githubusercontent.com/10388068/105167719-0689b280-5b54-11eb-947c-478fe6713e32.png)

 **compile-errors.log:**
`In file included from /opt/php/include/php/Zend/zend.h:27,
                 from /opt/php/include/php/main/php.h:33,
                 from /root/work/hxcrypt/ext/hxcrypt/hxcrypt.zep.c:6:
/root/work/hxcrypt/ext/hxcrypt/hxcrypt.ze

[2021-01-20 11:29] vssir commented on #2131
**My PHP version:**

`PHP 7.4.13 (cli) (built: Dec  3 2020 14:43:37) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with the ionCube PHP Loader + ionCube24 v10.4.5, Copyright (c) 2002-2020, by ionCube Ltd.
    with Zend OPcache v7.4.13, Copyright (c), by Zend Technologies
`

thanks!

[2021-01-20 12:43] AlexNDRmac commented on #2131
@vssir could you provide steps to reproduce?

[2021-01-21 01:10] vssir commented on #2131
@AlexNDRmac
**1. zephir init hxcrypt
2. Write hxcrypt.zep（vim content /root/work/hxcrypt/hxcrypt/hxcrypt.zep）
3. The file directory structure is as follows:**
[root@centos-dev hxcrypt]# tree
.
├── config.json
├── ext
│   └── kernel
│       ├── array.c
│       ├── array.h
│       ├── backtrace.c
│       ├── backtrace.h
│       ├── debug.c
│       ├── debug.h
│       ├── exception.c
│       ├── exce

[2021-01-22 07:08] #2047 closed, assigned to nobody

[2021-01-25 13:52] Jeckerson commented on #2111
![Screenshot_20210125_130442](https://user-images.githubusercontent.com/3289702/105714648-84fba100-5f14-11eb-94ad-e8d40a59d1f2.png)

Work in progress.

[2021-01-25 19:27] Jeckerson commented on #2131
You have syntax error in this line:
[code]

[2021-01-25 19:32] #2115 closed, assigned to nobody

[2021-01-25 19:33] Jeckerson commented on #2102
Use `0.12.20`

[2021-01-25 19:33] #2102 closed, assigned to nobody

[2021-01-25 19:56] #2117 closed, assigned to nobody

[2021-01-25 19:56] #2107 closed, assigned to nobody

[2021-01-26 11:43] mruz commented on #2111
I'm receiving SIGABRT on kernel/fcall https://travis-ci.org/github/ice/framework/jobs/756221697
[code]

[code]

[code]

[2021-01-26 13:35] Jeckerson commented on #2111
@mruz Might be due `static`, known bug atm.

[2021-01-26 20:48] Jeckerson commented on #2111
@dreamsxin Currently there are x2 problems:

[code]

Problem 1 - Only occur when execute whole tests
[code]

Problem 2
[code]

[code]

[2021-01-27 22:34] Jeckerson commented on #2111
@dreamsxin @AlexNDRmac

Bugs

1 - **Wrong constructor pick during extension** (very strange bug) - Constructor is picked from latest class where is called and extended, in that case `TestCase` class
[code]

2 - **Static methods and its visibility** - Static methods that are called not directly `Class::method`, but from inside another method. And if static method is protected?/private
[code]

[code

[2021-01-28 03:27] vssir commented on #2131
@Jeckerson  thank you!

[2021-01-28 08:19] dreamsxin commented on #2111
@Jeckerson
[code]

[2021-01-28 10:44] Jeckerson commented on #2112
[code]

[2021-01-28 10:44] #2112 closed, assigned to nobody

[2021-01-28 13:37] Jeckerson commented on #2111
@dreamsxin `ZVAL_COPY_VALUE(&fci.function_name, function_name);` doesn't seem to have any effect.

https://github.com/phalcon/zephir/blob/ed8634978d08d43f4ec02c9f304d204c87ec652b/kernels/ZendEngine3/fcall.c#L289

I think this function itself need to be refactored.

[2021-01-28 23:50] Jeckerson commented on #2111
@dreamsxin Could you also check another errors? To not focus on same error together.

[2021-01-29 01:20] dreamsxin commented on #2111
@Jeckerson All `self`/`parent` use `zephir_call_ce_static` replace, We can use `zend_function`:
[code]

[2021-01-31 22:14] Jeckerson commented on #2111
@dreamsxin Could you please specify exactly where?

[2021-02-01 00:46] dreamsxin commented on #2111
@Jeckerson
`Call to undefined method self::parentfunction()`
Simple solution use `ZEPHIR_CALL_FUNCTION` replace:
[code]

`TypeError: PHPUnit\Framework\TestCase::__construct(): Argument #2 ($data) must be of type array, string given`
[code]

[2021-02-01 10:44] Jeckerson commented on #2111
By changing from:
[code]

to:
[code]

Gives Segmentation fault

[2021-02-01 11:27] AlexNDRmac commented on #2111
Thanks @dreamsxin I'll try to replace this function call

[2021-02-01 11:32] mruz commented on #2111
I still have issues with constructor https://github.com/phalcon/zephir/issues/2111#issuecomment-767488979

RuntimeException: Call to undefined method parent::__construct()

[2021-02-01 12:34] dreamsxin commented on #2111
May be `ce` is NULL, so use `ZEPHIR_CALL_FUNCTION` will fixed.

[2021-02-02 19:56] Jeckerson commented on #2111
![image](https://user-images.githubusercontent.com/3289702/106654851-89692f00-6590-11eb-8bf9-0680839c32bd.png)

One error left. Related with late static binding.

[2021-02-02 22:02] Jeckerson commented on #2003
@zsilbi Does it still occur on latest Zephir?

[2021-02-03 15:46] Jeckerson commented on #2119
@cypherbits

@ajhalls

Reddit

I completely understand that we live in era of fake news, but on original news was written, quote:
https://blog.phalcon.io/post/the-future-of-phalcon

and more important, quoute:

<hr />

@ajhalls
Now about performance diff only 10%. You won't gain any extra performance in **loops and cycles like yours** due array as `char` and massive overhead, so you have near the

[2021-02-03 15:46] #2119 closed, assigned to nobody

[2021-02-07 16:05] Fenikkusu opened #2142 "Odd Issue With Closures And DI"
I came across an odd issue in the extension I'm building. In it, I have a Service Provider where I'm calling `setShared` using a closure (`assets` in this case). When running the code, I got the error `Service 'assets' couldn't be resolved`. I tried commenting out the whole set, thinking it might be with the code, where I then got `Service 'config' couldn't be resolved'`. This made no sense to me

[2021-02-11 20:44] Jeckerson commented on #2111
@dreamsxin @AlexNDRmac Seems to be related to bug above, it it is not related with visibility.

Working example in PHP8:
[code]

Error in cphalcon
https://github.com/phalcon/cphalcon/pull/15287/checks?check_run_id=1875778875#step:13:70

![image](https://user-images.githubusercontent.com/3289702/107696522-f9bb3300-6ca9-11eb-9be9-da72f63abcac.png)

[2021-02-11 21:28] Jeckerson commented on #2111
@dreamsxin @AlexNDRmac It is possible to pass incorrect value type when param is object

[code]

Doesn't throw any exception, but should: `Argument 1 passed to Phalcon\Messages\Messages::appendMessage() must implement interface Phalcon\Messages\MessageInterface, bool given`

[2021-02-11 22:01] AlexNDRmac commented on #2111
I see... its smth with `__invoke()` call and second - looks like smth missed in ARGINFO... I'll try to sort out with it

[2021-02-13 00:17] Jeckerson commented on #2111
Added test case that simulates problem in Phalcon: call protected method via invoke.

https://github.com/phalcon/zephir/commit/b774c84a9ababbf806786cbcc8809b7ba80fa8a8#diff-f0e2206ef6ba88d42d85be23076db0c0f52b3fcc5ff02924af635ad6e01b8d47R18

Method isn't visible via callable:
[code]

Just to confirm that it is valid approach in PHP:
[code]

Probably make sense to use `zend_compile_func_cufa`.

[2021-02-18 00:49] andrewdalpino opened #2149 "Thank you! + Some benchmarks"
Dear Zephir team,

I just wanted to say thank you for all your work. Zephir has played a key role in our development of the [Tensor](https://github.com/RubixML/Tensor) extension which is an optional package that you can install to accelerate machine learning algorithms in [Rubix ML](https://github.com/RubixML/ML) and hopefully more libraries in the future. For us, Zephir really *shines* when the A

[2021-02-18 01:01] andrewdalpino opened #2150 "Is there a way to modify config.m4 and config.w32?"
Is there a way to add code to the `config.m4` or `config.w32` files through Zephir? Or, if we add something manually will it ever get overwritten by Zephir? Here's the issue we're facing https://github.com/RubixML/Tensor/pull/11.

Thank you!

[2021-02-18 08:20] maorcatmyheritage opened #2151 "Very slow performance of Fibonacci extension vs PHP script"
Hi,

We are considering using Zephir for optimzing the performance of some CPU intenstive methods in our project.
The first step was to compile a very simple extension with a single class for calculating the Fibonacci number and compare it with similar PHP implementation.

The results we got were extermely bad and I wonder what are we doing wrong here.

Here is the result we got:
[code]

**In this

[2021-02-18 09:02] Jeckerson commented on #2151
Hello, not all type of code will have big boost of performance, for several reasons: you write bad code or you write code that already fast in PHP (ex: regular expressions).

If you want examples of code, check this - https://github.com/zephir-lang/zephir/issues/2149

[2021-02-18 09:32] AlexNDRmac commented on #2150
You can add additional flags for compiler with `config.json` as described in [documentation](https://docs.zephir-lang.com/0.12/en/config#extra-cflags)
Any changes (if you add it manually) in `config.m4` and `config.w32` will be overwritten by `zephir generate`

[2021-02-18 10:07] maorcatmyheritage commented on #2151
Thanks @Jeckerson. I totally understand that not every piece of code will be faster as an extension. However, I didn't not expect that it will 10 times slower.
What do you mean by "bad code"? Do you see anything wrong in my Zephir implementation? (fibonacci.zep)

[2021-02-18 11:11] Jeckerson commented on #2151
@maorcatmyheritage Check this implementations of fibonacci

https://github.com/zephir-lang/zephir/blob/development/stub/fibonnaci.zep

Also, normally, recursion is slower then iterational.

Example of bad code approach: https://github.com/zephir-lang/zephir/issues/2119#issue-715104459

[2021-02-18 13:50] maorcatmyheritage commented on #2151
I see. Thanks. I'll give it a try and update with the results.

[2021-02-22 10:44] rui-alves opened #2152 "[ERROR] Internal extension compilation failed."
I'm just trying the exemple in zephir documentation and geting the output:

[code]

in the compile-errors.log:

[code]

zephir --help:

`Zephir 0.12.20 by Andres Gutierrez and Serghei Iakovlev (source)`

Ubuntu 20.04 LTS
PHP 7.4.3

Any idea what i am doing wrong? (Sorry if I posted on wrong place)

[2021-02-22 10:49] Jeckerson commented on #2152
Hello, could you specify commands that you used?

[2021-02-22 11:17] rui-alves commented on #2152
Hello and thanks for the help!

I'm use:

`$ zephir build`

installed by:

`composer global require phalcon/zephir`

and this is the tree directory after `zephir init` (and where I am run the `zephir build`)

[code]

Zephir Parser in `php -i`

[code]

[2021-02-22 12:01] AlexNDRmac commented on #2152
@rui-alves it looks like you don't have `Autotools`. Try to install `apt-get install autoconf`, also check if you have `phpize` on your machine - without it you cannot get configure script and Makefile to compile extension.

[2021-02-22 12:10] rui-alves commented on #2152
Hello @AlexNDRmac! Thanks for the help!

I verify and has all the packges in my enviroment:

[code]

[code]

[2021-02-22 12:28] maorcatmyheritage commented on #2151
So I tried the `fibInt()` example from here: https://github.com/zephir-lang/zephir/blob/development/stub/fibonnaci.zep
[code]
As you expected, the Zephir example is 5x faster than the PHP script version.
Are there any guidelines or tips for what will be faster as an extension compared to PHP?

[2021-02-22 15:35] AlexNDRmac commented on #2152
Can you try to run next commands from utils/ext dir?

cd utils/ext
phpize
// check if configure file exists after phpize
./configure
// check if Makefile exists after configure
make

[2021-02-22 21:27] rui-alves commented on #2152
This test helped me to find the problem!

I was execute the `zephir build ` in a vagrant shared folder. I puted some rulles on Vagrantfile:

 `mount_options: ["dmode=775,fmode=664"]`

With that, any files generate by zephir had no permission to execute ...

Well, problem discovered!

Thank's a lot for the pacience @AlexNDRmac and @Jeckerson

[2021-02-23 06:38] #2152 closed, assigned to nobody

[2021-02-23 10:55] AlexNDRmac commented on #2151
If you really want to create the fastest extension as possible - you should write your own pure C implementation fo all your functions.

I created an extension with empty implementations and added my own pure C implementation for Fibonacci with recursion.

[code]

[code]

How it looks into `fibonacci.zep.c` after `Zephir generate` and my small code modification:

[code]

Then I compiled extension

[2021-02-23 11:36] maorcatmyheritage commented on #2151
Thanks @AlexNDRmac. That was an extermely useful information. I didn't realize that the generated code might have such a big overhead. In my test the extension is now 30x faster but it is still much better than before.

[2021-02-23 21:59] andrewdalpino commented on #2150
Hi @AlexNDRmac, we are now facing two issues related to this. One of the ideas that we have floating around is to run a patch script as part of our build process. Is there anything in the language (Zephir) besides additional compiler flags that would help us in this situation?

https://github.com/RubixML/Tensor/pull/11

https://github.com/RubixML/Tensor/pull/14

Thank you!

[2021-02-24 10:02] #2151 closed, assigned to nobody

[2021-02-24 10:34] AlexNDRmac commented on #2150
Hi @andrewdalpino, current version of Zephir does not support template overrides. We will be able to implement this feature in the next version.
As a workaround, I can suggest using the Zephir sources with modified `./templates/ZendEngine3/config.*` files, which you will be able to reuse after implementing the feature with template overriding.

[2021-02-24 11:42] mlocati opened #2153 "Running zephir generate in Windows causes backslaskes in config.m4 files"
When running `zephir generate` under Windows, we have that paths in the config.m4 file use `\` instead of `/`.

For example, with the RubixML/Tensor project we have these lines in the updated `config.m4` file:

[code]

[2021-02-25 07:41] andrewdalpino commented on #2150
That's pretty sweet! Looking forward to it

I did this for now https://github.com/RubixML/Tensor/blob/master/extension-config-patch.php. It runs after calling our custom `$ composer compile` command.

It looks like we may not need it once we make the switch to the new version of Zephir in the next major release, see https://github.com/RubixML/Tensor/issues/13#issuecomment-785689021.

Thanks again,

[2021-02-27 12:50] Jeckerson commented on #2111
[code]

Meanwhile in Zephir it gives error:

[2021-02-27 13:54] AlexNDRmac commented on #2111
Yes... Now I working on it. It looks like missed scope

[2021-03-02 22:48] Jeckerson commented on #2111
`call_user_func_array()` does not return value in called inside cycle

Working example in PHP

[code]

[2021-03-05 09:44] Jeckerson commented on #2111
@mruz @andrewdalpino Could you please test with latest zephir version if your applications compile without any problems?

[2021-03-05 11:24] mlocati commented on #2150
The docs say that
- the `generate` command generates the C source code from the zephir source files
- the `compile` command compiles the C source code into the binary extension file(s)
- the `install` command install the binary extension file(s).
- the `build` command is like calling in sequence `generate`, `compile` and `install`

So, if we need to to patch the `config.m4` file, logic suggests th

[2021-03-05 11:44] #2153 closed, assigned to nobody

[2021-03-05 12:54] Jeckerson commented on #1904
Closing due legacy version support.

[2021-03-05 12:54] #1904 closed, assigned to nobody

[2021-03-05 12:58] mruz commented on #2111
For me it failed on php8 https://travis-ci.org/github/ice/framework/builds/761575114

[2021-03-05 13:02] Jeckerson commented on #2111
Roger, found where
[code]

Need to add more types.

[2021-03-07 10:20] #2071 closed, assigned to nobody

[2021-03-07 10:22] #2003 closed, assigned to nobody

[2021-03-07 10:25] Jeckerson commented on #2150
Related #1733

[2021-03-07 21:11] Jeckerson commented on #2103
What was the command and what version of zephir did you used?

[2021-03-07 21:19] Jeckerson commented on #2111
@mruz try with `0.13.0-beta-1`

[2021-03-08 09:02] mruz commented on #2111
It compiled, a few of my tests failed, so I had to fix some type errors on my side.

[2021-03-08 09:37] Jeckerson commented on #2111
@mruz So all worked in general?

[2021-03-08 09:40] mruz commented on #2111
Yes, all good :tada:
Thanks @Jeckerson!

[2021-03-08 14:20] Bushido2404 commented on #1564
@sayonara90s use visual studio command prompt it might help

[2021-03-10 03:24] ufoproger commented on #2111
Hello!

I found a bug in the `zephir-php8` branch related to detecting class name entry.

For example, the following code:
[code]

[code]

Command `zephir compile` breaks with error:
[code]

The generated file `/srv/ext/stub/bug/myclass.zep.c` should look like this:

[code]
Current solution is to import class with the **use** statement:

[code]

[2021-03-14 04:16] andrewdalpino opened #2165 "Couple PHP 8 Errors"
Hey there!

The Tensor 2.2 extension compiled just fine on PHP 8.0.3 with Zephir 0.3.0-beta-1, however we have a couple errors and failed tests now.

The `reciprocal()` methods (see https://github.com/RubixML/Tensor/blob/master/tensor/matrix.zep#L1603 and https://github.com/RubixML/Tensor/blob/master/tensor/vector.zep#L1075) throw

[code]

when trying to access the `this` variable in the `reciproc

[2021-03-17 22:45] Jeckerson commented on #2111
Related #2165

[2021-03-21 00:23] Jeckerson opened #2167 "Problem with visibility in array callback"
Code:
[code]

[2021-03-21 00:24] Jeckerson commented on #2165
Related #2167

[2021-03-21 00:29] Jeckerson opened #2168 "Implement daily builds CI against php-src master branch"
To make sure that we are on pulse of changes...

[2021-03-24 10:22] Jeckerson commented on #2165
Fixed in #2166

[2021-03-24 10:22] #2165 closed, assigned to nobody

[2021-03-25 12:35] #2150 closed, assigned to nobody

[2021-03-25 13:01] Jeckerson commented on #2111
Added support for PHP8.0 in `v0.13.0`

[2021-03-25 13:01] #2111 closed, assigned to dreamsxin, Jeckerson, AlexNDRmac

[2021-03-26 11:23] Jeckerson opened #2173 "Enable PHP8.0 for Windows in CI"
Figure out why latest PHP version isn't found and can't be downloaded.