[2016-09-14 08:36] dreamsxin commented on #1299
You can update zephir and reinstall it:

[code]

and rm your project kernel

[code]

[2016-09-14 08:48] dreamsxin commented on #1278
You can add file `vendor/autoload.php` in zephir dir, and autoload the class.

[2016-09-14 09:58] #1278 closed, assigned to nobody

[2016-09-14 10:07] danielspk commented on #1299
Thanks, the error was fixed.

[2016-09-14 10:07] #1299 closed, assigned to nobody

[2016-09-14 16:32] josh4trunks opened #1323 "Better Support FreeBSD"
I was working to get this ported to FreeBSD. There are some issues I hit that I can work around but would be nice to have addressed.
- [x] Use `#!/usr/bin/env bash` instead of `#!/bin/bash`
  - FreeBSD never installs packages to /bin, and bash is installed as a package since it is not the default shell.
- [x] Make 'bin/zepher' completely POSIX compliant to drop the dependency for **bash**
  - This

[2016-09-14 19:09] #1192 closed, assigned to nobody

[2016-09-14 19:12] sergeyklay commented on #1192
@mervick Thanks

[2016-09-14 19:23] josh4trunks commented on #1323
I had a possible idea to tackle the **sudo** point. Maybe we could do a check on the current UID and only  use sudo if it is not '0'?

[2016-09-14 19:37] sergeyklay commented on #1323
@josh4trunks I like this approach

[2016-09-14 20:49] virgofx opened #1325 "Memory Error in Debug Mode with Exception on method Assignment in PHP5.6"
Running in debug mode (Using phalcon's `./ext/install-test` mode) with latest Zephir, PHP5.6 results in errors in the dispatcher because of Zephir not releasing variable when exception is thrown inside an assignment.

Essentially the next access to the variable ... either in the catch, or in a subsequent loop will cause the error.

**tester.zep**

[code]

**test.php**

[code]

---

**OUTPUT**

[co

[2016-09-14 21:00] virgofx commented on #1325
For reference, generated C code is attached below. The error occurs initializing the subsequent catch `status` variable `ZEPHIR_INIT_NVAR(status);`

[code]

[2016-09-15 04:14] kuzmichus commented on #1263
+1

[2016-09-15 16:58] virgofx commented on #1325
@andresgutierrez Do you have quick second to look and see ? Should be quick fix with the full traces shown. I can help test as well.

[2016-09-15 17:12] andresgutierrez commented on #1325
It's strange that it's trying to observe `status` again after its first use.

[2016-09-15 17:13] andresgutierrez commented on #1325
Ah, it's already used in the call, but probably still null

[2016-09-15 17:21] virgofx commented on #1325
Yeah, it should be null but somehow not getting set or not sure ... If you have a test blub, I can quickly compile to test fix.

[2016-09-15 17:52] flip111 commented on #1172
Being able to write code that parses correctly but segfaults seems like a clear bug to me. Why is this not considered a bug?

[2016-09-15 17:52] flip111 commented on #1171
Why was this closed?

[2016-09-16 19:40] soyayaos commented on #1310
@sergeyklay problem with exception message

@jockchou you can change path/to/zephir/parser/parser/parser.c line

[code]

to

[code]

then recompile shared library and output will be more informative

[code]

[2016-09-16 20:30] sergeyklay commented on #1310
@vovagp https://github.com/phalcon/zephir/blob/master/parser/parser/base.c#L592-L602

[2016-09-19 08:10] sergeyklay opened #1327 "undefined symbol: zval_used_for_init"
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/share/zephir/Library/../parser/zephir_parser.so' - /usr/share/zephir/Library/../parser/zephir_parser.so: undefined symbol: zval_used_for_init in Unknown on line 0
Zephir\Exception: Parser extension couldn't be loaded

[2016-09-19 08:50] sergeyklay commented on #1327
Fixed by reinstalling Zephir

[2016-09-19 08:50] #1327 closed, assigned to nobody

[2016-09-19 16:09] josh4trunks commented on #1323
Is there any reason https://github.com/phalcon/zephir/blob/master/Library/Compiler.php and https://github.com/phalcon/zephir/blob/master/parser/parser/build_linux.sh have `gcc` / `CC="gcc"` instead of `cc`?

[2016-09-19 17:34] sergeyklay commented on #1323
@andresgutierrez

[2016-09-20 19:37] gtux opened #1328 "[NFR] Extend support for statement with other types"
Hi, the For statement is very usefull, it will be good if you can extend the support for others than array or strings, for example: ArrayAccess or Traversable. In Phalcon there is many objects that I wanted to iterate in Zephir, it would be simple with for statement but it crash with "The argument is not initialized or iterable" message, so I have to change the for statement with while loop in ord

[2016-09-21 03:59] lsave commented on #1247
is there any further plan for this?

[2016-09-23 13:26] virgofx commented on #1325
@andresgutierrez Any chance you can take a look at this again as it's blocking extended try/catch logic in Dispatcher fixes for 3.0.2 Phalcon :)

[2016-09-28 11:18] Jurigag opened #1331 "Stubs generation for returned value"
Well, zephir don't generate stubs correctly for classes which are not in same namespace as current class and are not using explicitly `@return` annotation.

Example:

https://github.com/phalcon/cphalcon/blob/master/phalcon/db/adapter/pdo/mysql.zep#L407 this class is `Phalcon\Db\Adapter\Mysql`

Method returns `Phalcon\Db\Reference[]`

But in docs it's https://github.com/phalcon/phalcon-devtools/blo

[2016-09-30 14:43] Jurigag opened #1333 "[NFR]Check syntax/lint command"
Some command to check only zephir syntax of current project if it's correct without building/compiling it would be nice. Like:
`zephir lint`

And it will check syntax in all files and return errors if any. In future we could improve error informing like which files, line, which error and perhaps even add some phpstorm extension so it could on file change execute this command and check for errors a

[2016-10-03 18:15] #1310 closed, assigned to nobody

[2016-10-03 20:41] SidRoberts opened #1335 "[NFR] Replace PHPDocs in ext/ with those generated by `zephir stubs`"
Using this method as an example:

[code]

Instead of producing:

[code]

Instead, it should be:

[code]
##

[2016-10-06 13:32] Jurigag opened #1336 "Multicatch block is causing seg fault/exception in multicatch is caught two times"
[code]

Steps to reproduce:
1. `git clone https://github.com/Jurigag/cphalcon multicatch`
2. `cd multicatch`
3. `git checkout 3.1.x-beforeError,beforeThrowable`
4. `zephir build`
5. `composer install --dev --prefer-source`
6. `vendor/bin/phpunit unit-tests/DispatcherMvcEventsTest.php`

I tried to reproduce it wihtout phalcon. Like create similar code or something but i couldn't.
##

[2016-10-06 14:48] virgofx commented on #1336
This is being fixed in Zephir and the new Dispatcher code with all new tests.
https://github.com/virgofx/cphalcon/commits/3.0.x

[2016-10-06 15:34] Jurigag commented on #1336
I don't see a commit fixing this in zephir. I used latest zephir for compiling. Did you even checked my repo ?

[2016-10-06 15:58] virgofx commented on #1336
Fix is in Zephir land but my tests include check for this, which are confirmed fixed, and referenced in one of the corresponding issues slated for inclusion in 3.0.2

[2016-10-06 16:01] Jurigag commented on #1336
But i don't see in your code multicatch in zephir anywhere ? Will check fi adding it will fix this issue but i doubt.

Also did you even read issue ? Check my code first please, it's working fine on php5, it's happening on php7, where your repo is fixing php5 related issues(i never had any problem with dispatcher, catching exceptions etc on php 7)

[2016-10-06 16:30] Jurigag commented on #1336
Well actually it looks like it's fixing a issue, not sure why...

Still something is wrong in zephir i think.

[2016-10-06 19:29] Jurigag commented on #1336
Okay. I know what is happening. Just `finished` in dispatcher is not false. And instead of continue go execution is going on.

[code]

This is generated like:

[code]

Shouldn't be it something like:

[code]

Or im wrong ? **If exception is caught in one catch block it shouldn't be caught in other.**

[2016-10-06 19:53] Jurigag commented on #1336
I can confirm that this change what i made fix a issue.

[2016-10-06 21:03] Jurigag commented on #1336
Well i could fix this but i don't know how to rewirte current TryCatchStatement.php to handle https://github.com/phalcon/zephir/blob/master/test/trytest.zep#L67 this case @andresgutierrez

It should like check`if(excpetion instanceof RuntimeException || exception instanceof Exception)` in c statement(this is just pseudocode). And execute what is in catch block. Right now there are just two seperat

[2016-10-07 20:45] virgofx commented on #1325
ping @andresgutierrez

[2016-10-10 10:02] sergeyklay opened #1337 "ZendEngine3::zend_generator_create_zval"
The `ZendEngine3` kernel use outdated `zend_generator_create_zval`.
https://github.com/phalcon/zephir/blob/master/kernels/ZendEngine3/extended/fcall.c#L167

This function is no longer present in ZendEngine 3:
https://github.com/php/php-src/blob/master/Zend/zend_generators.h

---

Refs: https://github.com/phalcon/cphalcon/issues/12055#issuecomment-252565246

[2016-10-10 13:30] andresgutierrez commented on #1337
It was removed in php 7.1?

[2016-10-10 13:52] sergeyklay commented on #1337
@andresgutierrez As I can see yes
https://github.com/php/php-src/commit/ccf18da450881bee09e966c0a7fa4d67840d9e38

[2016-10-13 18:24] Jurigag opened #1339 "create_instance_params seg fault when more than 10 params"
create_instance_params is seg faulting when creating class with more than 10 dependencies:

[code]

There is repo with code for reproduce:

https://github.com/Jurigag/instancetest

And php code:

[code]

First class like AnotherService works fine. But ExampleService is seg faulting.

This issue is related to phalcon issue - https://github.com/phalcon/cphalcon/issues/12299

This seg fault is from p

[2016-10-14 06:44] Jurigag commented on #1339
Managed to fix ZE2, but don't know about ZE3 - i mean i can fix it in certain place but then seg fault in other.

[2016-10-14 11:06] Jurigag commented on #1325
Also look on this too because this is try/catch/exception handling related too - https://github.com/phalcon/zephir/issues/1336

[2016-10-14 12:52] #1337 closed, assigned to nobody

[2016-10-16 18:14] Jurigag commented on #1331
Isn't this more like a bug in stubs generator ?

[2016-10-17 09:13] assad2008 opened #1341 "i use xor,php display undefined symbol: zephir_bitwise_xor_function"
`php: symbol lookup error: /usr/local/php/lib/php/extensions/no-debug-non-zts-20151012/skyline.so: undefined symbol: zephir_bitwise_xor_function`
##

[2016-10-18 19:39] steffengy commented on #1339
@Jurigag
The issue that still exists for PHP7 only occurs when passing atleast 10 parameters?

[2016-10-18 19:41] Jurigag commented on #1339
Yes. I was trying to fix it. Here - https://github.com/phalcon/zephir/blob/master/kernels/ZendEngine3/object.c#L1205 i changed it to something like this:

[code]

But there is other problem:

[code]

https://github.com/phalcon/zephir/blob/master/kernels/ZendEngine3/extended/fcall.c#L1159

I don't know C enough, just was trying to do some obvious things, tried to make it similar like other php 7 c

[2016-10-20 20:13] Zaszczyk commented on #1339
@andresgutierrez @steffengy is it possible to fix it? because it stops to migrate to php7 with Phalcon

[2016-10-21 03:36] Fenikkusu opened #1343 "Zend Extension"
I'm working on creating a Zend Extension (IE: Extension registered using zend_extension instead of  using extension) that is built using Zephir. I've gotten it to the point that the extension loads perfectly fine. However, I'm not very familiar with C development and am having troubles on the next steps. I used a zep file to generate a couple of classes that communicate. This works fine. The probl

[2016-10-21 16:47] Fenikkusu commented on #1343
Forgot To Mention, It's The zend-extension branch.

[2016-10-21 23:45] Jurigag commented on #1325
@virgofx

Well not sure if it's related But let's assume i have something like:

[code]

When executing callMethod the exception can be thrown, and it's causing seg fault on php 5.x i guess it's related somehow. I just needed to add another variable, where i save result of callMethod and then i set it, hacky and workaround but works

[2016-10-22 00:15] virgofx commented on #1325
Yep, thats exactly the issue @Jurigag . Hopefully @andresgutierrez has more time next week to look at this!

That is what's causing funky segfaults on my PR in the build

[2016-10-23 13:32] Jurigag opened #1345 "Zephir ignores namespace fallback policy"
What is namespace fallback policy:

http://php.net/manual/en/language.namespaces.fallback.php

This is causing that calls to php functions like `is_uploaded_file` and rest of php functions can't be mocked up in tests anyhow because zephir calls php function anyway.

Related - https://github.com/phalcon/cphalcon/pull/12352

I know there is probably wrong namespace and it should be `Phalcon\Validati

[2016-10-25 16:42] josh4trunks commented on #1323
Any word on the the need for GCC?

It would be great to get this working by the next zephir release. That way we could add a stable version to the ports tree. See the request here https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=211144

[2016-10-28 12:48] mervick opened #1346 "call_user_func parent & self scopes"
When used `call_user_func` with `parent` scope like below

[code]

then php throws warning

[code]

[2016-10-28 21:40] sergeyklay commented on #1346
@mervick Is it possible in PHP?

[code]

[2016-10-28 21:57] mervick commented on #1346
Yes, in php it will work

[code]

[2016-10-28 22:05] sergeyklay commented on #1346
PHP version, OS?

[2016-10-28 22:07] mervick commented on #1346
php 5.6.27-1+deb.sury.org~xenial+1
ubuntu 16.04

[2016-10-28 22:07] sergeyklay commented on #1346
As you probably understand I need to reprodiuce your issue. So please provide all that is needed, eg script to reproduce

[2016-10-28 22:12] mervick commented on #1346
a.zep

[code]

b.zep

[code]

test.php

[code]

[2016-10-29 07:22] xuanskyer opened #1347 "Call to undefined function include_once() ?"
not support ?

[2016-10-29 23:43] sergeyklay commented on #1347
not

[2016-10-29 23:43] #1347 closed, assigned to nobody

[2016-10-30 18:37] mervick commented on #1346
The same error when use `self` scope

[code]

script to reproduce:

c.zep

[code]

test.php

[code]

Working example in php:

[code]

[2016-10-31 17:08] virgofx commented on #1325
ping @andresgutierrez Can you take a look?

[2016-11-03 16:19] xuanskyer opened #1348 "how can support property and method using same name?"
like this:

[code]

[2016-11-04 08:03] xuanskyer opened #1349 "fetch is a keyword ?"
cann't use `fetch` as a method name of class ...

[2016-11-04 08:05] xuanskyer commented on #1269
@sergeyklay  how to solve ?

[2016-11-04 09:05] #1269 closed, assigned to nobody

[2016-11-04 09:06] sergeyklay commented on #1349
`fetch` is reserved keyword

https://github.com/phalcon/zephir/issues/1269

[2016-11-04 09:06] #1349 closed, assigned to nobody

[2016-11-04 09:07] sergeyklay commented on #1269
Use `$fetch` instead `fetch`

[2016-11-04 17:40] ikmsk10 opened #1350 "Support resource type"
Hey there.
How about resource type? I know I'ts hard begin now but... for example I want define extra le_* list entry identifiers and on MINIT function i want declare resource destructors.

If it's possible i am offer to use define a descriptors of the list entry destructor at config.json, with simlink to destructor function who is declared in config.json too in ["destructors"] node.

PS sorry my

[2016-11-07 16:07] Jurigag commented on #1348
This should work. Just perhaps get is keyword in zephir for generating getters and this is why it's not working. Try `$get`

[2016-11-07 16:26] xuanskyer commented on #1348
@Jurigag thanks!

I solved it use a dynamic manner .

I 'll try your method

[2016-11-27 08:09] remicollet opened #1355 "New version ?"
In latest phalcon 3.0.2
`#define PHP_PHALCON_ZEPVERSION "0.9.4a-dev"`

I think it will make sense to have a 0.9.5 version released and used for new phalcon build.
Trying to understand which version is required is just nearly impossible.

[2016-11-27 08:30] sergeyklay commented on #1355
Just released 0.9.5 now

[2016-11-27 08:32] remicollet commented on #1355
Thanks

[2016-11-27 08:33] #1355 closed, assigned to nobody

[2016-11-27 08:36] remicollet commented on #1355
BTW:

* Library/Compiler.php => const VERSION = '0.9.4a-dev';
* parser/php_zephir_parser.h => :#define PHP_ZEPHIR_PARSER_VERSION "0.1.0"

[2016-11-27 08:53] sergeyklay commented on #1355
PHP_ZEPHIR_PARSER_VERSION !== VERSION, but yes, 0.9.4a-dev should be fixed

[2016-11-27 08:57] sergeyklay commented on #1355
Fixed

[2016-11-28 02:21] dreamsxin commented on #1288
You extension should after loading  on `dom` loaded.
Can write php config:
[code]

[2016-11-28 02:41] dreamsxin commented on #1346
This bug it's fix, can test again and close.

[2016-11-28 07:07] #1288 closed, assigned to nobody

[2016-11-28 07:08] sergeyklay commented on #1346
@mervick

[2016-11-28 09:29] layershifter commented on #1288
[code]
[code]

---

[code]
[code]

---

[code]
[code]

---

[code]
[code]

---

[code]

[code]

----

Problem is still there, proposed solution is **wrong**. Looks that issue must be reopened.

[2016-11-28 12:22] dreamsxin commented on #1288
Whether to load test extensions in other configuration files?
I test PHP7.1 it's ok.

[2016-11-28 12:26] dreamsxin commented on #1288
You can test create /etc/php/7.0/mods-available/tests.ini and run
[code]
Let's lasted to load.

[2016-11-28 14:38] layershifter commented on #1288
Same issue on PHP 7.1.0RC6. Even if tests module will be last.

[2016-11-29 01:30] dreamsxin commented on #1288
@sergeyklay I test again the question is still, Is a mistake when I test the code.

[2016-11-29 06:28] sergeyklay commented on #1288
@dreamsxin Should I reopen issue?

[2016-11-29 13:05] dreamsxin commented on #1288
@sergeyklay `dom` judge the class type
[code]

[2016-11-29 23:40] mruz opened #1356 "PHP7 and 64bit"
I have a 64bit system, but it seems that for the php7 zephir is generated as 32bit.

[code]

It's related with integer overflow https://docs.zephir-lang.com/en/latest/types.html#integer, but _64-bit platforms usually have a maximum value of about 9E18_, so it should work, and it works on 64bit machine with the PHP 5.6

@andresgutierrez maybe we could use gen-build.php https://github.com/phalcon/ze

[2016-11-30 11:18] sergeyklay commented on #1346
Confirm. Fixed in the `master` branch.

[2016-11-30 11:18] #1346 closed, assigned to sergeyklay

[2016-11-30 16:48] sergeyklay commented on #1331
Fixed in the `master` branch.

[2016-11-30 18:37] sergeyklay opened #1360 "Incorrect deprecated handling"
[code]

Actual:
[code]

Expected:
[code]

[2016-11-30 21:50] sergeyklay commented on #1360
Fixed in the `master` branch.

[2016-11-30 21:50] #1360 closed, assigned to sergeyklay

[2016-11-30 21:58] sergeyklay commented on #1335
@SidRoberts Could you please explain a bit more. Do you mean Phalcon or Zephir project?

[2016-11-30 22:17] sergeyklay opened #1363 "Ugly example docblocks"
[code]

Actual:
[code]

Expected:
[code]

[2016-12-01 12:22] sergeyklay commented on #1363
Fixed in the `master` branch.

[2016-12-01 12:22] #1363 closed, assigned to sergeyklay

[2016-12-05 09:51] zhiephie opened #1366 "I have a problem, compile ext on windows"
I'm following step by step at [here](https://github.com/phalcon/zephir/blob/master/WINDOWS.md)

[code]
This error

[code]

[2016-12-05 17:38] Jurigag opened #1367 "PHP7 internal function is not working"
When try to use internal function there is such an error:

[code]

[2016-12-05 19:14] sergeyklay commented on #1367
@Jurigag Could you please provide a **minimal** script to reproduce? I'll try to sort out

[2016-12-05 19:16] Jurigag commented on #1367
Change any method in phalcon to internal and zephir build it.

[2016-12-05 19:20] sergeyklay commented on #1366
It seems you have to install  php devel pack from
http://windows.php.net/downloads/releases/

[2016-12-05 19:23] sergeyklay commented on #1367
This does not mean 100% that the problem in Zephir. For example about 3 months ago I managed to successfully build the extension using Zephir and PHP 7.1 https://travis-ci.org/phalcongelist/beanspeak

[2016-12-06 02:30] zhiephie commented on #1366
Okay, phpize not issue now, but new problem it

[code]
@sergeyklay Did you know this problem?

[2016-12-06 07:00] sergeyklay commented on #1366
Now you use PHP 5 sources for PHP 7

[2016-12-06 07:06] zhiephie commented on #1366
Not, I'm use PHP 7, but zephir detected PHP 5

[code]

[2016-12-06 08:05] zhiephie commented on #1366
Many Thanks @sergeyklay, Work it!

[2016-12-06 08:05] #1366 closed, assigned to nobody

[2016-12-08 12:41] Jurigag commented on #1331
Somthing is broken again, see:
https://github.com/phalcon/phalcon-devtools/blob/master/ide/stubs/Phalcon/mvc/Model.php#L437

Just Resultset is returned, but from wrong namespace(`Phalcon\Mvc\Model`).

https://github.com/phalcon/phalcon-devtools/blob/2.1.x/ide/stubs/Phalcon/mvc/Model.php#L369 in 2.1.x stubs which was generated previously this works fine.

Though this https://github.com/phalcon/phal

[2016-12-08 13:58] sergeyklay commented on #1331
I'll try to sort out

[2016-12-09 19:31] Jurigag commented on #1367
Well, it's something phalcon related, i checked on php 7 some more simplifed code and works fine, closing for now until i get script to reproduce.

[2016-12-09 19:31] #1367 closed, assigned to nobody

[2016-12-11 06:42] jenalgit commented on #1154
i have error compile zephir on windows 7 64bit php 7.1 nts 64 this output :
[code]

![2016-12-11 1](https://cloud.githubusercontent.com/assets/3593036/21078585/5af3ec3e-bfa7-11e6-97c0-7c2f610175d2.png)

[compile-errors.log.txt](https://github.com/phalcon/zephir/files/644263/compile-errors.log.txt)
Does anyone write e-book or video for tutorial zephir-lang ?
![2016-12-11 3](https://cloud.githubuser

[2016-12-11 09:10] sergeyklay commented on #1154
@jenalgit

Looks like you have unsatisfied dependencies

[2016-12-13 01:39] dreamsxin commented on #1212
At PHP-5.5.38 test not happen, checks whether it has been fix?
[code]

[2016-12-13 04:36] zhiephie opened #1368 "Long cannot be used as array"
[code]

[2016-12-13 08:11] sergeyklay commented on #1212
@Jurigag

[2016-12-13 08:23] sergeyklay commented on #1368
@zhiephie
[code]

[2016-12-13 08:49] Jurigag commented on #1212
Well. I will check when having a time. I think i checked it on php 5.6

[2016-12-13 08:51] zhiephie commented on #1368
Thanks for replay @sergeyklay, but error message : Operator 'concat-assign' is not supported for variable type: unchar `` let randomString .= characters[(int) idx];``

[2016-12-13 10:01] sergeyklay commented on #1368
https://github.com/phalcon/cphalcon/blob/master/phalcon/security/random.zep#L187-L206

[2016-12-13 10:20] zhiephie commented on #1368
Ahay, Thanks @sergeyklay, work, I change type randomString to string.

[2016-12-13 10:20] #1368 closed, assigned to nobody

[2016-12-14 06:18] zhiephie opened #1369 "returns value incorrect"
I have a code use function ``dexhex`` and ``ord``
[code]
Output:
`31313131333131313131313131343434`

In this PHP
[code]
Output:
[code]

[2016-12-15 04:05] dreamsxin commented on #1369
@sergeyklay Error operation `ZVAL_LONG `,

[code]

The lemon rule:
[code]

@zhiephie You can test this:

[code]

[2016-12-15 05:35] zhiephie commented on #1369
Work it, thanks @dreamsxin, can i close this issue?

[2016-12-15 05:46] jenalgit opened #1370 "Zephir on BSD"
Can I install Zephir on BSD family?

[2016-12-15 06:48] dreamsxin commented on #1369
@zhiephie My pleasure, Keep open, that's bug.

[2016-12-15 20:55] mbrostami opened #1371 "_GET[_url] global variable sets incorrect value"
I couldn't reproduce issue in zephir. try this code in phalcon.
[code]
Open http://localhost/test/hi+email@test.com
It will return "hi email@test.com" even in page source.
I think there is an issue when zephir wants to set global variables like `_GET`. After tracing code, you can see method `Router::getRewriteUri()` is using `_GET['_url']`.

[2016-12-15 21:01] andresgutierrez commented on #1371
How do yo know this is caused by Zephir?

[2016-12-16 03:41] tanboname opened #1372 "php7 call self:func() Fatal error :Uncaught RuntimeException: Call to undefined method self::func(), did you mean 'undefined'? in"
My environment:
* Linux CentOS 7
* PHP 7.1.0
* Latest Zephir

[code]

[code]

[2016-12-16 10:53] Jurigag commented on #1371
Post some code to reproduce issue without phalcon.

[2016-12-16 11:39] tanboname commented on #1372
zephir:
[code]

php:
[code]

[2016-12-16 19:51] mbrostami commented on #1371
Hmmm, I figured out that .htaccess causes this, not zephir :(

[2016-12-16 19:51] #1371 closed, assigned to nobody

[2016-12-19 04:01] xuanskyer opened #1373 "Zephir supports EOF syntax?"
like this:

[code]

[2016-12-19 19:29] sergeyklay commented on #1373
Duplicate https://github.com/phalcon/zephir/issues/1313

[2016-12-19 19:29] #1373 closed, assigned to nobody

[2016-12-19 19:32] #1272 closed, assigned to nobody

[2016-12-19 19:33] #1270 closed, assigned to nobody

[2016-12-19 19:36] #1341 closed, assigned to nobody

[2016-12-19 19:37] sergeyklay commented on #1370
Yes.
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.zephir-lang.com/).

[2016-12-19 19:37] #1370 closed, assigned to nobody

[2016-12-19 19:42] sergeyklay commented on #1258
To build a PHP extension and use Zephir you need the following requirements:

* gcc >= 4.x/clang >= 3.x
* re2c 0.13 or later
* gnu make 3.81 or later
* autoconf 2.31 or later
* automake 1.14 or later
* libpcre3
* php development headers and tools

For more refer to the documentation page: https://docs.zephir-lang.com/en/latest/install.html#prerequisites

[2016-12-19 19:42] #1258 closed, assigned to nobody

[2016-12-19 19:43] sergeyklay commented on #1256
@mruz

[2016-12-19 21:07] sergeyklay commented on #1255
I ran 3040 iterations.

**PHP 7.0.13**
[code]

**PHP 5.6.29**

[code]

Zephir 0.9.5a-dev

[2016-12-20 09:41] fightingbamboo commented on #1255
when will zephir support  default array values?

[2016-12-20 16:37] steffengy commented on #1255
it does support default values, if it didn't this issue couldn't be about a memory leak when using them.

[2016-12-22 08:39] Veon opened #1374 "Compile error"
[code]

[code]

Test code:

[code]

PHP version:
php -v
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.8-0ubuntu0.16.04.3, Copyright (c) 1999-2016, by Zend Technologies
    with Xdebug v2.4.0, Copyright (c) 2002-2016, by Derick Rethans

Zephir version: last on github, cloned fro

[2016-12-22 08:43] #1374 closed, assigned to nobody

[2016-12-22 08:44] Veon commented on #1374
let... i forgot let

[2016-12-22 08:45] sergeyklay commented on #1374
1. `public $testVar = "testvarText";` => `public testVar = "testvarText";`
2. `$this->testVar` => `this->testVar`
3. `this->testVar` => `let this->testVar`
4. `return ($this->testVar);` => `return this->testVar;`

[2016-12-26 01:20] dreamsxin commented on #1356
If like in C, the must be define like like this `long tmp = 2147483648 ` or `var tmp = 2147483648 `,  If like php must modify generate code `int` to `long` or `zend_long`.

[2016-12-27 14:06] mruz commented on #1356
I'm using `long tmp` right now.
Maybe for php5 it is modified by default and this is the reason why it's working for php5, but not for php7?

[2016-12-27 23:59] dreamsxin commented on #1356
At Linux,
LP64: long long int 64bit, unsigned long int 64bit
LLP64: long long int 64bit, long int 32bit
May be check PHP version use zend_long,
[code]

[2016-12-28 04:14] gouchaoer commented on #1366
@zhiephie
hey, I also run into this problem
[code]
my environment is win7, php7.0.12, vs2015...

how do you solve the problem?

[2016-12-28 04:43] zhiephie commented on #1366
Configure in DIR ``zephir\parser\parser\build_win32.bat``

edit
[code]

[2016-12-28 07:18] gouchaoer commented on #1366
@zhiephie it works!!!

@sergeyklay please try to change the build_win32 to automatically decide which php version to use. thx.

[2016-12-30 09:20] joseph-montanez opened #1377 "Zephir on Windows 64 Php 7"
I've just been shaving the yak here trying to get Zephir working on windows.

I went ahead and follow this guide. However, I ran into a few snags
https://github.com/phalcon/zephir/blob/master/WINDOWS.md

1. re2c.exe - It doesn't say what version, I downloaded it from gnuwin32 because nothing on my system had that executable. Apparently, it was too old (compile errors converting the .re files into

[2016-12-30 11:46] dreamsxin opened #1379 "Test PHP7 Coredump"
System `Linux dreamsxin 3.19.0-79-generic #87-Ubuntu SMP Tue Dec 20 19:27:48 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

GDB:
[code]

[2016-12-31 01:11] dreamsxin commented on #1372
Can follow this:
[code]

[2017-01-03 05:37] sergeyklay commented on #1379
@dreamsxin Could you please provide the minimal script to reproduce

[2017-01-03 06:32] dreamsxin commented on #1379
@sergeyklay No script, Only install zephir test extension, and run `php -m`.
I guess only happen PHP >= 7.1

[2017-01-04 08:42] anthony-hz opened #1381 "die will cause zephir cordump under php7.0"
Calling die("hello"); anywhere in zep code will cause coredump of PHP

<bountysource-plugin>
---

[2017-01-12 23:52] dreamsxin opened #1382 "[Discuss]Adjust memory allocated of kernel (Zend Egine3)"
PHP7 zvals are no longer individually allocated and don’t store.

like:
[code]

Change to:
[code]

<bountysource-plugin>
---

[2017-01-16 09:38] yingshancool opened #1383 "how to rebuild?"
I don't know how to rebuild. if i reinput  zephir build than nothing.

[2017-01-16 09:40] sergeyklay commented on #1383
[code]

[2017-01-16 09:41] yingshancool commented on #1383
thank you!

[2017-01-16 09:42] #1383 closed, assigned to nobody

[2017-01-22 11:41] dreamsxin opened #1384 "Discussion: PHP7 change memory allocated"
Between PHP 5 and PHP 7 the main difference was that zvals are no longer individually allocated and don’t store a reference count themselves.

So, We can change `ZEPHIR_INIT_VAR` etc

[2017-01-23 15:52] shareil23 opened #1385 "zephir error"
when i try

`phalcon --help`

and the result

[code]

how to fix this?

<bountysource-plugin>
---

[2017-01-23 15:58] sergeyklay commented on #1385
have you install php?

[2017-01-25 09:07] bodhi-code opened #1386 "zephir\parser\configure.js(2209, 9) Microsoft JScript 运行时错误: 'length' 为 null 或不是对象"
I have a problem,when I install zephir on windows10.

<bountysource-plugin>
---

[2017-01-25 09:14] sergeyklay commented on #1386
We need steps to reproduce

[2017-01-25 20:18] Jurigag opened #1387 "PHP 7.1.1 unpack function"
In php 7.1.1 there is bug in `unpack` function required number of parameters in reflection api required which is wrongly reported as 3 instead of 2. There should be added additional check for 7.1.1 php version in https://github.com/phalcon/zephir/blob/master/Library/FunctionCall.php and check it against 2 parameters.

This will prevent to compile any zephir code having unpack function.

Related:
h

[2017-01-26 22:23] mruz commented on #1379
It's only on PHP 7.1 https://travis-ci.org/phalcon/zephir it also fails on iceframework https://travis-ci.org/ice/framework/jobs/195692404#L821

[2017-01-29 06:18] surjit opened #1388 "why zephir not shows error on line"
I used zephir months ago, it was showing specific line number of error
current version not showing and makes it too harder to find out errors

please advise how can i find error on which line ?
it just shows "cannot parse file"

[2017-01-30 09:07] bodhi-code commented on #1386
I was configured in accordance with the configuration of the  zephir in windows, when I use VS 2015 to develop a dynamic link library php 5.5.38, the problem arises. Is it necessary to use VS 2012 to develop php 5.5.38 dynamic link library?

[2017-01-31 01:35] gouchaoer commented on #1386
你可以看看官方的windows下安装zephir的教程，php5.x和php7在windows下的编译环境是不一样的，5.x的早就有人打通了。php7的可以参考我的教程：http://qsalg.com/?p=549

[2017-01-31 15:11] rafmichalak84 opened #1389 "php7.1 and const problems"
Hey,
I just started to look for errors in phalcon to run it in php-7.1
and just found one cause of

--- test.zep ---
[code]

compile ok
but when run php
--- test.php ---
[code]

i've got
[code]

zephir good interpreted

[code]

and how to crash and coredump
php script access to const like
[code]
or change type from int/long to string
then is SegmentationFault after run php or php -m

<bountysource

[2017-02-02 12:50] rafmichalak84 commented on #1389
I created a patch for Zephir after which phalcon is compile and run for php7.1.1

please for feedback

[2017-02-06 15:59] Jurigag commented on #1388
It still shows, it just depends if this is zephir related syntax error(then there will be no line error cuz of limits of parser) or some other error(which will be shown). Cannot parse file is syntax error, like it's lemon error which is not providing(or not returning in zephir) a way to get why exactly file was not parsed.

[2017-02-06 18:04] Jurigag opened #1392 "PHP 7.1 get_called_class"
Zephir on php 7.1 returns wrong value from get_called_class. Script to reproduce:

[code]

[code]

[code]

actual "Test"
expected "Xyz"

---

Refs: #1390, #1389,  #1372

[2017-02-06 18:25] Jurigag commented on #1392
As I see we use current_execute_data in php src there is execute_data used, is there any difference? Are those same stuff? @andresgutierrez @steffengy

[2017-02-07 03:39] #1388 closed, assigned to nobody

[2017-02-08 18:00] seomixr commented on #1154
Same issue as @jenalgit

[2017-02-09 06:33] mzf opened #1393 "Zephir install on Win10 x64 issue"
I use manual https://github.com/phalcon/zephir/blob/master/WINDOWS.md
First i install VS2015, then i download files
[code]
Then i clone zephir to c:\zephir
Then i create helloworld project in c:\projects\helloworld
When i run command `zephir build` i get error
[code]

[2017-02-09 06:59] sergeyklay commented on #1393
"cl" не является внутренней или внешней
командой, исполняемой программой или пакетным файлом.
"lemon" не является внутренней или внешней
командой, исполняемой программой или пакетным файлом.

* https://github.com/phalcon/zephir/issues/1366
* https://github.com/phalcon/zephir/issues/1154

[2017-02-09 06:59] #1393 closed, assigned to nobody

[2017-02-09 08:06] #1384 closed, assigned to nobody

[2017-02-09 08:53] mzf commented on #1154
@jenalgit u need modify VS2015 and add C++. By default install VS2015 has no C++

[2017-02-09 08:58] mzf commented on #1154
Have same issue on Win10x64 + PHP7x64
[code]

[2017-02-09 09:14] sergeyklay commented on #1154
zephir_parser.c

@mzf Could you please translate this message in English for all participants

[2017-02-09 09:33] mzf commented on #1154
1. I added c:\php-sdk\bin (where bison.exe) to PATH and get another error
2. Changed php5 to php7 in c:\zephir\parser\parser\build_win32.bat
And get another error
[code]

[2017-02-09 10:10] mzf commented on #1154
Gotcha, i fixed all errors!  [How install Zephir on PHP7 x64](http://telegra.ph/How-install-Php7-x64-Zephir-on-Windows-10-02-09-2)

[2017-02-09 12:03] Jurigag commented on #1392
https://github.com/phalcon/zephir/pull/1390 perhaps this changes are causing the problem cuz i checked on this zephir.

[2017-02-11 09:41] #1387 closed, assigned to nobody

[2017-02-20 07:47] xqkeji opened #1394 "php 7.1 ts in window const error"
in php 7.1 ts
zephir const can not use string

for example
[code]

this example can complie,but can not execute.

if I delete `const B="test"`, it can execute.

[2017-02-21 06:38] xqkeji opened #1395 "php7.1ts in window file_exists error"
php7.1 ts in window file_exists the file is not exists, but return true.

[2017-02-21 07:10] xqkeji opened #1396 "php7.1ts in window can't require file"
failed to open stream: Permission denied

[2017-02-22 07:44] xqkeji commented on #1395
very sorry, I find that it is my function error.

[2017-02-22 07:44] #1395 closed, assigned to nobody

[2017-02-22 07:45] xqkeji commented on #1396
very sorry, I find that it is my function error.

[2017-02-22 07:45] #1396 closed, assigned to nobody

[2017-02-24 22:09] sergeyklay commented on #1331
As I can see fixed for now

[2017-02-24 22:09] #1331 closed, assigned to sergeyklay

[2017-02-27 15:44] Jurigag opened #1397 "Static return type stubs"
Static returned type in stubs is generated just as current class, example of problem:

https://github.com/phalcon/cphalcon/blob/3.0.x/phalcon/mvc/model.zep#L890
https://github.com/phalcon/phalcon-devtools/blob/3.0.x/ide/stubs/Phalcon/mvc/Model.php#L465

Though on 2.0.x repository it was correctly `@return static`

<bountysource-plugin>

---

[2017-02-28 06:27] #1386 closed, assigned to nobody

[2017-02-28 06:28] sergeyklay commented on #1381
Could you please provide PHP version and OS?

[2017-02-28 06:30] sergeyklay commented on #1356
Cc: @andresgutierrez

[2017-02-28 06:31] sergeyklay commented on #1372
@tanboname Could you please provide PHP version and OS?

[2017-02-28 06:32] #1348 closed, assigned to nobody

[2017-02-28 15:22] tobeorla opened #1398 ""A SMALL TASTE" button does nothing"
**O.S**: Windows 10
**Browser**: Chrome
**URL**: https://zephir-lang.com/

The  "A SMALL TASTE" "See what zephir can do!" button does nothing. No Javascript errors got thrown.

[2017-02-28 15:29] Jurigag commented on #1398
This is https://github.com/phalcon/zephir-website issue

[2017-02-28 15:36] tobeorla commented on #1398
https://github.com/phalcon/zephir-website/issues/9

[2017-02-28 15:36] #1398 closed, assigned to nobody

[2017-03-01 08:37] rochael commented on #1372
I have the same problem,
MacOS 10.12
php 7.1
lastest zephir
[code]

[code]

[code]

[2017-03-02 06:08] Cinderella-Man opened #1399 "Passing function as argument"
Hi,

This is my code:
[code]

then I'm trying to use this get function as follows:
[code]

I'm getting following error:
[code]

Is there a support for passing functions to functions? other question would be is there a support for returning functions?

Thanks in advance,

Kamil

[2017-03-02 09:39] sergeyklay commented on #1399
@Cinderella-Man Try to use
[code]

[2017-03-02 09:41] Jurigag commented on #1399
This will call function with name predicate. Maybe he needs `{predicate}(value)` https://docs.zephir-lang.com/en/latest/functions.html

[2017-03-02 12:40] Jurigag opened #1400 "ArrayAccess doesn't work in zephir-land"
Not sure if fetch keyword supports ArrayAccess interface. Doesn't seems so, check this PR for more https://github.com/phalcon/cphalcon/pull/12670

It could be nice to implement it imho.

[2017-03-02 13:31] Jurigag commented on #1400
Well ArrayAccess interface doesn't work at all in zephir-land. Even isset or array["index"] when array is object implementing ArrayAcces doesn't work:

test.zep:

[code]

test2.zep:

[code]

test.php:

[code]

Returns:

[2017-03-02 13:33] Jurigag commented on #1400
Looks like https://github.com/phalcon/zephir/issues/1061 this issue was related but code to reproduce got deleted.

[2017-03-05 06:13] anthony-hz commented on #1381
is php 7.0.5 and ubuntu 14.04.5  X64

[2017-03-05 11:15] SimBioT1954 opened #1401 "Model relations with find_in_set() feature"
Hello!
@sergeyklay
It would be a nice feature to add support of find_in_set() Mysql function for model relationships.

E.g.
[code]

Model Users.php
[code]

Controller:
[code]

I know this is not that good as additional table **related_users** but I think in some special cases there is no other option.
So I really think this feature would be really usefull 👍
What do you think about this?

[2017-03-05 13:58] Jurigag commented on #1401
I think this is really bad. Just use `hasManyToMany`.

[2017-03-05 15:00] Jurigag commented on #1401
Also this is phalcon issue. https://github.com/phalcon/cphalcon

[2017-03-08 11:09] sergeyklay commented on #1401
Hello @SimBioT1954

This is NFR (new feature request) related to the [Phalcon](https://github.com/phalcon/cphalcon) project, not Zephir.
I'm closing this issue here. Feel free to open a NFR at the appropriate repository.

Thank you

[2017-03-08 11:09] #1401 closed, assigned to nobody

[2017-03-13 02:42] chenyanginchina opened #1402 "can php c extension call zephir function ?"
zephir function cann't work in RINT stage,
we try to call zephir function in c extension in RINT stage,but it cause segmentfault.

the code is like :
[code]

[2017-03-14 06:58] sergeyklay commented on #1389
Fixed in `master` branch.

[2017-03-14 06:58] #1389 closed, assigned to nobody

[2017-03-17 12:17] Jurigag opened #1403 "PHP7 create symbol table"
Is there any reason why `create_symbol_table` function is not implementend in ZendEngine3? Like all code there is just commented. For example zephir just uses wrong symbol table for example in this issue - https://github.com/phalcon/cphalcon/issues/12648 on php5 just create_symbol_table() before setting variables is enough but what about php7?

[2017-03-17 15:17] Jurigag opened #1404 "is_php_version usability"
[code]

Currently it looks like this, i don't even know wtf is this really. Maybe better would be here to use somehow version_compare and `PHP_VERSION`?

[2017-03-17 15:29] sergeyklay commented on #1404
version_compare? in C? could you please provide example

[2017-03-17 15:44] Jurigag commented on #1404
Well version_compare is stupid idea. I think it should be something like(pseudocode):

[code]

[2017-03-17 18:01] Jurigag commented on #1392
Well the problem now is that it seg faults on such code:
[code]

[code]

First call works, but second seg fault.

I think problem is in `zephir_call_user_function` or `zephir_call_function_opt`

[2017-03-17 19:53] Jurigag commented on #1372
I can confirm this is really a bug. Needs to be fixed for phalcon.

Though i think the root of the problem is the same/similar as here - https://github.com/phalcon/zephir/issues/1392

@sergeyklay @andresgutierrez @rafmichalak84 @dreamsxin

[2017-03-17 22:05] dreamsxin commented on #1392
I will try use PHP Built-in methods zend_call_function test again.

[2017-03-17 22:34] Jurigag commented on #1392
Sure, but i don't think ti's a solution really.

[2017-03-18 00:50] dreamsxin commented on #1392
@Jurigag The least, Narrow search range.

[2017-03-18 00:54] sergeyklay commented on #1392
@dreamsxin

Zephir
[code]

**test.php**
[code]

With xdebug
[code]

Without xdebug
[code]

So yes,
`zim_Group_Model_testCalled ` ->
`zephir_return_call_class_method ` ->
`zephir_call_class_method_aparams ` ->
`zephir_call_user_function ` ->
`zephir_call_function_opt ` ->
`zim_Group_Model_testCalled3 ` ->
`zephir_get_called_class ` ->
`zend_string_dup `

php-config
[code]

[2017-03-18 01:00] sergeyklay commented on #1392
Cc: @rafmichalak84

[2017-03-18 06:31] dreamsxin commented on #1392
@sjinks Help, check the bug.

[2017-03-18 06:46] sjinks commented on #1392
[code]

[2017-03-18 07:39] sjinks commented on #1392
No. As far as I can tell, the issue lies somewhere in `zephir_call_user_function`. If I replace `testCalled`'s body with

[code]

I get the expected behavior.

[2017-03-18 07:50] Jurigag commented on #1392
It's defintely not a problem with get_called_class itself because it works overall, it just happens only when there is call from non-static method to static method. Something happens with scope.

[2017-03-18 08:12] sjinks commented on #1392
One of the issues:

[code]

`Z_OBJ` returns `zend_object*` but `zend_class_entry*` is expected

[2017-03-18 10:02] sergeyklay commented on #1392
I've modified this for my example:
[code]

and got this trace:
[code]

![zephir_call_user_function](https://cloud.githubusercontent.com/assets/1256298/24071075/c49e0382-0bd2-11e7-83a6-dd95e2becd6c.png)

[code]

[2017-03-18 11:09] sjinks commented on #1392
That's a bit different issue (yet still a bug), I am still trying to find out where the scope is misset.

[2017-03-18 11:11] sjinks commented on #1392
I suspect that this happens in `zephir_call_function_opt`, as commenting out all FCI cache-related things still produce the same result. It seems that the bad data come in `zephir_fcall_info*` parameter

[2017-03-18 12:17] sergeyklay commented on #1392
Well, what we tested (with @ovr )

This pasted directly in generated code, to avoid calling `zephir_get_called_class`
[code]

bit different issue, but I've fixed it too
[code]

`zephir_call_user_function`
[code]

Lets debug:
[code]

[code]

Ok
[code]

Empty `This`. Just checked frames from 1 to 9. `This` always empty. The same for `current_execute_data`.

Ok, lets return back to the 1st frame and

[2017-03-18 12:30] sergeyklay commented on #1392
So now bt is
[code]

[2017-03-18 12:32] sergeyklay commented on #1392
@sjinks note:

[code]

[2017-03-18 20:26] sergeyklay commented on #1392
@sjinks @dreamsxin

I created a separate repo for testing and debugging current issues: https://github.com/sergeyklay/issue1394

My last PR https://github.com/phalcon/zephir/pull/1407 fixes partially the current PHP 7.1 issue. At least I thought so.  But after I merged into the master, I found that, nevertheless, the tests fall for PHP 7.1. Now for another use case (see https://travis-ci.org/phalc

[2017-03-19 00:52] dreamsxin commented on #1392
@sergeyklay I use `zend_call_function` replace test it's work fine.
[code]

[2017-03-19 09:55] Jurigag commented on #1392
https://github.com/sergeyklay/issue1394/pull/3#issuecomment-287605361

Managed to fix some issues, right now only one things happens there.

[2017-03-19 12:48] sjinks commented on #1402
Just to clarify: your extension and Zephir extension are two different extensions, correct?

[2017-03-20 06:45] chenyanginchina commented on #1402
yes,two different extensions

[2017-03-20 07:14] sergeyklay commented on #1404
I still don't completely understand. What kind of problem you want to solve. Can you elaborate on that

[2017-03-20 08:09] Jurigag commented on #1404
To make it work how it supposed to be? Right now is_php_version doesn't work how it should be. In phalcon code there was `is_php_version("5")` which obviously wasn't working.

[2017-03-20 11:19] sergeyklay commented on #1404
So, it is just a Zephir bug (may be). There is no reason to introduce new internal API. Could you please create tests for Zephir?

[2017-03-20 11:25] Jurigag commented on #1404
Yes, it's zephir bug, but it means that is_php_version needs to be updated to work correctly like i wrote above for example. It's defintely zephir bug, just current code for this function is like this:

[code]

[2017-03-20 12:30] sergeyklay commented on #1404
[code]

[2017-03-20 12:56] Jurigag commented on #1404
Yes but in phalcon it was used like `is_php_version("5")`

[2017-03-21 16:46] pakey opened #1409 "zephir_parse_file terminates the program without any error messages"
There is no error feedback after executing `zephir build`
After checking found in the implementation to the `Library/CompilerFile.php` file
[code]
The program is terminated, no one after any output, and can not capture the specific error message,
What should I do if I do not know where I can do it?

[2017-03-21 20:04] sergeyklay commented on #1409
Try to check log file.

[2017-03-21 22:15] #1255 closed, assigned to sergeyklay

[2017-03-22 00:54] pakey commented on #1409
the log file is empty

[2017-03-22 05:51] sergeyklay commented on #1409
Is it posible to see source to reproduce?

[2017-03-22 09:25] wolftankk opened #1410 "Globals support string config"
I define a string/char/uchar value in the global section of config.json,
[code]

----

In #985, it has supported  to define a bool value in php.ini, so, can globals support string/real/int ?

http://docstore.mik.ua/orelly/weblinux2/php/ch14_12.htm

[2017-03-22 16:02] sergeyklay commented on #1410
Could you please provide config.json to reproduce

[2017-03-22 17:04] wolftankk commented on #1410
[code]

[2017-03-23 22:34] Jurigag commented on #1339
@sjinks could you check it out if you would have time?

[2017-03-24 20:28] sjinks commented on #1339
In ZE3 (php 7.x) this should work, I believe. Does the crash still happen in ZE2?

[2017-03-24 20:29] sjinks commented on #1339
Well, at least after #1415 is merged

[2017-03-24 20:35] Jurigag commented on #1339
In ZE2 i fixed it, it's only in ZE3.

[2017-03-24 21:28] sergeyklay commented on #1392
Fixed in `master` branch.

[2017-03-24 21:28] #1392 closed, assigned to sergeyklay

[2017-03-24 21:41] sergeyklay opened #1416 "Do not use master branch for dev purposes"
@sjinks What do you think about protect master from pushes and keep it as stable version always. I propose to use `development` branch for fixes, testing, etc.

[2017-03-24 21:48] sjinks commented on #1416
Agreed.

[2017-03-24 21:49] sjinks commented on #1416
After 3.2.0?

[2017-03-24 21:51] sergeyklay commented on #1416
Yes

[2017-03-24 21:52] sergeyklay commented on #1416
I will keep this open until this not done.

[2017-03-24 21:59] Jurigag opened #1417 "PDO connection is not destroyed"
On latest zephir version after merging this PR - https://github.com/phalcon/zephir/pull/1415 some PDO related stuff is broken -

https://travis-ci.org/phalcon/cphalcon/jobs/214812313
https://travis-ci.org/phalcon/cphalcon/jobs/214812314

Im not sure what exactly happens here but it looks like that object containing pdo object is never destroyed or something like this causing multiple connections,

[2017-03-24 22:10] sergeyklay commented on #1417
[code]

[2017-03-24 22:10] sergeyklay commented on #1417
Cant realize why on Travis all ok

[2017-03-24 22:25] sjinks commented on #1417
I have an idea.

[2017-03-24 22:34] sergeyklay commented on #1372
Fixed in the `master` branch.

[2017-03-24 22:34] #1372 closed, assigned to sergeyklay

[2017-03-24 22:35] sergeyklay commented on #1379
Fixed in the `master` branch.

[2017-03-24 22:35] #1379 closed, assigned to nobody

[2017-03-24 22:37] Jurigag commented on #1417
Not sure why in travis okay, on ZE3 the check for those references was commented in zephir ZE3 for some reason - https://github.com/phalcon/zephir/pull/1415/files#diff-79d6f1266299a0ab0de6a3bb7b89f4c5L106, since we changed to ZEND things now we got error.

@sergeyklay

[2017-03-24 22:41] sergeyklay commented on #1417
@Jurigag https://github.com/phalcon/zephir/pull/1419
Could you please check again?

[2017-03-24 22:42] Jurigag commented on #1417
Is #1419 supposed to fix this issue with pdo stuff too? @sjinks Like both issues like mine and klay or aim only for one of them?

[2017-03-24 22:44] sjinks commented on #1417
Hope so. I have restarted failed builds in Travis, let's see. As far as I can see, the issues with ZVAL_COPY was that it created a copy of a zval which was never destroyed.

[2017-03-24 22:54] Jurigag commented on #1417
Fixed in master

[2017-03-24 22:54] #1417 closed, assigned to nobody

[2017-03-24 22:56] sjinks commented on #1417
But I still see other failures… are they expected?

[2017-03-24 22:57] Jurigag commented on #1417
I think so.

[2017-03-24 22:58] sjinks commented on #1417
Mmm OK

[2017-03-24 22:59] Jurigag commented on #1417
Well actually `[PHPUnit_Framework_Exception] Access to undefined property _macros` is not expected, it's old issue that was already on php 7 but it was fixed as i remember. `Cannot call func_get_arg() dynamically` is exepcted. Benstalk errors idk why happens, will need to check.

[2017-03-24 23:13] sergeyklay commented on #1417
@sjinks

https://github.com/phalcon/cphalcon/blob/master/phalcon/text.zep#L245
and
https://github.com/phalcon/zephir/pull/1100

[2017-03-24 23:14] #1112 closed, assigned to nobody

[2017-03-24 23:42] Jurigag opened #1420 "Func_get_arg optimizer"
We already have func_get_args and func_num_args optimizer but there is missing func_get_arg, though there is no `zend_copy_parameter` or something like equivalent to `zend_copy_parameters_array` to just get one argument, any idea how to solve it? Just get all parameters and return which we want? Or just some code from func_get_arg from php internally? @sjinks

[2017-03-25 00:06] Jurigag commented on #1420
Well i think best will be something like `zephir_func_get_arg(int)`

[2017-03-25 00:10] sergeyklay commented on #1420
Refs: https://github.com/sergeyklay/issue1394/pull/6#issuecomment-288876333

[2017-03-25 00:35] Jurigag commented on #1420
Well for func_get_arg _zend_get_parameters_array_ex can't be replacement i think cuz it will return all parameters, i think the best will be if we will create our own `func_get_arg` version which will be similar php built-in.

[2017-03-25 04:04] sjinks commented on #1417
OK

[2017-03-25 09:54] sergeyklay opened #1422 "Fix Appveyor CI build"

[2017-03-26 01:07] #1420 closed, assigned to sjinks

[2017-03-26 01:10] sjinks commented on #1420
@Jurigag the fix has just landed to master, please take a look

[2017-03-26 08:53] sergeyklay commented on #1422
Fixed in `master` branch

[2017-03-26 08:53] #1422 closed, assigned to nobody

[2017-03-26 13:34] Jurigag commented on #1339
Added test for this issue here - https://github.com/phalcon/zephir/pull/1427

[2017-03-26 14:56] Jurigag opened #1430 "PHP 5.4 and PHP5.5"
I would suggest to remove php 5.4 and php 5.5 in some new versions and remove them in travis.

[2017-03-26 15:00] Jurigag opened #1431 "Protected call"
Currently zephir allows to call protected method from other object in zephir code itself.

Is there any visbility set in zephir itself or just all methods are public and visibility is only for php?

Here is rellated pull request with tests - https://github.com/phalcon/zephir/pull/1429 Notice on php 7.1 it works as it should be.

[2017-03-26 15:13] sergeyklay commented on #1430
We'll do it after release Phalcon 4.0.0

[2017-03-26 15:13] #1430 closed, assigned to nobody

[2017-03-26 15:15] Jurigag commented on #1430
Okay, just phalcon already doesn't support php 5.4 and 5.5 but fine.

[2017-03-26 16:37] sergeyklay commented on #1430
Phalcon  3.x support 5.5

[2017-03-26 16:38] Jurigag commented on #1430
Oh right, okay, in phalcon 4 we should drop php 5 at all.

[2017-03-26 17:00] sergeyklay commented on #1430
Yes, we plan support only 7.x for Phalcon 4.x

[2017-03-27 16:55] #1339 closed, assigned to nobody

[2017-03-27 20:39] sjinks commented on #1431
In my opinion, Zephir should follow PHP behavior — that is, call to a protected/private method of another class should fail.

[2017-03-27 20:48] sjinks commented on #1403
As far as I can tell, symbol tables in ZE3 are linked to the execution context, and it is not trivial to replace the existing symbol table with a newly created one.

What I suggest is: because new symbol tables are used mostly to create an isolated scope for `require` and company, we add a new argument to `zephir_require` family:

[code]

`symbol_table` is supposed to be an `array` or `NULL`; if i

[2017-03-27 21:03] sjinks commented on #1431
The question is, if we port ZE3 behavior into ZE2, will it break a lot of code?

[2017-03-27 21:10] sergeyklay commented on #1431
@sjinks I'm not sure. Lets try to do it

[2017-03-27 21:12] sergeyklay commented on #1403
I like the second option for now

[2017-03-27 21:44] Jurigag commented on #1431
I agree, i just wonder what exactly was changed that for php 7.1 somehow it works, i guess latest ZE3 changes in zephir, but shouldn't it affect php 7 too? Or those changes were done only for php 7.1?

[2017-03-27 21:47] sjinks commented on #1431
I fixed scope issues for PHP 7.1 only, and tries not to touch PHP 7.0 code assuming it works :-)

[2017-03-27 21:47] Jurigag commented on #1431
Oh okay, then i guess that's why.

[2017-03-27 21:51] Jurigag commented on #1403
What does this mean? We would need to create some weird empty array or pass view params with this require?

[2017-03-27 21:54] sjinks commented on #1403
[code]

[2017-03-27 21:56] Jurigag commented on #1403
Oh okay i understand. But then what with calling `$this->xyz` in such file if it's required in some class? Will this still work?

[2017-03-27 22:06] sjinks commented on #1403
Good question. No idea until I test

[2017-03-27 22:16] Jurigag commented on #1345
@sjinks could this be somehow solved? I guess it could potentially add big overhead so i think the best options would be something like `zephir buildtest` or something like this so any calls to php functions would work with namespace fallback policy? It could make possible to provide better tests coverage for phalcon.

[2017-03-27 22:17] Jurigag commented on #1325
@sjinks i think this should be on some priority right now

I will create some test when have time.

[2017-03-27 22:18] Jurigag commented on #1336
@sjinks i think this should be on some priority right now so we could introduce catching Throwable\Error in phalcon and events like `beforeThrowable`, `beforeError`

I will create some test when have time.

[2017-03-27 23:25] sjinks commented on #1431
7.0 now works the same way as 7.1.

[2017-03-28 13:17] Jurigag commented on #1431
So this "bug" happens only for php 5.x now? We could add ZendEngine2 label then.

[2017-03-29 18:29] Jurigag opened #1442 "Setting this to variable is not working on PHP 7/7.1"
For example this code:

https://github.com/phalcon/cphalcon/pull/12762/files

Seg faults on config = this;

https://travis-ci.org/phalcon/cphalcon/jobs/216322198#L1131

I will provide some test for it tomorrow maybe.

@sjinks

[2017-03-29 19:33] sergeyklay commented on #1442
@Jurigag https://github.com/phalcon/cphalcon/blob/master/phalcon/config.zep#L238

[2017-03-30 01:09] #1382 closed, assigned to nobody

[2017-03-30 03:12] dreamsxin commented on #1403
Set the `scope`, like `op_array->scope = Z_OBJCE_P(object);`

[2017-03-30 23:38] mruz opened #1443 "PHP7, preg_match third parameter"
[code]

[2017-03-31 00:10] sjinks commented on #1443
Happens when Zephir is compiled without `ZEPHIR_USE_PHP_PCRE`

[2017-03-31 03:42] sjinks commented on #1443
@mruz Could you please check with latest Zephir's master?

[2017-03-31 04:04] sjinks commented on #1442
Looks like the issue is somewhere else:

[code]

This works and does not crash.

I will be very grateful for the simple test case :-)

[2017-03-31 08:37] Jurigag commented on #1442
Yea sure, will try to reproduce it.

[2017-03-31 09:13] Jurigag commented on #1442
Well on the code from this PR i have warning:

`PHP Warning:  Invalid arguments supplied for explode()`

When `_delimited` is changed to non-static then works fine, but don't have seg fault, hmmmm. Maybe there is somehow no warning and for some weird reason seg fault is detected in next line? I don't know really why this happens.

[2017-03-31 10:21] Jurigag opened #1446 "Setting static property to argument"
https://github.com/phalcon/zephir/pull/1445/files check this pr for more, when trying to set static argument to non-static method argument then the value is just `*uninitialized*`

[2017-03-31 10:24] Jurigag commented on #1442
Well i created seperated issue - https://github.com/phalcon/zephir/issues/1446 cuz it doesn't looks like related to this, maybe it's somehow causing this issue, idk.

[2017-03-31 10:57] Jurigag commented on #1446
It might be parser issue though @sjinks @sergeyklay not sure about this

[2017-03-31 17:13] sjinks commented on #1446
Yes, that's compiler's issue:

[code]

plus possible memory corruption

[2017-03-31 18:00] #1446 closed, assigned to nobody

[2017-03-31 18:02] sjinks commented on #1446
Fixed in 6c6f7bf0d145f3a3091acc32606fe2857e98ff4b

[2017-03-31 18:04] sjinks commented on #1442
#1446 has been fixed. Could you please check if your `explode` issue is gone?

[2017-03-31 18:06] Jurigag commented on #1442
Well code in this PR is changed but yea, will check it in free time.

[2017-03-31 20:14] mruz commented on #1443
This is fixed, but I'm getting

I'll try to provide a code to reproduce.

[2017-03-31 20:26] Jurigag commented on #1443
That's correct. From php 7 or 7.1 you can't use extract etc functions dynamically(in our case use `zend_call_function` to call them), we need to write extract optimizer(and other optimizers) like lately we wrote `func_get_args`, `func_num_args` and `func_get_arg` optimizers

https://wiki.php.net/rfc/forbid_dynamic_scope_introspection

[2017-03-31 20:30] mruz commented on #1443
OK, but it worked couple of days ago on php7 and previous zephir.

[2017-03-31 20:30] sergeyklay commented on #1443
We fixed this few days ago :)

[2017-03-31 20:31] Jurigag opened #1449 "Missing optimizers"
- [ ] extract
- [ ] compact
- [x] get_defined_vars
- [ ] parse_str
- [ ] assert
- [x] func_get_args
- [x] func_get_arg
- [x] func_num_args

Source - https://wiki.php.net/rfc/forbid_dynamic_scope_introspection

[2017-03-31 20:32] Jurigag commented on #1443
Yea worked but it wasn't correct anyway :) It's just how php works right now and zephir was ignoring it, we removed extended things from ZE3 and now we uses `zend_call_function`

[2017-03-31 20:33] #1385 closed, assigned to nobody

[2017-03-31 21:01] mruz commented on #1443
Cool, thanks.

[2017-03-31 21:01] #1443 closed, assigned to nobody

[2017-03-31 21:19] sergeyklay commented on #1381
[code]

[code]

[2017-03-31 23:10] sjinks commented on #1336
The issue with multiple catch blocks has been fixed in 122853b3d1babeb41bab07865e6593daaea82359

[2017-03-31 23:11] Jurigag commented on #1336
Thanky you :)

[2017-03-31 23:49] sjinks commented on #1449
`get_defined_vars()` is useless in Zephir: since all methods will be compiled to C functions, there is no way for the ZE to get information about variables.

`get_defined_vars()` will return variables defined in the most recent userland function down the call stack.

[2017-03-31 23:52] sjinks commented on #1449
See 4d5b616c143e45dc7a3b73d952116243b5ed2cdd

[2017-04-01 00:00] sjinks commented on #1449
For the same reason `compact()` is also useless: there is no local symbol table in Zephir/C functions.

In theory, `compact()` can be implemented in the parser (because only the parser knows the current symbol table) but I am not familiar with the parser good enough to implement this.

`extract()` won't work in Zephir for the very same reason: there is no symbol table, there is nowhere to extract

[2017-04-01 00:08] sjinks commented on #1449
In ZE3 only `assert("string")` is forbidden, but it can be easily replaced with smth like `assert(eval("string"))`. But again, this is not useful in Zephir, because `eval()` won't have access to local variables as there is no symbol table.

[2017-04-01 00:10] sjinks commented on #1449
`(mb_)parse_str()` with one parameter also does not make sense in Zephir, and poses a security risk.

[2017-04-01 02:56] sjinks opened #1453 "AssignTest produces invalid memory access in Valgrind"
[code]

[2017-04-01 04:56] sjinks commented on #1453
The issue is that superglobals should not be separated.

[2017-04-01 05:17] sjinks commented on #1345
I think PHP does that at compile time…

Not sure if it is possible to implement this in Zephir as namespaced functions are mangled.

Say, `test\test_func` becomes `test_test_func`.
And it seems like `test\test\func` becomes `test_test_func` either :-)

[2017-04-01 06:11] rafmichalak84 commented on #1394
Hi, I checked 10minutes ago and with latest version everything works great.

PHP 7.1.3 (cli) (built: Mar 31 2017 22:05:21) ( ZTS DEBUG )
Zephir 0.9.6a-dev-3ea0e94d8e

Please checked again and I will be waiting for feedback.

my test case
[code]

[2017-04-01 08:55] Jurigag commented on #1449
Hmmm then i think maybe we could do some optimizers anyway telling that it's not supported in zephir with reason why, cuz maybe it's not so obvious really(like it doesn't have to be dynamic call but still not working).

[2017-04-01 08:57] Jurigag commented on #1345
I just though that we could somehow intercept function calls in zephir(like xdebug is doing?) and check if in our active namespace we have same function defined and call it instead calling one from the global. I know this will add overhead that's why i was asking from some special option to compile like `zephir buildtest`

[2017-04-01 12:44] sergeyklay commented on #1453
Fixed in master

[2017-04-01 12:44] #1453 closed, assigned to nobody

[2017-04-01 12:48] #1336 closed, assigned to nobody

[2017-04-01 14:31] sjinks commented on #1449
Throw an exception during compilation?

[2017-04-01 14:33] Jurigag commented on #1449
Maybe? @sergeyklay what you think?

[2017-04-01 14:33] sjinks commented on #1345
Namespace is a syntactic sugar, there is no notion of namespaces at run time :-(

[2017-04-01 14:37] Jurigag commented on #1345
Oh okay then, too bad, then i guess i can close it :C

[2017-04-01 15:04] sjinks commented on #1449
`get_defined_vars()` implemented in #1452

[2017-04-01 15:13] Jurigag commented on #1449
Also im not sure, but the same problem exists on ZE2 too, right?

[2017-04-01 15:18] sergeyklay commented on #1449
In my opinion we can just throw compilation exception during compilation

[2017-04-01 15:19] Jurigag commented on #1449
Okay then, i agree.

[2017-04-01 16:39] sergeyklay opened #1462 "[NFR] zephir fullclean"
`zephir fullclean` should remove local cache

<img width="297" alt="screen shot 2017-04-01 at 7 36 56 pm" src="https://cloud.githubusercontent.com/assets/1256298/24580583/f77a4d74-1712-11e7-86c0-552eac13c17b.png">

[2017-04-01 16:57] sergeyklay commented on #1394
Can't reproduce

* PHP 7.1.3-3+deb.sury.org~xenial+1 (cli) (built: Mar 25 2017 14:00:03) ( NTS )
* Zephir 0.9.6a-dev-ec52b83e7f

[2017-04-01 16:57] #1394 closed, assigned to nobody

[2017-04-01 17:18] sergeyklay opened #1463 "[7.1] Trying to free someone else's memory frame!"
[code]

[code]

[code]

[code]

[code]

**NOTE:** **`zephir_init_static_properties_Test_Properties_StaticPropertyArray`**

[code]

**NOTE:** **`zephir_init_static_properties_Test_Properties_StaticPropertyArray`**

[code]

**NOTE:** **`zephir_init_static_properties_Test_Properties_StaticPropertyArray`**

[code]

[2017-04-01 17:21] sergeyklay commented on #1463
Used Zephir repo for module example (test.so)

[2017-04-01 17:23] sergeyklay commented on #1463
@sjinks Any idea? :confused:

[2017-04-01 17:27] Jurigag commented on #1463
How about php 7 or 5.6?

[2017-04-01 17:29] sergeyklay commented on #1323
@josh4trunks Any progress?

[2017-04-01 17:30] sergeyklay commented on #1463
Note: This bug does not related to clang. I was able to reproduce it gcc

[2017-04-01 17:36] ovr commented on #1097
Working on it!

[2017-04-01 17:47] josh4trunks commented on #1323
I submitted the port for review and no FreeBSD ports reviewer has looked at it =\
I could try authoring a new bug report (since I did not start that one) maybe that would get more attention.

[2017-04-01 18:04] ovr commented on #1097
Problem is here

![image](https://cloud.githubusercontent.com/assets/572096/24581137/b5a240f8-1750-11e7-8b0d-d6895248b0f6.png)

Because, Compiler is trying to optimize conditions  for (for/elseif/if) in `IfStatement`

![image](https://cloud.githubusercontent.com/assets/572096/24581145/db54125e-1750-11e7-8fcd-0f6d9c6081e6.png)

but it write code before first if

[2017-04-01 18:14] sergeyklay commented on #1463
@Jurigag No, this only happens on 7.1, and only for this code:
[code]

Refs: https://github.com/phalcon/zephir/issues/367, https://github.com/phalcon/zephir/issues/188, https://github.com/phalcon/zephir/issues/1255

[2017-04-01 18:15] sjinks commented on #1463
How did you manage to create array properties? IIRC, this is not supported by Zend

[2017-04-01 18:16] sergeyklay commented on #1463
@sjinks See https://github.com/phalcon/zephir/pull/970

[2017-04-01 23:03] sjinks commented on #1463
I have a feeling that Zephir is built from object files compiled with different flags.

[code]

That is, for the error to trigger, `ZEPHIR_RELEASE` should not be defined. At that your `CFLAGS` include `-DZEPHIR_RELEASE=1`.

Could you please try to rebuild Zephir from scratch and see if the error is still there?

[2017-04-02 00:20] sjinks commented on #1402
Could you please make sure that your other extension has a dependency on your Zephir extension (ie, you have `ZEND_MOD_REQUIRED()` in your other extension)?

The most likely issue for the crash is that Zephir extension has not yet completed RINIT call and therefore has not initialized its internal structures; when your other extension calls a Zephir function, it crashes somewhere in `ZEPHIR_MM_GRO

[2017-04-02 00:32] sjinks commented on #1381
[code]

[2017-04-02 00:33] sjinks commented on #1381
testAssign because of

[code]

[2017-04-02 00:36] sjinks commented on #1381
Generated code:
[code]

The issue is in `ZEPHIR_MM_RESTORE();` right before `ZEPHIR_INIT_VAR`.

[2017-04-02 00:50] #1381 closed, assigned to sjinks

[2017-04-02 00:53] sjinks commented on #1381
Fixed in 1a3eb4bfaba11c104a2673746b98b52e509247a4

[2017-04-02 06:45] sergeyklay commented on #1463
@sjinks Yes, without ZEPHIR_RELEASE all ok

[2017-04-02 16:02] mruz commented on #1463
@sergeyklay I had #1255 on PHP 5.6

[2017-04-02 16:55] zico4reel commented on #1154
ehnm is anyone still interested in the php 5.x fix? cause it kinda worked for me, or everyone has moved to php7 while working with zephir

[2017-04-02 17:11] steffengy commented on #1403
just FYI:
There is no reason this was not implemented (except being not important enough for the initial port).
And yes it's technically possible (and not really different to how it's done for ZE2).

[2017-04-02 17:13] steffengy commented on #1416
I think we agreed on master being NOT stable ages ago?

That's what tags are for... so you can tag against a specific version,
update & check and go back if necessary...

[2017-04-02 19:26] sergeyklay opened #1471 "Zephir Parser"
Hello,

As you probably know we separated [Zephir Parser](https://github.com/phalcon/php-zephir-parser) and [Zephir](https://github.com/phalcon/zephir) to the two repositories. Currently Zephir Readme says that users can install Zephir by using `composer install`.

Unfortunately Composer doesn't support Git submodules, as the main aim of Composer is to provide a similar inter-project dependency fu

[2017-04-02 19:31] Jurigag commented on #1471
+1

[2017-04-02 19:49] steffengy commented on #1471
In my oppinion the parser and zephir itself are still **too intertwened**.

I think the **user-friendliest** way would be the following changes:
1. move the building of the parser entirely to the parser repository
(shell-scripts, batch-scripts, instructions)
2. setup **CI** for the parser which builds **.dlls and .so** files for 5.6.X, 7.0.X, 7.1.X
3. **(auto-)publish** those artifacts on travis &

[2017-04-02 20:12] sergeyklay commented on #1471
@steffengy
I managed to prepare releases for Windows (TS and NTS) and PHP 5.5 - 7.2
https://github.com/phalcon/php-zephir-parser/releases/tag/v1.0.1

[2017-04-02 20:20] steffengy commented on #1471
@sergeyklay
Yeah my suggestion is basically something like that automatized and also for linux.

On startup zephir just has to download and load the appropriate DLL/SO if there isn't
a loaded parser extension or fail and tell the user to deal with the parser installation
since he seems to be running some unconventional OS/PHP-version.

[2017-04-02 20:38] steffengy commented on #1471
@sergeyklay
I just noticed that the appveyor builds are already automatized.
Then the only thing missing is doing the same for linux/travis.

And ofcourse modifying zephir to download the correct ones of a given parser release
(which thanks to deterministic github release URLs
e.g. https://github.com/phalcon/php-zephir-parser/releases/download/v1.0.1/FILENAME
is quite trivial)

[2017-04-04 14:26] zhiephie commented on #1369
Closed https://github.com/phalcon/zephir/pull/1454

[2017-04-04 14:26] #1369 closed, assigned to nobody

[2017-04-06 00:53] mahmoud-eskandari commented on #1377
I installed all dependencies attention to
[https://github.com/phalcon/zephir/blob/master/WINDOWS.md](https://github.com/phalcon/zephir/blob/master/WINDOWS.md)
[code]
When i try to `zephir build `
the `ext/configure.js`
opening in visual studio...

is a video for Zephir Windows Installing and Building ?

[2017-04-06 06:12] sergeyklay commented on #1377
@joseph-montanez @mahmoud-eskandari

We created [a separated repository](https://github.com/phalcon/php-zephir-parser) with precompiled DLLs.

Please check the mentioned repository and re-open this if you continue experiencing problems using Zephir.

[2017-04-06 06:12] #1377 closed, assigned to nobody

[2017-04-06 17:27] sergeyklay commented on #1282
@amichelins Could you please provide a bit more code to reproduce.

[2017-04-07 04:45] sjinks opened #1475 "Memory leaks in Zephir"
[code]

[2017-04-07 04:48] sjinks commented on #1475
fcall.c:323:

[code]

[code]

[2017-04-07 05:16] sjinks commented on #1475
`zephir_preg_match` patch:

[code]

[2017-04-07 05:19] sjinks commented on #1475
This fixes the most of the leaks in fcall.c:

[code]

[2017-04-07 05:23] sjinks commented on #1475
This fixes the leak in recursive calls:
[code]

[2017-04-07 06:17] sjinks commented on #1475
This is what remains:

[code]

[2017-04-07 07:17] sjinks commented on #1475
These two leaks:

[code]

are caused by **PHPUnit**

If I change `zephir/vendor/phpunit/phpunit/composer/bin` [this way](http://chat.stackoverflow.com/transcript/message/32171288#32171288):
[code]

these leaks are gone.

@ovr @sergeyklay any idea how to patch / override `vendor/phpunit/phpunit/composer/bin`?

[2017-04-07 07:40] sjinks commented on #1475
The other leak comes from `DeprecatedMethodsTest::testPublicMethodThrowsDeprecatedWarning`

[2017-04-07 10:01] sjinks opened #1480 "Zephir generates code incorrectly"
PHP 5.6, `zim_Test_BuiltIn_CharMethods_getHexForString`

[code]

Interesting parts:
[code]

`ZEPHIR_SINIT_NVAR(z)` expands to `Z_SET_REFCOUNT_P(&z, 1)`

`ZVAL_STRINGL` in the loop overwrites the previous string which is never freed.

[2017-04-07 10:09] sjinks opened #1481 "Memory leak in zephir_init_properties_XXX"
[code]

`ZEPHIR_CREATE_OBJECT` allocates a new object and assigns it to `this_ptr`, `return Z_OBJVAL_P(this_ptr);` returns a member of the allocated object but `this_ptr` is never deallocated.

[2017-04-07 12:42] sjinks opened #1482 "Memory leak in zephir_throw_exception_debug"
[code]

When `object` is not an object, `ALLOC_INIT_ZVAL(object);` is called, and it creates a new `zval` but its address will be different (and not tracked by Zephir's memory management functions).

After `zephir_throw_exception_debug` returns, memory manager will free `object_copy`, and `object` will have one references more than necessary.

[2017-04-07 13:23] virgofx commented on #1482
@sjinks Could this be related to #1325? or will it fix it?

[2017-04-07 13:28] sjinks opened #1483 "Non-tracked variables are not destroyed"
[code]

As a result, the very last value of `_2$$3` will leak.

See: `Variable::initVariant()` in the compiler

[2017-04-07 22:29] sergeyklay commented on #1475
@sjinks I've refactored our test runner and main bootstrap. Could you take a look (75619398817657b837ea37ab78553e6827775b30).

[code]

[2017-04-08 04:02] sjinks commented on #1475
Cool! Really love it!

[2017-04-08 04:02] sjinks commented on #1482
Honestly, I think this is a different issue.

[2017-04-08 04:39] sjinks commented on #1325
OK, what we have right now:

[code]

[2017-04-08 06:41] #1325 closed, assigned to sergeyklay

[2017-04-08 06:49] sjinks commented on #1325
Fixed in b7fa2f45bb281039d56f7421ae90dfc2edfcf9d7

[2017-04-08 16:48] sjinks opened #1486 "Incorrect code generation for zephir_read_static_property_ce"
[code]

`ZEPHIR_INIT_ZVAL_NREF` allocates memory for zval but `zephir_read_static_property_ce` creates a new not tracked zval.

[2017-04-08 17:25] sjinks opened #1487 "Unnecessary memory allocation"
[code]

Both `ZEPHIR_INIT_ZVAL_NREF` and `ZEPHIR_INIT_VAR` allocate memory via `ALLOC_ZVAL`; memory allocated by `ZEPHIR_INIT_ZVAL_NREF` is leaked.

[2017-04-08 17:25] sjinks commented on #1487
Could be related to #1486

[2017-04-08 20:21] sjinks commented on #1403
[code]

If `add_symtable` and `del_symtable` are implemented as Zend functions, they will need to use `ex->prev_execute_data` instead of `ex`.

[2017-04-09 08:42] sjinks commented on #1403
OK, let us move to #1488 to discuss this further.

[2017-04-09 08:42] #1403 closed, assigned to sjinks

[2017-04-09 13:24] sjinks opened #1489 "Crash on shutdown"
[code]

PHP 7.0.9 NTS DEBUG

[2017-04-09 13:34] sjinks commented on #1489
[code]

[2017-04-09 13:37] sjinks commented on #1489
Related to #1488

[2017-04-09 13:53] sjinks commented on #1489
[code]

[2017-04-09 14:06] #1489 closed, assigned to nobody

[2017-04-09 16:44] sjinks opened #1492 "Memory Leak in DeprecatedMethodsTest"
[code]

PHP 7.0.9 NTS DEBUG

[2017-04-09 17:06] sjinks commented on #1492
Looks like the issue is somewhere in `DeprecatedMethodsTest::testPublicMethodThrowsDeprecatedWarning`

[2017-04-09 17:27] sjinks commented on #1492
Looks like a false positive:

[code]

does not leak.

[2017-04-09 18:00] virgofx commented on #1325
@sjinks Thanks you are the man!

[2017-04-09 18:04] sjinks commented on #1492
But this leaks:

[code]

[code]

[2017-04-09 19:17] sjinks commented on #1492
Still, it looks like an error in ZE. Setting a breakpoint on zend_objects.c(162) shows that `Test\Oo\DeprecatedMethods` leaks; it is created in PHP userland, and there is no way we can free it.

[2017-04-09 19:17] #1492 closed, assigned to nobody

[2017-04-10 14:26] temuri416 commented on #1325
Thanks, @sjinks!

[2017-04-12 10:05] sjinks opened #1494 "zephir_update_static_property_ce_cache in the compiler"
`StaticProperty::assignStatic`:

[code]

However, `zephir_update_static_property_ce_cache` is available only in ZE2 kernel.

https://github.com/phalcon/zephir/blob/master/Library/Statements/Let/StaticProperty.php#L208
https://github.com/phalcon/zephir/blob/master/Library/Statements/Let/StaticProperty.php#L224

[2017-04-12 10:10] sjinks opened #1495 "Compiler does not escape slashes in strings"
[code]

[2017-04-12 12:43] sjinks opened #1498 "Incorrect code generation"
[code]

[code]

A call to `zephir_read_property` is missing.

Ref: #957

[2017-04-12 13:42] #1498 closed, assigned to nobody

[2017-04-12 16:12] sjinks opened #1502 "zephir_addcslashes() is missing"
`AddcslashesOptimizer`:

[code]

But `zephir_addcslashes` is not found in headers.

[2017-04-12 16:22] sjinks commented on #1502
It looks like the code was copied'n'pasted from `AddslashesOptimizer`:

[code]

In PHP, `addcslashes()` expects two parameters.

[2017-04-12 16:26] sjinks commented on #1502
@sergeyklay what do you think if I remove this optimizer, as it does not work anyway?

[2017-04-12 16:58] sergeyklay commented on #1502
How it works (I hope): https://github.com/phalcon/cphalcon/blob/master/phalcon/db/dialect/mysql.zep#L206

[2017-04-12 17:35] sjinks commented on #1502
No idea… `git grep` cannot find `zephir_addcslashes()`

[2017-04-12 17:36] sjinks commented on #1502
Ah, I know. That call has two parameters, the optimizer can handle only one.

[2017-04-12 17:37] sjinks commented on #1502
[code]

[2017-04-12 17:51] #1263 closed, assigned to nobody

[2017-04-12 17:53] sjinks commented on #1263
Fixed in efeaa0ee6c1bd005fe3d175e83444b7ec93603da

[2017-04-12 20:05] #1502 closed, assigned to nobody

[2017-04-12 20:11] sjinks commented on #1356
PHP 7.0:

[code]

`zend_long` should be used instead of `int`.

[2017-04-12 20:40] #1356 closed, assigned to nobody

[2017-04-12 21:54] sergeyklay commented on #1462
Implemented in the `master` branch

[2017-04-12 21:54] #1462 closed, assigned to nobody

[2017-04-13 17:11] Jurigag opened #1507 "Performance degradation"
Im not telling that fixed issues are bad or something, but those method call time difference in microbench.php is pretty big:

[code]

[code]

Are there any plans to improve current one speed if it's anyhow possible?

Keep in mind that this is only about method calling itself, like how it's called(am i right?). Method in microbench is called 5000000, in real app on phalcon i guess there is less th

[2017-04-13 17:20] virgofx commented on #1507
Eeek. Definitely :+1:

[2017-04-13 17:23] Jurigag commented on #1507
I'm guessing that we could partially improve it by changing some method in phalcon to internal, it shouldn't be affected by those changes, right? I would like even to suggest maybe something like change internal to allow it with combination of protected like:

[code]

And add zephir buildinternal - when build like this, then xyz method will be only internal.

@sjinks

[2017-04-13 18:56] sjinks commented on #1507
What PHP version did you use?

[2017-04-13 18:56] Jurigag commented on #1507
PHP 7, will check it on php 7.1

[2017-04-13 19:02] sjinks commented on #1507
0.9.6a-dev, what git revision was that?

Want to try to test locally.

[2017-04-13 19:03] Jurigag commented on #1507
It's 0.9.6 tag.

`$this->x += 2`

doesn't run on it, so keep this in mind.

[2017-04-13 19:22] sergeyklay commented on #1507
@Jurigag Could you please provide the git commit (SHA-1)?

[2017-04-13 19:24] Jurigag commented on #1507
https://github.com/phalcon/zephir/commits/0.9.6 https://github.com/phalcon/zephir/commit/72dbb2063e835ffa860dcf235dcbf6ec0f821fa5

[2017-04-14 14:28] sjinks commented on #1507
@Jurigag please take a look #1509

[2017-04-14 17:16] sjinks opened #1510 "[RFC] FastCall API"
Currently, Zephir compiler misses a lot of cases where method caching could save some time. Some of these misses are by design (i.e., when a non-final method is called, the compiler cannot be sure which class `$this` refers to), some are compiler defects (when the same method is called in a loop).

Some of these deficiencies are dealt with by the Zephir Kernel (it tries to cache functions and meth

[2017-04-14 17:17] sjinks commented on #1510
The current implementation is very simple:

[code]

[2017-04-14 17:23] sjinks commented on #1510
PHP 7.0.17 ZTS DEBUG
[code]

PHP 7.0.17 ZTS DEBUG, #1509:
[code]

[2017-04-14 17:56] sergeyklay commented on #1510
Looks good to me. Awesome job man 👍

[2017-04-14 17:58] sjinks commented on #1510
7.0.17 NTS RELEASE

#1509
[code]

fastcall
[code]

[2017-04-14 18:04] Jurigag commented on #1510
`right now it is quite low-level and is for manual use only.`

Will be a problem to make it not manual use? Like automatically used when possible?

[2017-04-14 18:08] sjinks commented on #1510
Not sure. The reason is that the optimizer does not have enough information about the environment.

For example,

[code]

The optimizer does not know which `someMethod()` is called: A's or of some other derived class. The developer may know that, and therefore is able to optimize this.

[2017-04-14 18:10] sjinks commented on #1510
Basically, I see only two safe cases:
1. A plain function is called.
2. A private final method or private static function is called.

[2017-04-14 18:10] Jurigag commented on #1510
As i understand this is seperated thing from fix here - https://github.com/phalcon/zephir/pull/1509/files ? Or i miss something?

[2017-04-14 18:11] sjinks commented on #1510
Yes. They are both applicable. #1509 is ready to use, this one is yet to be discussed :-)

[2017-04-14 18:14] Jurigag commented on #1510
It could be nice to have such a thing. If there are cases where we could make it used by default.

Tbh im not sure what exactly is cached etc stuff, i think like for example in phalcon this would be uselss to add this, i guess the code itself in most of methods is costing more time than calling them.

Though difference on this example of microbench is pretty huge. If you could somehow think a way

[2017-04-14 18:31] sjinks commented on #1510
@Jurigag it depends

For example, in this case:

[code]

fcall can help. If the same method is going to be used more than once, fcall can help.

Its advantage over our current call API is that it does not waste time maintaining caches and setting up call contexts. The setup is performed once in `fcall_init`. `facll_call` just passes parameters to the method/function and calls its handler, nothing

[2017-04-14 18:35] Jurigag commented on #1510
Could it speed up recursive method calling? Like for example this topic on forum - https://forum.phalconphp.com/discussion/15947/acl-increase-speed i have other to solve it, just by adding getters and setters so people can just use some cache to set and remove addRole etc stuff

[2017-04-14 18:36] sjinks commented on #1507
It is still slower than 72dbb20:

72dbb20:
[code]

#1509
[code]

but that's the price for correctness — the checks to make sure that the proper method is called in static/self contexts.

[2017-04-14 18:45] Jurigag commented on #1507
Well i can live with that difference, still big improvement. If it doesn't create any issues or problems i think we can merge it and maybe release new tag?

Im guessing that we will see in travis ci how faster tests will finish with this change.

[2017-04-14 18:54] sjinks commented on #1510
Yes. You just need to make sure that `fcall_init()` is called only once.

Smth like that:
[code]

[2017-04-14 19:32] #1507 closed, assigned to nobody

[2017-04-14 19:59] Jurigag commented on #1507
@sergeyklay @sjinks don't forget about release, it could be good, at least phalcon in travis using latest stable now(release), right?

[2017-04-14 20:02] sergeyklay commented on #1507
I propose do release after closing this https://github.com/phalcon/zephir/pull/1479

[2017-04-14 20:23] Jurigag commented on #1507
Okay then.

[2017-04-14 22:30] Jurigag opened #1511 "Method call issue, wrong scope"
After merging https://github.com/phalcon/zephir/pull/1509 build https://travis-ci.org/phalcon/cphalcon/jobs/222225589 is seriously broken, not sure what's exactly an issue @sjinks

[2017-04-14 22:45] Jurigag commented on #1511
[code]

This one looks like some scope issue, there is get_called_class in findFirst for some reason it returns `Phalcon\Mvc\Model\Binder`(where findFirst is called)

Idk about other problems there.

[2017-04-15 06:40] sergeyklay commented on #1511
Reverted

[2017-04-15 06:40] #1511 closed, assigned to nobody

[2017-04-16 02:18] sjinks commented on #1486
[code]

[2017-04-16 03:50] #1486 closed, assigned to nobody

[2017-04-16 14:42] #1481 closed, assigned to nobody

[2017-04-16 14:42] #1482 closed, assigned to nobody

[2017-04-17 06:41] sjinks commented on #1431
Closing in favor of #1429

[2017-04-17 11:20] sjinks opened #1516 "`zephir_concat_function()` leaks memory"
[code]

[code]

When `result == op2`, a copy of `op2` is created BUT `conat_function` will overwrite `result`'s value, resulting in a leak

[2017-04-17 11:33] sjinks commented on #1516
[code]

[2017-04-17 12:18] sjinks commented on #1516
To confirm:

[code]

leaks.

[2017-04-17 13:02] sjinks commented on #1516
Same happens in ZE2.

[2017-04-17 16:58] sjinks commented on #1516
The bug still exists for ZE2, reopening.

[2017-04-18 07:45] #1516 closed, assigned to nobody

[2017-04-21 16:26] Jurigag opened #1520 "Detect debug when building"
I have a small idea, sometimes i forgot to write builddev when i need to, how about:

- detect if we have php compiled as debug
- if yes then `zephir build` will always build extension with debug symbols(just `zephir builddev`)
- if not then as it is
- add `zephir buildprod` so someone can build extension without debug symbols anyway

[2017-04-24 14:36] ulfims opened #1521 "[Bug] Error for numeric value similar phone number (version: 0.9.7-960dd783a9)"
Zephir : `0.9.7-960dd783a9`
OS: `Ubuntu 16.04`
PHP: `7.0.15-0ubuntu0.16.04.4`

Log Error:
[code]
Code:
[code]

[2017-04-26 08:07] maciejmrozinski opened #1522 "SIGSEGV when using __invoke, two instances"
Hi,

While testing Zephir possibilities I found a bug resolving in SIGSEGV. Below You can get sample repository with test php and zep files: [repo](https://github.com/maciejmrozinski/zephir_sigsegv). I tried to create as small example as possible.

Expected result:
[code]

Current result:
[code]

There is some problem with accessing property in second instance of `Test2` class when `__invoke` meth

[2017-04-26 09:57] sjinks commented on #1522
[code]

[2017-04-26 10:32] sjinks commented on #1522
Here is the patch for ZE3 if you want to try it out, I will commit the fix later after I write a test case

[code]

[2017-04-26 12:32] maciejmrozinski commented on #1522
Thx, I can wait for commited fix :)

[2017-04-26 19:59] maciejmrozinski opened #1524 "Casting resource to int"
Hi,

Found an unexpected result when casting resources to ints (common thing in PHP):

[code]

Expected:
`127`
Current:
`1`

I always receive `1` instead of resource id. `intval` is also not working. `strval` gets `Resource id #127`

[2017-04-27 00:01] #1521 closed, assigned to nobody

[2017-04-27 00:41] #1522 closed, assigned to nobody

[2017-04-27 13:26] Jurigag commented on #1507
@sjinks this should be reopened or not? The problem is still there and we need to find why tests failed after merging right? Or you did this already?

[2017-04-27 15:18] sjinks commented on #1507
I have fixed the 5.x thing, now looking at 7.x.

[2017-04-27 15:19] sjinks commented on #1507
Judging by https://github.com/phalcon/cphalcon/pull/12825, 7.x also works now.

[2017-04-27 15:21] Jurigag commented on #1507
Yea but fix was reverted after all or you readded it in some PR?

[2017-04-27 15:22] sjinks commented on #1507
#1519 if I am not mistaken

[2017-04-27 15:27] Jurigag commented on #1507
https://github.com/phalcon/zephir/commit/d90e076eeae0457923a075f454ba86a5edaefebe here is something - well let me just test and check it.

[2017-04-27 15:30] Jurigag commented on #1507
Well on latest zephir i got result like this:

[code]

:C

So i guess we need to go back to this fix and find out why it was broken you reverted it here - https://github.com/phalcon/zephir/commit/5f18566712c677187bea07626a856457c2a0ded1

[2017-04-27 15:33] sjinks commented on #1507
Are you looking at Travis builds or do you run benchmark yourself?

[code]

[2017-04-27 15:33] Jurigag commented on #1507
Im running benchmark myself.

[2017-04-27 15:36] sjinks commented on #1507
[code]

[2017-04-27 15:38] sjinks commented on #1507
At that, I am running a debug build of PHP, release version is faster…

[2017-04-27 15:38] Jurigag commented on #1507
What php version? On 7.0.13 i have this 9 second result for some reason, `opcache.enable_cli = 1` i added

[2017-04-27 15:38] sjinks commented on #1507
PHP 7.0.17 (cli) (built: Apr  9 2017 20:37:39) ( ZTS DEBUG )

[2017-04-27 15:39] sjinks commented on #1507
Are we on the same master? a5f585482bf9c1f6a37d8162936765ebb3d9bfea

[2017-04-27 15:40] Jurigag commented on #1507
Oh sry, my mistake, forgot to disable xdebug:

[code]

Looks like fixed. Slightly slower than 0.9.6 but so many fixes. Sorry for my mistake :C

[2017-04-27 15:42] sjinks commented on #1507
That's the price for #251 and #1429 :-(

[2017-04-27 15:42] Jurigag commented on #1507
Though in https://github.com/phalcon/zephir/pull/1509 https://github.com/phalcon/zephir/issues/1507#issuecomment-294210334 it was faster, not everything from there you finally added? Or some other fix from somewhere make it worse.

[2017-04-27 15:44] sjinks commented on #1507
#1522 slowed things down but just a bit.

[2017-04-27 15:46] Jurigag commented on #1507
Well at least it's better than it was before because almost 9x times performance degrndation in OP was kind of big, with around ~3 times i can live.

Also why now

[code]

This differ much? Previously(0.9.6) it was almost on same performance level.

[2017-04-27 15:55] sjinks commented on #1507
Are you building Zephir with `-O2` or `-O0`?

On our end there is almost no difference between `self::` and `$this->`, the difference comes from ZE.

[2017-04-27 15:58] Jurigag commented on #1507
Im just doing zephir build in zephir directory.

[2017-04-27 15:58] sjinks commented on #1507
What we add to `zend_call_function()` is `zephir_make_fcall_key()` and `populate_fcic()` — they add some overhead comparing to 061fec5d7bb6d0338d6295c1ed516dc0900ee51b

[2017-04-27 16:04] sjinks commented on #1507
Please try this patch, does it make any measurable difference for you?

[code]

[2017-04-27 16:17] Jurigag commented on #1507
Yea, small difference:

[code]

Chcked it more times and pretty much now on similar level those calls.

[2017-04-28 12:57] Jurigag commented on #1507
On latest zephir is someone intersted with latest PR https://github.com/phalcon/zephir/pull/1529 result is:

[code]

So pretty much second difference but many fixes on latest zephir compared to 0.9.6-dev

[2017-05-02 01:39] xqkeji opened #1530 "Access to undeclared static property"
When ajax request more than 3 times, there will be "Access to undeclared static property"
E.g
[code]

[code]
Test:

[code]
 in window php7.0 ts

[2017-05-02 01:55] xqkeji commented on #1530
`zephir_read_static_property_ce(&di, xqkeji_di_ce, SL("_default"), PH_NOISY_CC);`

Does php7 do not need TSRMLS_CC

[2017-05-02 08:26] xqkeji commented on #1530
As long as the load is high, will appear "Access to undeclared static property"。

[2017-05-02 08:50] Jurigag commented on #1530
Add that this happens only on php apache module, on cli or fpm it works fine and without issues.

[2017-05-02 09:40] sergeyklay commented on #1530
Refs:
* https://github.com/phalcon/cphalcon/issues/12056
* https://github.com/phalcon/cphalcon/issues/12803
* https://github.com/phalcon/cphalcon/issues/12791
* https://github.com/phalcon/cphalcon/issues/12110
* https://github.com/phalcon/cphalcon/issues/12065
* https://github.com/phalcon/cphalcon/issues/12329

[2017-05-02 09:41] sergeyklay commented on #1530
@sjinks Could you please take a look

[2017-05-09 12:19] sarwarcse opened #1534 "getting zend_error_noreturn error"
I am getting this error
---------------------
[code]

**My code is**
[code]

**But everything is ok on this code**
[code]
When i set a parameter of method **test** with **string abc** then I got the error. But I compiled it in windows version it works fine..

My server configuration is
Zephir Version : 0.9.7-edf9433136
Centos 7.3 64bit
PHP 5.6.30 (cli) (built: Jan 19 2017 07:57:06)
Copyright (c) 1

[2017-05-09 22:55] sergeyklay commented on #1534
@sarwarcse Did you use master or development branch? Could you please provide `zephir version` output

[2017-05-10 05:19] sarwarcse commented on #1534
@sergeyklay , Thanks for your comment. Zephir Version is : 0.9.7-edf9433136.

I really stack now, the same generated .so file worked in another same configuration sever. I have generated this server and worked in another server not this server, I don't know why.

[2017-05-11 16:14] Jurigag opened #1536 "Extending class with static is changing null value"
When extending zephir class which has static field it's changing it's value from `NULL` to `&NULL` in php 7 and 7.1, for php 5.5 and 5.6 it works fine.

Related PR with test - https://github.com/phalcon/zephir/pull/1535

@sjinks

[2017-05-13 10:08] #1416 closed, assigned to nobody

[2017-05-13 10:11] sergeyklay commented on #1397
This issue was moved to phalcon/ide-stubs#2

[2017-05-13 10:11] #1397 closed, assigned to nobody

[2017-05-13 10:13] sergeyklay commented on #1335
This issue was moved to phalcon/ide-stubs#3

[2017-05-13 10:13] #1335 closed, assigned to nobody

[2017-05-13 10:13] sergeyklay commented on #1132
This issue was moved to phalcon/ide-stubs#4

[2017-05-13 10:13] #1132 closed, assigned to nobody

[2017-05-13 10:16] sergeyklay commented on #1230
This issue was moved to phalcon/php-zephir-parser#12

[2017-05-13 10:16] #1230 closed, assigned to nobody

[2017-05-13 10:16] sergeyklay commented on #1143
This issue was moved to phalcon/php-zephir-parser#13

[2017-05-13 10:16] #1143 closed, assigned to nobody

[2017-05-13 10:21] #1399 closed, assigned to nobody

[2017-05-13 10:22] #1343 closed, assigned to nobody

[2017-05-13 10:22] sergeyklay commented on #1409
This issue was moved to phalcon/php-zephir-parser#19

[2017-05-13 10:22] #1409 closed, assigned to nobody

[2017-05-13 16:23] sergeyklay commented on #1224
Introduced in the `development` branch

[2017-05-13 16:23] #1224 closed, assigned to nobody

[2017-05-13 16:31] #1463 closed, assigned to nobody

[2017-05-19 08:50] hakimio commented on #1530
@sjinks It's rather important that you take a look at this bug as soon as possible, because it prevents usage of thread-safe extension on any platform, not only windows. So, it's no longer possible to use phalcon with pthreads and similar stuff which actually requires thread safety.

[2017-05-20 16:46] mruz opened #1538 "SIGABRT in zephir_memory_observe"
https://github.com/ice/framework/blob/dev/ice/assets.zep#L60

https://github.com/ice/framework/blob/dev/build/php7/ice/assets.zep.c#L165

[code]

[2017-05-20 17:25] Jurigag commented on #1538
And can you post php code to reproduce?

[2017-05-20 22:06] mruz commented on #1538
hmm I see it's because I compiled without ` -DZEPHIR_RELEASE=1`, but https://github.com/phalcon/zephir/issues/1463#issuecomment-290952921

[2017-05-20 22:25] sergeyklay commented on #1538
@mruz Wich version / commit do you use

[2017-05-21 03:08] sjinks commented on #1538
The issue is:

[code]

`ZEPHIR_OBS_VAR(z)` => `zephir_memory_observe(z)`
`ZEPHIR_OBS_NVAR(z)` when `Z_TYPE_P(z) == IS_UNDEF`: `zephir_memory_observe(z);`

When the same variable gets observed two times and `z` is reference counted, this is an error: `zval_ptr_dtor()` will be called twice leading to hard to detect memory corruptions.

[2017-05-21 12:30] Jurigag commented on #1536
@sjinks Any idea ?

[2017-05-24 14:11] Jurigag commented on #1536
After trying to find root of it i reproduced it in php without zephir so i guess this is php bug, reported it already. For phalcon i will just change affected code.

[2017-05-26 12:05] lukaszlach-arch opened #1541 "SSL: no alternative certificate subject name matches target host name 'blog.zephir-lang.com'"
I'm not sure if this is a correct place for this issue, but still - SSL certificate for blog.zephir-lang.com is invalid and site is not accessible since I started checking today in the morning. There is no way to make an exception for this i.e. in Chrome, so in fact currently there is no way to enter the blog.

[code]

[2017-05-26 12:11] Jurigag commented on #1541
@niden

[2017-05-26 12:23] Jurigag opened #1542 "Random Core Dumps on PHP 5.5(possibly 5.6 too)"
Some latest changes to zephir triggered somehow i think this bug in php - https://bugs.php.net/bug.php?id=64827 when running phalcon tests. I got two core dumps here:

https://pastebin.com/nMRHmf1k

Not sure what is causing it, it's not really reproducible, some times it runs fine, some times core dump and sometimes zend_mm_heap corrupted

[2017-05-27 01:13] niden commented on #1541
I need to convert the zephir blog to our blog platform and move it out of tumblr. Because it is in tumblr for now, the certificate does not work

[2017-05-27 10:24] Jurigag commented on #1536
They wrote it's not a bug so we should use `ZVAL_DEREF` somewhere.

[2017-05-27 18:51] hakimio commented on #1536
@Jurigag Can you link here the bug which you opened upstream?

[2017-05-27 22:47] Jurigag commented on #1536
https://bugs.php.net/bug.php?id=74648

[2017-05-28 09:33] sergeyklay commented on #1541
This issue was moved to phalcon/zephir-blog#1

[2017-05-28 09:33] #1541 closed, assigned to nobody

[2017-05-28 12:14] sergeyklay commented on #1534
I'm not sure that this is Zephir issue. At least I managed to test this use case using different versions of PHP (#1543). I'm closing this issue because I can't to reproduce it. Feel free to add any relevant information if you believe that actually there is an issue.

[2017-05-28 12:14] #1534 closed, assigned to nobody

[2017-05-28 12:16] sergeyklay commented on #1402
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-05-28 12:16] #1402 closed, assigned to nobody

[2017-05-29 04:14] romizone opened #1544 "Command " __FILE__ ""
We use command syntax `__FILE__` , inside and Zephir Program which contains `eval()`
and generate and error:

[code]

[code]

[2017-05-29 04:15] romizone commented on #1544
Why zephir eval () evaluate inside in *.zep file not the php code who call Zephir Extension ?

[2017-05-29 05:54] sergeyklay commented on #1544
Could you please provide script to reproduce, Zephir version (commit) and PHP version.

[2017-05-31 01:14] dreamsxin commented on #1510
It's more controllable for me.

[2017-05-31 15:58] sandeep048 opened #1545 "Class "SoapClient" does not exist at compile time"
I am planning to use zephir to create a php extension which needs to use SOAP REST API's.
Kindly let me know if I can use php standard classes in zephir-lang.

[2017-05-31 16:34] sandeep048 commented on #1545
can I link php_soap.so library while compiling this zephir extension?

[2017-05-31 16:58] sergeyklay commented on #1545
You can provide prototype. In the configuration file:

[code]
Then you will need to create the SoapClient stub.

Another way is to provide [header files](https://github.com/php/php-src/tree/master/ext/soap). Also see [Extension Configuration File](https://docs.zephir-lang.com/en/latest/config.html).

[2017-05-31 16:58] #1545 closed, assigned to nobody

[2017-06-04 08:10] romizone commented on #1544
Thisis the code
[code]

The above code is to encrypt
[code]

If we run eval() inside Zephir which have "require( dirname( __FILE__ ) ".
There would be an error because Zepir acessed the *.Zep file location , not the php location which running inside zephir functions .

[2017-06-04 08:13] romizone commented on #1544
PHP Version 7.0

When we eval() this code `require( dirname( __FILE__ ) . '/wp-blog-header.php' )`
There is always an error where Zephir locate magic constant `__FILE__ `

[2017-06-05 18:35] sergeyklay commented on #1544
So `var tmp = base64_decode(code);` has the `__FILE__`, right?

[2017-06-06 13:51] ctrl-cli opened #1546 "Whether it is supported to import a static library(xxx.a) and invoke it's function."
Whether it is supported to import a static library(xxx.a) and invoke it's function.

If this support,how to configure.

[2017-06-07 02:36] Fenikkusu opened #1547 "'function_exists' Returning False"
Recently submitted a new PR to the cphalcon repo (https://github.com/phalcon/cphalcon/pull/12841).

When I first started work, I used  `if function_exists(functionName)`. When running the unit tests using **`substr`**, I kept getting FALSE.

When I checked the raw C file, I saw that it was calling **`zephir_function_exists`**. I'm assuming that **`zephir_function_exists`** is incorrectly detecting

[2017-06-07 03:29] romizone commented on #1544
Yup inside `eval ()` has the code `__FILE__`,

[2017-06-12 10:35] Jurigag opened #1548 "get_object_vars inconsistency"
[code]

[code]

Php 7.0.13:

[code]

Php 7.1.0:

[code]

Php 5.6.28:

[code]

Only php 7.1.0 returns correct value, i expect other php versions to return the same too.

[2017-06-12 10:40] Jurigag commented on #1548
Well actually it's not get_object_vars problem itself, it's some scope issue @sjinks

[2017-06-12 10:46] Jurigag commented on #1547
Any script to reproduce? I just simply did:

[code]
In zephir

And it correctly returns true on php 5.6,7.0,7.1

[2017-06-12 10:47] Jurigag commented on #1548
Oh it's duplicate of https://github.com/phalcon/zephir/issues/1245

[2017-06-12 10:47] #1548 closed, assigned to nobody

[2017-06-12 10:47] Jurigag commented on #1245
@sjinks could you look into this? What is weird on php 7.1.0 it works correctly. Though i didn't check if for 100% correctly like call get_object_vars in other class scope for other object.

[2017-06-16 07:36] wydhit opened #1549 "How can I use `use` in Closures?"
How can I use `use` in Closures?
`public function aa(a,b){
   return function() use (a,b){
      return a+b;
  }
}`
thx

[2017-06-16 07:46] sergeyklay commented on #1549
https://github.com/phalcon/zephir/issues/888

[2017-06-16 07:46] #1549 closed, assigned to nobody

[2017-06-17 15:27] Fenikkusu commented on #1547
This occurred for https://github.com/twistersfury/cphalcon/tree/3.2.x-php-functions. Patch Below.

[code]

After compiling phalcon (`./vendor/bin/zephir build --buildEngine=ZendEngine3
`), running `./vendor/bin/codecept run unit Mvc/View/Engine/Volt/CompilerTest.php` will result in
[code]

Running the code without the given patch runs correctly without errors. One thing I likely should note, I'm r

[2017-06-17 16:55] Jurigag commented on #1547
Post code to reproduce this without phalcon dependency.

[2017-06-21 00:49] ghost opened #1553 "How to convert array to object?"
In PHP, I can convert array to object. For example, (object) array("a", "b", "c"). How to do the something is Zephir. Or how to create a basic object by "new", like "new Object()"?

[2017-06-21 00:50] ghost opened #1554 "how to travse object?"
In PHP, I can travse object by foreach. So how to travse object in Zephir?

[2017-06-21 01:38] ghost opened #1555 "How to change line when echo something?"
In PHP, I use "\n" or "EOF" to change line. How to change line when echo something in Zephir?

[2017-06-21 06:54] Jurigag commented on #1553
`new stdClass()` use https://forum.zephir-lang.com for questions

[2017-06-21 06:56] Jurigag commented on #1554
https://forum.zephir-lang.com use forum for questions

[2017-06-21 06:56] Jurigag commented on #1555
https://forum.zephir-lang.com use forum for questions

[2017-06-21 17:40] #1553 closed, assigned to nobody

[2017-06-21 17:40] #1554 closed, assigned to nobody

[2017-06-21 17:41] sergeyklay commented on #1555
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the Zephir, support requests, and questions like this please visit the [official forums](https://forum.zephir-lang.com).

[2017-06-21 17:41] #1555 closed, assigned to nobody

[2017-07-13 21:31] Jurigag commented on #1245
Related https://forum.phalconphp.com/discussion/16527/toarray-method#C49535

[2017-07-15 05:21] laurenti opened #1557 "get variable value using dynamic name"
How to get variable value using dynamic name. If I use :

[code]

or

[code]

When build extension I get

 error.

I use PHP 7.0.20 and ZEPHIR both 0.9.8 and 0.9.9

[2017-07-19 13:12] shootzy opened #1559 "Memory leak in preg_match third parameter"
in php 7.1.7
[code]
[code]
in php 5.6.3 i have "Segmentation fault" with third parameter.

[2017-07-19 13:15] sergeyklay commented on #1559
@shootzy Could you please provide PHP version (TS/NTS), OS and Zephir version

[2017-07-19 13:27] shootzy commented on #1559
@sergeyklay
[code]
php 5 machine
[code]

[2017-07-19 19:31] sergeyklay commented on #1559
**Test:**
[code]

**The Code:**

[code]

**Result:**

[code]

[code]

[code]

[2017-07-19 19:31] #1559 closed, assigned to sergeyklay

[2017-07-19 19:44] sergeyklay commented on #1559
Refs: https://github.com/phalcon/zephir/issues/487

[2017-07-20 05:54] sergeyklay commented on #1557
Actually there is no ability to get value using dynamic name. I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-20 05:54] #1557 closed, assigned to sergeyklay

[2017-07-21 06:06] sergeyklay commented on #1544
Well, it is impossible for now to pass PHP code inside Zephir and then eval it with `__FILE__`.  I want to close this issue because I don't want a bunch of these lying around. If anyone wants to get started, I'd love that.

[2017-07-21 06:06] #1544 closed, assigned to nobody

[2017-07-21 06:14] sergeyklay commented on #1291
The `sizeof (char)` is required to be 1 (i.e. one byte), but a byte could in theory be for example 32 bits. **`sizeof` would still be report its size as `1`** - meaning that you _could_ have `sizeof (char) == sizeof (long) == 1`.

The `char` and `unsigned char` aren't guaranteed to be 8-bit types on all platforms — they are guaranteed to be 8-bit or larger. Some platforms have 9-bit, 32-bit, or 64

[2017-07-22 10:54] sergeyklay commented on #1547
The issue is:
[code]

This issue affected Zend Engine 3 only.

[2017-07-22 13:30] sergeyklay commented on #1547
Fixed in the version [**`0.9.10`**](https://github.com/phalcon/zephir/releases/tag/0.9.10). Thank you for contributing.

[2017-07-22 13:30] #1547 closed, assigned to sergeyklay

[2017-07-22 13:45] sergeyklay commented on #1546
Actually there is no ability to import a static library.  I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-22 13:45] #1546 closed, assigned to nobody

[2017-07-23 17:07] niel commented on #1291
I understand what is happening. I was reporting it as an issue because it isn't emulating the behaviour of C's char as expected.

[2017-07-24 05:53] sergeyklay commented on #1291
@niel I'll try to sort out

[2017-07-27 06:00] ilhanyumer opened #1564 "zephir build doesn't create a dll, instead opens configure.js in Notepad++"
I'm trying to build a dll file but it doesn't build any dll. I run this command: `zephir build`

Then the output is:
[code]
And then it opens the `configure.js` in Notepad++. http://i.imgur.com/vBQiWSn.png And it stays like this forever. If I close the Notepad++ it prints 2 more lines and there is no dll http://i.imgur.com/Hssuc2b.jpg

### Details

* Everything is 64bit
* Zephir Parser => enabled

[2017-07-27 22:45] sergeyklay commented on #1097
@fezfez

Zephir isn't a full copy of PHP. Particularly, it isn't a fully [dynamic language](https://en.wikipedia.org/wiki/Dynamic_programming_language). Though it supports some dynamic structures.

Often when you write your program on Zephir, the habit of programming in the manner of PHP only harms. You've faced exactly with a case in point. The problem here is the following:

When you write
[code

[2017-07-28 00:27] kse300489 commented on #1097
Ok. Pls add to documentation that elseif not supported. And beeter disable elseif in parser. This bug create much problems.

[2017-07-28 05:54] bsidhu009 opened #1565 "How to call native c++ function"
How can i call c++ function and return output in zephir function
here c++ function
std::string myoutput(const std::string& input)

[2017-07-28 05:55] sergeyklay commented on #1097
Actually there is no problem with control flow like `else if`. Please read carefully my answer.

[2017-07-28 11:17] kse300489 commented on #1097
No. This is problem, when code executed when it not must executed, it is exactly bug. If you can't do that `else if` currently working, convert it to nested `if`. Or disable in parser on show error when user use `else if`. I spent a lot of time with debugging and analyzing generated C code to find this bug.

[2017-07-28 11:38] sergeyklay commented on #1097
It is not a bug. It is a ugly coding style borrowed from PHP. Why do you call:
[code]

Are you sure that this is array? No. Why you do not use:

[code]

Actually it is language feature - attempt to optimize code before compilation. And please don't mix static and dynamic language approaches. Do you want to use dynamic approach? No problem, but Zephir does not support [Pattern Matching](https://en.

[2017-07-28 13:09] Jurigag commented on #1097
But what he talks about here @sergeyklay that else if condition shouldn't be executed at all if first condition is true. Just method is not ending after return point. Simple as that.

[2017-07-28 16:26] Ultimater commented on #1097
In my opinion, the only concern here is the PHP Notices. In production you'd simply disable them anyways. But nobody wants a PHP extension throwing notices. Honestly, let people write better zephir code so no notices are generated in the first place. Alternatively, it wouldn't be a breaking change if we simply revised the way zephir handles `elseif` to do such in a safer fashion so it doesn't thro

[2017-07-28 17:29] afbora commented on #1530
I got this error on Phalcon 3.2.0 today.
Its gone when i refresh the page 😕

[2017-07-28 17:53] sergeyklay commented on #1097
[code]

Do the magic without programming the programming language.

[2017-07-28 18:07] sergeyklay commented on #1097
Well, this is very tricky to fix, won't happen soon. If anyone wants to get started, I'd love that.

[2017-08-01 11:47] maybeTomorrow opened #1566 "error LNK2001: unlinked _zephir_greater_double"
i got  fatal error LNK1120; complier in windows

[2017-08-01 12:34] sergeyklay commented on #1566
Could you please provide code to reproduce?

[2017-08-01 13:52] sjinks commented on #1566
@sergeyklay I think this happens in ZE3 kernel:

[code]

That is, we have a forward declaration of `zephir_greater_double` and it is even used in `ZEPHIR_GT_DOUBLE`, yet we have no definition of `zephir_greater_double()` in the source.

[2017-08-01 13:56] sjinks commented on #1566
Quick fix:

[code]

[2017-08-01 14:25] sergeyklay commented on #1566
I'll try to sort out ASAP

[2017-08-02 02:34] maybeTomorrow commented on #1566
in order.zep.c

[code]

[2017-08-02 02:53] maybeTomorrow commented on #1566
and this in `operators.h`

[code]

[2017-08-02 02:58] maybeTomorrow commented on #1566
`zephir_less_double` is undefined in `operators.c` . also `zephir_greater_double`. this is the problem

[2017-08-02 04:47] sjinks commented on #1566
[code]

[2017-08-02 05:09] sjinks commented on #1565
It's not a good idea to call a C++ function from C.

[code]

and then call `output_wrapper()` from Zephir. It will be your responsibility to `free()` the return value when you no longer need it.

[2017-08-02 05:24] sjinks commented on #1520
[code]

`PHP_DEBUG` constant is available since PHP 5.2.7

[2017-08-02 09:22] #1565 closed, assigned to nobody

[2017-08-02 11:25] maybeTomorrow opened #1568 "i got a 50mb size dll file"
How do I compress DLL file sizes?

[2017-08-02 11:40] sergeyklay commented on #1568
Please provide steps to reproduce. What exactly happens to get dll

[2017-08-02 12:16] maybeTomorrow commented on #1568
maybe i complier too many files ,about 200+ . but the so file only 8mb in unix
step1 :zephir generate utils
step2:copy ext to  php source file/ext/utils
step3:configure --disable-all --enable-cli --enable-utils --disable-zts &&nmake

[2017-08-02 16:42] #1566 closed, assigned to nobody

[2017-08-09 16:04] sergeyklay opened #1570 "[NFR] IDE Stubs improvement"
_From @kornerita on August 8, 2017 13:35_

Hello,

Since Zephir it's both typed and dynamically typed language, the gen-stubs feature could use it to add the [phpdocs](https://www.phpdoc.org) for methods at least.

i.e. Zephir:

[Phalcon\Mvc\Application::useImplicitView](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L87)
[code]

Stubs generated (actual behavior):

[co

[2017-08-09 16:05] sergeyklay opened #1571 "[Bug] IDE Stubs generation errors"
_From @kornerita on August 8, 2017 13:55_

### Expected and Actual Behavior

Strings constants are not quoted and generates invalid php code.

i.e. [Zephir](https://github.com/phalcon/cphalcon/blob/master/phalcon/config.zep#L55)

Generated PHP:
[code]

Expected PHP:
[code]
### Details

* System info and versions (if possible): (`phalcon info`)
[code]
* Phalcon Framework version: (`php --ri phalcon

[2017-08-16 03:31] Tinywan opened #1572 "php7.1.8"
##  error
[code]

[2017-08-16 05:57] sergeyklay commented on #1572
Can you provide a bit more information and describe the error

[2017-08-16 06:16] Tinywan commented on #1572
@sergeyklay now Ok ,but cphalcon not build
+  PHP Version ： 7.1.8
+ [https://github.com/phalcon/cphalcon/issues/12476](https://github.com/phalcon/cphalcon/issues/12476)

[2017-08-16 07:50] sergeyklay commented on #1572
From the README:

[2017-08-16 07:50] #1572 closed, assigned to nobody

[2017-08-19 18:59] ghost commented on #1541
So there is actually no way to solve the problem??

[2017-08-25 08:40] malios opened #1573 "Operator 'concat-assign' is not supported for variable type: int"
Given the following code:

[code]

I get the following compiler error:

[code]

I think zephir compiler tries to cast a and b to integer which is odd, because php does do opposite for concat operations.

[2017-08-25 13:55] erickmajor opened #1574 "Adding PHP code import functionality"
I would like to know if there is a possibility to create a PHP code import option for zephir-cli.

In this way it would be easy to adjust PHP libraries for Zephir, in order to facilitate the process of encoding extensions.

Thanks for the attention.

[2017-08-26 13:59] sergeyklay commented on #1574
@erickmajor Which "PHP code import" do you mean? Could you please explain a bit more. Any examples and/or pseudo-code?

[2017-08-28 08:19] Tinywan opened #1575 "Fatal error: Uncaught Error: Call to undefined function Zephir\utf8_decode() in /home/www/zephir/Library/Compiler.php:2023"
### Phalcon
+ version 3.2.2
###  build
[code]

[2017-08-28 09:37] sjinks commented on #1575
http://php.net/manual/en/function.utf8-decode.php

You probably don't have XML Parser extension (php-xml)

[2017-08-28 10:03] #1575 closed, assigned to nobody

[2017-08-28 11:37] Tinywan commented on #1575
@sjinks
+  XML Parser extension  has install
[code]
+  php cli
[code]

[2017-08-28 11:44] sergeyklay commented on #1575
You have to install/enable xml extension:
[code]

[2017-08-28 11:46] sjinks commented on #1575
`php -m` should show `xml`, like this:

[code]

You may have it enabled for another SAPI (Apache, FPM) but not for cli.

[2017-08-28 11:48] sjinks commented on #1575
Hint: the file `/etc/php/7.0/cli/conf.d/15-xml.ini` should exist.

[2017-08-28 14:09] Tinywan commented on #1575
@sjinks @sergeyklay  Thanks, it is OK!
+  `sudo apt-get install php7.0-xml`
[code]

[2017-08-29 05:16] Tinywan opened #1576 "Segmentation fault (core dumped) ?"
[code]

[2017-08-29 05:19] Jurigag commented on #1576
Disable xdebug.

[2017-08-29 05:49] Tinywan commented on #1576
@Jurigag Thanks , It is OK!

[2017-08-29 05:49] #1576 closed, assigned to nobody

[2017-09-10 15:13] rodriguescr opened #1577 "Error on zephir build on hello world documentation exxample"
Bellow the return of the command:

[code]

[code]

est-gnote extension # cat compile.log

The code i'm trying to compile:

[code]

[2017-09-10 16:25] sjinks commented on #1577
What are the versions of autotools and automake on the system where you build the extension?

[2017-09-10 16:48] rodriguescr commented on #1577
Hi,

[code]

[2017-09-11 08:43] malios commented on #1573
I get similar compiler error for div-assign.
Code:

[code]

The code compiles if I replace variable num with a constant number.

[code]

[2017-09-13 11:39] sergeyklay commented on #1577
Can you check if you have **all the deps installed**?

* gcc
* make
* autoconf
* automake
* pkg-config

[2017-09-13 11:39] sergeyklay commented on #1574
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-09-13 11:39] #1574 closed, assigned to nobody

[2017-09-13 11:52] ninjapanzer commented on #1574
I believe @erickmajor is asking for a trans-pilation or conversion option. `PHP -> Zephir`

So that an existing PHP lib can be parsed and converted to Zephir automatically. I know I would personally like this functionality.

[2017-09-13 13:16] ninjapanzer opened #1578 "DocBlock Parsing Causes Failure to Build extension"
#### Versions
Zephir: `0.9.11-534bd284df`
Zephir-Parser: `1.0.3`

#### Sample
https://github.com/ninjapanzer/zephir_docblock_parse_failure_example

#### Expected behavior
Docblocks like
[code]
Will be parsed as is into the translated C files

#### Actual behavior
$ `sudo zephir build`
[code]
With the actual error being:
[code]

[2017-09-14 14:44] rodriguescr commented on #1577
Hi,

There's the output of the linux machine:

est-gnote gabriel # apt install gcc make autoconf automake pkg-config
Lendo listas de pacotes... Pronto
Construindo árvore de dependências
Lendo informação de estado... Pronto
autoconf is already the newest version (2.69-9).
automake is already the newest version (1:1.15-4ubuntu1).
gcc is already the newest version (4:5.3.1-1ubuntu1).
make is already

[2017-09-15 21:43] sergeyklay commented on #1577
@rodriguescr Which PHP version do you use?

[2017-09-18 14:37] rodriguescr commented on #1577
PHP 7.0.22-0ubuntu0.16.04.1 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.22-0ubuntu0.16.04.1, Copyright (c) 1999-2017, by Zend Technologies

[2017-09-18 17:00] erickmajor commented on #1574
Hello @sergeyklay and @ninjapanzer,

I apologize for the delay.

That's exactly what the @ninjapanzer said: I would like to get a code written in PHP and convert it to Zephir. In my case, I would like to convert a class with the namespaces feature, since it is mandatory for Zephir functionality.

[2017-09-18 18:10] Jurigag commented on #1574
There are exactly 3rd party projects which do this. The problem is zephir isn't 1:1 php. For example anynomous functions can't be written in zephir easily(we need separated class for it etc). Or there is no use keyword etc. For example there is this - https://github.com/fezfez/php-to-zephir

[2017-09-18 18:32] erickmajor commented on #1574
Thanks for the reply @Jurigag.

Not how to incorporate the @fezfez solution into zephir-cli?

[2017-09-18 18:45] Jurigag commented on #1574
Well we could focus on it some day, yea, but still, it won't be 1:1, not all functionallity will be working, like references or use keyword etc. Those are not possible in zephir atm, so we would need some brilliant workaround cuz i think it's somehow possible to refactor code to not use references or use keyword.

[2017-09-18 19:40] sergeyklay commented on #1577
🤔  interesting.. Actually as you can see there is no problem with [building / compiling / testing](https://travis-ci.org/phalcon/zephir). I have to dig in this a bit more.

[2017-09-18 20:12] rodriguescr commented on #1577
I'm using this directly in my Linux Desktop, if you want to, i can make a Skype or Teamviewer session with you to check.

Skype: gabriel_rodrigues1
Email: gabriel@modulotrestecnologia.com.br

Thx in advance.

[2017-09-22 05:51] wisegoodvin opened #1580 "Access to PHP $GLOBALS superglobal array"
Is it possible to organize access to the superglobal $GLOBALS array, as to $ _POST, $ _GET, and others?

[2017-09-22 08:22] wisegoodvin opened #1581 "Compilation error on 'zephir_bitwise_xor_function'"
I'm try to compile that code:
[code]
and after executing `zephir compile` i've got... nothing:

Preparing configuration file...
Compiling...

... and that error in `compile-errors.log`:
[code]
Then i try to `cd ext` and `nmake`, then i've got that error:
[code]

OS: Windows 7 x64
PHP: 7.1.6 x64
Zephir: 0.9.11 (git cloned 2017-09-21 from `development` branch)
Zephir parser: 1.0.3
VS: 2015 (cl.exe v

[2017-09-22 11:07] Jurigag commented on #1580
What you mean? From latest zephir it's organized - if you try access non existing super global then fatal error is thrown.

[2017-09-22 12:56] wisegoodvin commented on #1580
Really? I've got parser exception `Zephir\Parser\ParseException: Syntax error in D:\php\zephir\myext\app.zep on line 4` when i try to compile this:
[code]
I think this is another error.

My system:
OS: Windows 7 x64
PHP: 7.1.6 x64
Zephir: 0.9.11 (git cloned 2017-09-21 from development branch)
Zephir parser: 1.0.3
VS: 2015 (cl.exe version 19.00.23918, link.exe version 14.00.23918.0)

[2017-09-22 17:50] Jurigag commented on #1580
It should be `_GLOBALS` i think.

[2017-09-22 18:47] wisegoodvin commented on #1580
The same error - parser

[2017-09-29 09:29] chilimatic opened #1582 "using const in a class in a non-consecutive order throws a ParseException"
the parser throws an syntax error if const are not declared in an consecutive block
[code]

this works.
[code]

I know splitting consts with other parameters is ugly and I just ran into this error by accident.
At least if we're following the classic patterns and structures.

[code]
(this is an 1:1 adaption of the declarative CQRS, Redux (js) implementation of an action)

this for example is anothe

[2017-10-10 19:17] sergeyklay commented on #1582
This issue was moved to phalcon/php-zephir-parser#26

[2017-10-10 19:17] #1582 closed, assigned to sergeyklay

[2017-10-10 20:07] #1471 closed, assigned to nobody

[2017-10-11 12:08] sergeyklay commented on #1581
Fixed in the [latest stable release](https://github.com/phalcon/zephir/releases/tag/0.10.2). Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-11 12:08] #1581 closed, assigned to nobody

[2017-10-11 23:10] sergeyklay commented on #1580
@wisegoodvin Yes, there is no` _GLOBALS` support: https://github.com/phalcon/php-zephir-parser/blob/development/parser/scanner.re#L596-L637. Do we really need this in Zephir?

[2017-10-12 03:44] wisegoodvin commented on #1580
Ok, I probably did not wrote correctly:
What about access to Zend global symtable? Where PHP store their "global" variables.

Example:
index.php (main web server page)
[code]

But now in zephir i can't do this.
Later I will try to publish a snippet of the php extension code that it does.
Если опять не понятно выразился - могу на русском написать.

[2017-10-12 18:59] sergeyklay commented on #1578
@ninjapanzer Could you please provide compiler version?

[2017-10-12 19:06] sergeyklay commented on #1570
This is how `zephir stubs` works right now https://github.com/phalcon/ide-stubs/blob/master/src/Phalcon/mvc/Application.php#L56-L64
Closing. Thank you for contributting

[2017-10-12 19:06] #1570 closed, assigned to nobody

[2017-10-12 19:08] #1442 closed, assigned to nobody

[2017-10-15 21:09] Jurigag commented on #1345
@sergeyklay

[2017-10-21 18:57] sergeyklay commented on #1577
@rodriguescr Could you please provide `re2c` version

[2017-10-23 16:08] temuri416 opened #1590 "[BUG] phalcon.so segfault on Centos7, PHP7.1 and latest 3.3.x branch"
Hi,

I'm trying to run an application on Centos7, under PHP7.1 and Phalcon 3.3.x.

I'm seeing extremely unstable behaviour which results in segfaults in phalcon.so:

[code]

In this case crash happens very early in the app, during app modules setup. This is the class that's crashing it:

[code]

However, sometimes it goes past that point and after that crashes somewhere in MVC models.

I dumped th

[2017-10-23 16:17] temuri416 commented on #1590
Having removed `dbg`:

[code]

[2017-10-23 16:20] temuri416 commented on #1590
What's crazy is that I've been seeing segfaults much deeper in the execution stack - inside `afterDispatch` handlers.

I've been debugging those calls dozens of times, and then suddenly I started getting segfaults that early in the execution.

@sergeyklay Any thoughts?

[2017-10-23 16:59] sergeyklay commented on #1590
I'll try to sort out ASAP

[2017-10-23 17:00] sergeyklay commented on #1590
@temuri416 I need complete script to reproduce

[2017-10-23 17:06] temuri416 commented on #1590
Can we chat somewhere or exchange emails?

[2017-10-23 17:08] sergeyklay commented on #1590
Send me a mail please

[2017-10-23 17:14] temuri416 commented on #1590
sent to your @phalconphp.com box.

[2017-10-27 18:22] sergeyklay commented on #1578
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-10-27 18:22] #1578 closed, assigned to sergeyklay

[2017-10-27 18:24] sergeyklay commented on #1178
This issue was moved to phalcon/php-zephir-parser#30

[2017-10-27 18:24] #1178 closed, assigned to sergeyklay

[2017-10-27 19:24] sergeyklay opened #1591 "Compilation of cphalcon fails with gcc-7.2."
_From @Fisiu on September 19, 2017 19:14_

I'm trying to compile phalcon-3.2.2 with with the latest zephir-0.9.11 using gcc-7.2 however I have some issues. Here is a build log:
[phalcon-3.2.2-gcc-7.2.txt](https://github.com/phalcon/cphalcon/files/1315549/phalcon-3.2.2-gcc-7.2.txt)

Compilation of zephir didn't return any errors, but cphalcon.

[code]

_Copied from original issue: phalcon/cphalcon#

[2017-10-27 19:24] sergeyklay commented on #1591
There is no support yet for PHP 7.2. We'll plan to introduce 7.2 support in the Phalcon 4.0.0.

[2017-10-27 19:24] sergeyklay commented on #1591
_From @Fisiu on October 11, 2017 15:20_

I played around that issue. I build php-zephir-parser, invoked zephir compiler and passed generate option. Once C code has been generated, I tried to compile it and I get errors posted above.

However, if I try to compile extension directly from `build/php7/$arch` directory → it succeeds.

In both cases I used the same toolchain with gcc 7.2.

[2017-10-27 19:24] sergeyklay commented on #1591
Well, as I can see the first version of GCC 7.x was released on May 2, 2017. I did a little research and made sure that most of LTS OS don't use even the 6.x branch.  I'm sorry, but I want to close this issue for now. There are several reasons for this:

* This issue is related to [Zephir](https://github.com/phalcon/zephir) not Phalcon
* It would be rash right now to waste time to solve this (not

[2017-10-27 19:25] sergeyklay commented on #1591
@Fisiu Could you provide `re2c --version` output

[2017-10-27 19:48] Fisiu commented on #1591
@sergeyklay
re2c-1.0.2

[2017-10-27 22:13] sergeyklay commented on #1591
Gotcha! 😄
Try downgrade re2c.

For example:
[code]

[2017-10-28 13:57] sergeyklay commented on #1530
@php318 Could you change your code to:
[code]

and test it

[2017-10-28 14:08] sergeyklay commented on #1530
/ cc: @hakimio, @afbora

[2017-10-28 15:53] Jurigag commented on #1530
@sergeyklay i saw you are doing some tests with this, are you sure you are doing it on TS php? Beacause as i remember this is main issue, but not sure.

[2017-10-29 23:01] Jammmmm opened #1593 "Compiling Zephir file into C"
Is it possible to take a Zephir file (.zep) and convert to C source?

I have the Windows PHP extension (from https://github.com/phalcon/php-zephir-parser/releases/tag/v1.1.0), but I don't see any way of converting into C code.

If a Zephir binary is required, are there prebuilt Windows binaries available?

[2017-10-29 23:06] Jurigag commented on #1593
You need zephir parser https://github.com/phalcon/php-zephir-parser first to install and add it as extension to php.

To have just C source you need to do `zephir generate` after installing both zephir parser and zephir.

Zephir parser is just parser. It doesn't generate C code. This repo does that.

[2017-10-29 23:14] Jammmmm commented on #1593
As I said, I've added the extension to PHP, and I've tested to ensure that works fine (zephir_parse_file () works).

I don't have a "zephir" command though, which is why I was asking if a prebuilt Windows binary exists.

Is the only way to get this command to build php-zephir-parser from scratch?

Alternatively, and probably a better option, is there a function in the PHP extension to generate the

[2017-10-29 23:18] Jurigag commented on #1593
https://github.com/phalcon/zephir/blob/development/WINDOWS.md

Did you even care to read?

[2017-10-29 23:19] Jammmmm commented on #1593
I did read. The page details how to build the binary, hence why I asked "are there prebuilt Windows binaries available"

So no prebuilt Windows binary exists. Gotcha.

[2017-10-29 23:22] Jurigag commented on #1593
What you mean by windows binary? There is no binary of zephir at all. It's php code only + c code which is included in every extension(kernel) - this repo  + parser - zephir-praser repo.

Not sure what you mean by binary.

[2017-10-29 23:26] Jammmmm commented on #1593
"zephir generate" implies there's a command involved, which is why I initially thought it would need to be built.

I've checked the repo and have found a "bin" directory that contains "zephir" and "zephir.bat". I didn't know that zephir was not something that needed to be built, but instead was interpreted itself.

Sorry for the confusion.

[2017-10-29 23:26] #1593 closed, assigned to nobody

[2017-10-30 03:25] Tinywan opened #1594 "The Zephir Parser extension is not loaded"
zephir build

[code]
Has Install
![qq 20171030112513](https://user-images.githubusercontent.com/14959876/32153369-055e69a4-bd65-11e7-86b1-ebc072464c1e.png)

[2017-10-30 03:41] Tinywan commented on #1594
`sudo ln -s /opt/php-7.0.9/bin/php /usr/bin/php`

[2017-10-30 03:41] #1594 closed, assigned to nobody

[2017-10-30 08:41] Tinywan commented on #1572
Installl
[code]

[2017-10-31 10:15] pwtitle opened #1595 "How to loop SimpleXMLElement ?"
for ... in can't work with SimpleXMLElement？

My XML is :

[code]
when i use zephir language , the code is:
[code]

the run time error is:
[code]

but It's work very good in PHP code

[code]

* who can help me ? thank you very much ?*

[2017-11-03 08:26] 3amprogrammer opened #1596 "[BUG] Assignment to protected static property derived from Phalcon class causes segmentation fault"
More about an issue [here](https://forum.phalconphp.com/discussion/17219/why-assigning-to-a-static-property-causes-random-segmentation-fa#C52027).

Steps to reproduce:
1. Create new project using cli.
2. Create a simple class in library folder, that extends `\Phalcon\Tag`
[code]
3. Call `Tag::getUrlService();` anywhere, in my case inside `IndexController::indexAction`.
4. Use php build-in web serv

[2017-11-03 15:34] sergeyklay commented on #1596
@3amprogrammer Did you tried latest stable Phalcon? Also I need a Zephir version used to reproduce the issue.

[2017-11-03 19:45] 3amprogrammer commented on #1596
No, I haven't. I'll try it out and let you know. Probably on Monday as I have busy weekend.

[2017-11-04 23:21] stamster commented on #1596
You have xdebug. Have you tried to disable it to see if the problem persists?

[2017-11-05 09:17] sergeyklay commented on #1591
@Fisiu I've prepared a patch for Zephir Parser to work with re2c >= 1.0. Could you please reinstall Zephir Parser from [**`development`**](https://github.com/phalcon/php-zephir-parser/tree/development) branch?

[2017-11-07 04:13] NikoGrano opened #1598 "Can I call Phalcon functions from my extension?"
All in the header; "Can I call Phalcon functions from my extension?".

[2017-11-07 10:28] sergeyklay commented on #1598
https://github.com/phalcon/zephir/issues/304

[2017-11-07 10:28] #1598 closed, assigned to nobody

[2017-11-07 16:29] NikoGrano opened #1599 "=="
==

[2017-11-07 17:57] #1599 closed, assigned to nobody

[2017-11-10 06:12] sergeyklay commented on #1591
Fixed in the [latest stable release](https://github.com/phalcon/php-zephir-parser/releases/tag/v1.1.1) of Zephir Parser. Feel free to open a new issue if the problem appears again. Thank you for the report, and for helping us make Zephir Parser better.

[2017-11-10 06:12] #1591 closed, assigned to nobody

[2017-11-10 23:37] marcospassos opened #1601 "Build failing on OSX 10.12.06"
Hi folks!

I'm trying to compile an extension without success on OSX.

[code]

Any idea on how to fix it?

[2017-11-11 08:24] sergeyklay commented on #1601
Could you please provide versions:

* re2c
* gcc/clang
* make
* autotools
* autoconf
* automake
* pkg-config
* Zephir
* Zephir Parser

And second: Did you use Xcode?

[2017-11-11 08:29] sergeyklay commented on #1577
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-11-11 08:29] #1577 closed, assigned to nobody

[2017-11-11 21:40] sergeyklay commented on #1596
@3amprogrammer any news?

[2017-11-12 08:57] sergeyklay commented on #1573
Fixed in the [latest stable release](https://github.com/phalcon/zephir/releases/tag/0.10.6). Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-12 08:57] #1573 closed, assigned to sergeyklay

[2017-11-15 05:55] aiddroid opened #1604 "Duplicate extension key prefix in the global configuration"
Here is the config.json
[code]
but got "utils.utils.enable_cache" in phpinfo().
<img width="978" alt="phpinfo" src="https://user-images.githubusercontent.com/3241146/32821231-f2d9b916-c997-11e7-808b-f36ea378c770.png">

and after I removed the "utils" prefix from globals section in config.json, The key became "enable_cache" in phpinfo().It's very strange.
![image](https://user-images.githubusercont

[2017-11-15 06:11] aiddroid commented on #1410
In Zephir, extension globals are restricted to simple scalar types like int/bool/double/char, etc. Complex types such as string/arrays/objects/resources aren’t allowed here.

see the doc https://docs.zephir-lang.com/en/latest/globals.html

[2017-11-15 13:34] #1410 closed, assigned to nobody

[2017-11-19 05:00] xqkeji opened #1605 "class private property can not assign object"
[code]

output:
[code]

[code]

output:

[code]

php7.0.15 nts
zephir 0.10.6
win 10

[2017-11-19 09:21] sergeyklay commented on #1605
Variables are by default immutable. You have to use **`let`**:
[code]

[2017-11-19 09:44] xqkeji commented on #1530
@sergeyklay
I  test it, the error still exists.

[2017-11-20 07:44] xqkeji opened #1606 "php json_decode ($ str, 1) isset is invalid after passing to zephir"
post data:

[code]

php code
[code]

output data:

[code]

<p>zephir code</p>

[code]

<p>output data:</p>

[code]

<p>change the zephir code</p>

[code]

[code]

I use `json_encode` and `json_decode` the test is valid.

php7.0.15 nts
zephir 0.10.6
win 10

[2017-11-20 10:15] sergeyklay commented on #1606
@php318 Could you please provide PHP version, OS and Zephir version

[2017-11-21 01:37] xqkeji commented on #1605
@sergeyklay
My test code was wrong, sorry, the problem is there.

[2017-11-21 06:01] #1605 closed, assigned to nobody

[2017-11-23 10:03] NikoGrano opened #1608 "Build fails: error: invalid type argument of unary ‘*’ (have ‘zend_long {aka long int}’)"
Sorry, but I just don't get it what I have to fix...

[code]

[code]

[2017-11-23 15:55] Jurigag commented on #1608
First of all - zephir doesn't support references. So your code is kind of useless anyway atm.

[2017-11-23 16:17] #1608 closed, assigned to nobody

[2017-11-28 14:37] pentagonal opened #1609 "array_search invalid position when contain zero(int|string) value."
[code]

Using:
- zephir : [0.10.6](https://github.com/phalcon/zephir/tree/0.10.6)
- Linux Mint (Ubuntu)
- Php (CLI) `5.6`, `7.0`, `7.1`
- GCC `gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.5)`

No `extra-sources`, `prototype` or additional `C` files include.

even though the key for zero value has `A` it will be return key name `A` of zero value.

[2017-11-29 02:48] xqkeji commented on #1606
I found the 'https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view.zep' the number ocde 1060 that the same can not identify the php array.

 I must add code

[code]

php7.0.15 nts
zephir 0.10.6
win 10

[2017-11-29 22:28] flyingangel commented on #1580
You can try another approach
[code]

[2017-12-01 03:08] xqkeji commented on #1606
@sergeyklay
the zephir forum can't login.
the Phalcon forum cat't start a new dicussion.

When you are convenient, conifrm it.

[2017-12-04 00:32] flyingangel opened #1610 "Cannot login to Zephir forum"
Cannot login to forum using Github account. The OAuth login service return path to https://zephir-lang.com/forum instead of https://forum.zephir-lang.com/

Dead since September.

[2017-12-04 11:29] vovamedinsky opened #1611 "Cant find Phalcon VC15 for Php 7.2.0"
How can I create this, or where I can fird Phalcon vc15 x64 for php 7.2.0?
last updated phalcon_x64_vc14_php7.1.0_3.2.4.zip doesnt work. no ext in php info
I use TS version.

[2017-12-04 14:46] Jurigag commented on #1609
This is really strange, when removing 0 it works.

[2017-12-09 21:40] sergeyklay commented on #1606
This code:

`let params = json_decode(json_encode(params), 1);`

just gets all public vars from the object (if any) because here `params` is var (any variable type) not just array.

[2017-12-10 00:01] sergeyklay commented on #1609
@pentagonal
Actually as workaround you can use something like that:
[code]

I'll try to sort out as soon as I can

[2017-12-10 10:36] #1609 closed, assigned to nobody

[2017-12-10 10:37] sergeyklay commented on #1609
@pentagonal Could you please try development branch

[2017-12-10 12:27] sergeyklay commented on #1610
/cc @niden

[2017-12-10 12:28] sergeyklay commented on #1606
For forum login issue please use https://github.com/phalcon/zephir/issues/1610

[2017-12-11 06:41] sergeyklay commented on #1611
This issue was moved to phalcon/cphalcon#13206

[2017-12-11 06:41] #1611 closed, assigned to nobody

[2017-12-12 06:19] sergeyklay commented on #1610
Fixed for now. Thank you for contributing

[2017-12-12 06:19] #1610 closed, assigned to niden

[2017-12-13 04:41] vmohanraaj opened #1614 "zephir build : The Zephir Parser extension is not loaded"
I am using Ubuntu16.10 (64 bit), and I followed steps as per the documentation https://docs.zephir-lang.com/en/latest/tutorial.html .
Zephir version 0.10.6-0b7210d4f6

While
[code]
I am getting above message, And also I have installed **zephir-parser** as per the steps given in https://github.com/phalcon/php-zephir-parser. And I verified in phpinfo(), zephir-parser is loaded.

And my system config

[2017-12-13 06:33] sergeyklay commented on #1614
You have to install/enable Zephir Parser for CLI SAPI. Could you please provide output of:
[code]

[2017-12-13 14:11] vmohanraaj commented on #1614
Thank God and @sergeyklay.
Before that I got
 `admin@ubuntu:~$ php --ri "Zephir Parser"
Extension 'Zephir Parser' not present.`

Now added the line
[code]
to **/etc/php/7.0/cli/php.ini**.

Its now working.
You saved me lot.
Happy Zephir coding.
This answer will definitely helpful to many people in world for those who are all facing same kind of issue.

[2017-12-13 15:16] #1614 closed, assigned to nobody

[2017-12-15 09:40] shangxin2533 opened #1615 "save json to mysql error"
我的一个model类属性值为：
[code]
mysql中该字段的类型为json，保存到数据库时提示失败

[2017-12-15 13:01] sergeyklay commented on #1615
I'm sorry, I do not know Chinese

[2017-12-15 13:01] #1615 closed, assigned to nobody

[2017-12-23 21:41] sjinks commented on #1601
What is croct, and are there sources to look into?

[2017-12-28 10:50] chilimatic opened #1618 "class properties disappear if assigned a var that has no value assigned"
While I was implementing the transaction feature I notices a curious behaviour that happened in the unittests

a getter threw an exception that a defined property does not exist. I found my bug but I was curious. I tested if this is a behaviour that can be easily reproduced.

php 7.2 + zephir 1.0.7

2 classes:

TestCase:
[code]
and
[code]
invoked by
[code]

results in
[code]

the issue is
[code]

[2018-01-16 11:10] mattysj66 commented on #1530
Hey guys, what was the outcome to this bug?

I'm encountering the same issue on Windows and Apache 2.4 running PHP 7.1.1 and Phalcon 3.2.4

[2018-01-16 11:49] hakimio commented on #1530
@mattratcliffe86 Use nginx + php-fpm instead of Apache. There are some issues with thread safety of the extension.
https://www.progressivethink.in/on/administration/and/setup-nginx-and-php-on-windows/
https://docs.phalconphp.com/en/latest/webserver-setup#nginx

[2018-01-16 14:14] mattysj66 commented on #1530
@hakimio Thanks for that.

So this is specifically affecting the thread safe extension for Apache, just on Windows or is it Linux too?

[2018-01-16 14:17] hakimio commented on #1530
@mattratcliffe86 It's effecting both windows and linux thread-safe extensions.

[2018-02-04 19:27] Pilsenerek commented on #1530
I have the same problem:
Phalcon 3.3.1
System Win7
PHP:
- version 7.2
- tread safe enabled
- architecture x86
- compiler MSVC15

It occurs especially when there are many requests in the same time or fast one by one in row.

[2018-02-04 19:32] hakimio commented on #1530
@Pilsenerek
Its's an old well-known issue. See the following: https://github.com/phalcon/cphalcon/issues/12056

[2018-02-07 04:14] zjsxwc opened #1620 "is there a way to run zephir code without php？"
I like the grammar of zephir lang.
is there a way to compile zephir code and then generate executable file, not just only write extensions for PHP?

[2018-02-07 06:17] sergeyklay commented on #1620
We plan to introduce this in in future. But now there is no way to run zephir code without php

[2018-02-07 06:17] #1620 closed, assigned to nobody

[2018-02-27 10:03] sergeyklay commented on #1530
I'm going to solve this issue so I need code to reproduce guys. Could someone provide a worked (badly) example?

[2018-02-27 13:27] hakimio commented on #1530
@sergeyklay It's rather easy to reproduce the issue. You just need to run phalcon Thread-Safe extension with Apache on Windows (some people reported the issue on Linux as well but I've never tried running Phalcon TS on Linux personally) and then just make a large number of parallel requests (shouldn't need more than a 100) to a single end-point which does some simulated work ("usleep(100000)" shou

[2018-03-01 09:10] sergeyklay commented on #1530
I need to locate problem. So it is too complex to use full framework to debug this. Actually I need an example as small as possible

[2018-03-01 09:24] hakimio commented on #1530
Maybe then create a simple Zephir extension, compile it with TS and use pthreads to check if it is actually thread safe?

[2018-03-01 21:58] mattysj66 commented on #1530
@sergeyklay

Quick and dirty way to reproduce the error...
[ptest.zip](https://github.com/phalcon/zephir/files/1772923/ptest.zip)

I've created a controller 'reload' which just reloads the page a given number of times and increments the value in the url segment by 1 each time. I'm redirecting, which is what I did when I first encountered the problem. Same thing occurs when you use $response->redir

[2018-03-02 13:59] zacek opened #1621 "require statement breaks local variable scope"
There is some problem in the code zephir generates for requirement statement in PHP 7. Local variable values overwrite global variables when require statement is used (the required file can be empty).

Minimalistic example is attached. The render method in the example extension class is inspired by Phalcon\Mvc\View\Engine::render(). Thus, this bug causes problems with volt template rendering in Ph

[2018-03-08 10:44] xEsk opened #1622 "ZEPHIR_CALL_CE_STATIC_ZVAL is missing in ZendEngine3"
The **ZEPHIR_CALL_CE_STATIC_ZVAL** macro is missing in **fcall.h** (ZendEngine3), causing this error when trying to execute the extension:

I'm using the latest zephir (development) version.

[2018-03-18 14:47] mruz opened #1623 "Invalid superglobal for _POST"
[code]

I'm getting `Invalid superglobal`:
[code]

It was working few zephir versions before
[code]

[2018-03-18 16:25] sergeyklay commented on #1623
@mruz Could you please provide worked Zephir version / commit

[2018-03-18 17:04] mruz commented on #1623
It was working on this one https://github.com/phalcon/zephir/commit/a5f585482bf9c1f6a37d8162936765ebb3d9bfea. I haven't tested later versions, just the latest one.

[2018-03-19 18:14] ger-hard opened #1624 "In variable initialization you could not concatenate strings directly"
When I run a zephir build, I got the message:

Unknown type: concat

But no file, or line where this issues occurs. Is there a way to add more output to the compiler so it's easier to find the statement which causes this error?

Kind regards,

Gerhard

Run the compiler on an Ubuntu vagrant on OSX, zephir version: 0.10.7-2917ebe8ae

[2018-04-01 18:38] flyingangel opened #1625 "Static call doesn't refer to the called class"
Example : https://stackoverflow.com/questions/5197300/new-self-vs-new-static

When using `new static()`, the returned object class should be the child class, not the parent class.

Zephir doesn't recognize the difference between `static` and `self`

[2018-04-02 06:55] etki opened #1626 "[Feature Request] Flexible naming"
Hi!

Currently naming in configuration acts a little bit counterintuitively

### Namespace has to be specified in lower case, otherwise nothing will compile

This may be different on windows, but linux fs is case-sensitive. This happens if i try to set my namespace to `AmaTeam` instead of `amateam`:

[code]

.c / .h files are generated in same case (`php_AmaTeam.h`), but injected as lowercase (`#i

[2018-04-02 07:06] etki opened #1627 "[Feature Request] Flexible directory structure"
Hi!

Currently Zephir forces fixed directory structure that may lead to some perfectionist starvation:

- Zephir forces to replicate namespace structure as directories, forcing developer to have extra complexity in their project and preventing from placing .zep files right next to their PHP counterparts
- Zephir forces sources location next to config.json (while most projects store their configura

[2018-04-02 07:47] sergeyklay opened #1628 "Why does the compiler(parser) not give an error or warning if an abstract method(function) is not implemented by a subclass"
_From @ger-hard on February 22, 2018 16:13_

### Expected and Actual Behavior
When the class B in Zephir (which inherits from an abstract class A)vhas to implement at least one abstract methods, gives now at runtime the error:

"Cannot instantiate abstract class B"

What I expect that during the build the compiler(parser) will notice, or even gives an error which tells me that
1 - Class B must be

[2018-04-02 19:35] flyingangel opened #1629 "Variable type char to string conversion give compilation errors"
The following code will generate errors at compilation due to type char to string conversion. Also `(char)` cast will throw an unknown type error.

[code]

[compile-errors.log](https://github.com/phalcon/zephir/files/1869123/compile-errors.log)

[2018-04-09 07:28] sergeyklay commented on #1624
@ger-hard Could you please provide code to reproduce?

[2018-04-09 08:03] sergeyklay commented on #1622
@xEsk Could you please provide minimal code to reproduce

[2018-04-09 18:41] ger-hard commented on #1624
I (already) found the solution in the

Library/Exception/ExceptionExtraAwareTrait.php on line 48.

        $extra = $this->getExtra();

I replaced that line with:

       $extra = $this->getExtra();

        if( !isset( $extra['file'] ) && isset($extra['expr'] ) )
        {
            $extra = $extra['expr'];
        }

The $this->getExtra() structure in the Exception thrown in line 1440 of Libra

[2018-04-09 21:37] sergeyklay commented on #1624
@ger-hard Is there any code to reproduce that? :)

[2018-04-10 13:09] xEsk commented on #1622
[code]
Simple test code:
[code]

[2018-04-14 08:50] sergeyklay commented on #1623
@mruz I was managed to reproduce this issue

##### Code

[code]

##### Tests

The `$_POST` superglobal exists:

[code]

The `$_POST` superglobal does not exist exists:

[code]

Generated code for PHP 7.2.1
[code]

[2018-04-14 09:59] Jurigag commented on #1623
Not sure, but maybe it's about cli?

[2018-04-14 10:01] sergeyklay commented on #1623
@mruz Well, there is no $_POST superglobal. Should we trigger E_USER_NOTICE instead?

[2018-04-14 10:03] sergeyklay commented on #1623
/cc @hufersil @phalcon/zephir-team

[2018-04-14 10:29] mruz commented on #1623
Hmm, manual is saying it is superglobal http://pl1.php.net/manual/en/reserved.variables.post.php#refsect1-reserved.variables.post-notes

[2018-04-14 10:31] Jurigag commented on #1623
Maybe you have for some reason enable_post_data_reading set to 0?

[2018-04-14 10:40] mruz commented on #1623
No, I have a default value `var_dump(ini_get('enable_post_data_reading'));`

[2018-04-14 11:15] sergeyklay commented on #1623
@mruz

In PHP but not in Zephir. Anyway even for PHP it is untruth as you can see:
[code]

Just created a small workaround #1630. Could you please take a look?

[2018-04-14 14:21] sergeyklay commented on #1623
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2018-04-14 14:21] #1623 closed, assigned to sergeyklay

[2018-04-14 14:23] sergeyklay opened #1631 "Refactor AppVeyor builds for Zephir project"
We can use Phalcon as example:  https://github.com/phalcon/cphalcon/blob/master/appveyor.yml

[2018-04-15 18:56] flyingangel opened #1634 "Boolean variable casting from different type"
Request enhancement (since it's not an official feature in the documentation)

One syntax that we use a lot daily in development :

[code]

One is a boolean cast. Other is to check for not empty value ("0" included).
The compiler will throw the following error : `Unknown type: string in ...`
I believe other types other than string will not work too.

Note that the following syntax will work : `if

[2018-04-15 21:39] sergeyklay commented on #1634
Well, how about `empty(str)` ?

[2018-04-16 05:28] sergeyklay commented on #1631
Closing, this is implemented.

[2018-04-16 05:28] #1631 closed, assigned to sergeyklay, AlexNDRmac

[2018-04-16 05:35] sergeyklay commented on #1564
I apologize @ilhansubasi for completely overlooking this. Thank you for your report. FYI: I'm not a Windows user so often I find it hard to understand how to reproduce the issue. But now I have a Windows system and I hope things will go better. Is the issue still actual for you? So thanks again for the report, and again I am sorry about the delay.

[2018-04-16 05:37] sergeyklay commented on #1282
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-04-16 05:37] #1282 closed, assigned to nobody

[2018-04-16 05:38] sergeyklay commented on #1590
@temuri416 Is issue still actual?

[2018-04-16 15:35] #1590 closed, assigned to sergeyklay

[2018-04-16 18:20] sergeyklay commented on #1629
@flyingangel Why do we need transform particular data type to another one? At least using such unobvious way. As I know there is no issue when we use `var ch;` (**var**iable data type). Right?

[2018-04-16 21:04] sergeyklay opened #1636 "Tests under FreeBSD"
Refs: https://github.com/phalcon/cphalcon/issues/12473

[2018-04-17 07:56] symfonyluxury opened #1638 "Memory constantly increase"
I got memory leak issue by running  official greeting sample as test:
`php -S localhost:8000`
`ab -n 10000 -c 1 http://localhost:8000/greeting.php`
the mem used in `free -m`  was constanly increased, it seems like never release the memory
How to resolve it? please help ...
**enviroment:**
centos6.8
php-5.6.28
zephir-parser-1.1.2
zephir-0.10.8

[2018-04-17 11:29] sergeyklay commented on #1638
@symfonyluxury We'll need a PHP script to reproduce. Also please provide Zephir code. And lastly do you see the same results on PHP 7.x ?

[2018-04-17 11:34] sergeyklay commented on #1580
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2018-04-17 11:34] #1580 closed, assigned to nobody

[2018-04-17 16:07] symfonyluxury commented on #1638
just the same to official sample code ....
**zephir:**
[code]
**php**
[code]
yes, I've tested in PHP7.2, its fine,theres no memory problem

[2018-04-17 16:13] symfonyluxury commented on #1638
its standard code, i guess hard to determine, would you suggest me some tool to detect the memory leak?

[2018-04-17 19:50] sergeyklay commented on #1638
Usually we use valgrind for that https://github.com/phalcon/zephir/blob/development/.travis.yml#L91-L102 to detect the memory leak.

[2018-04-17 19:54] sergeyklay commented on #1601
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-04-17 19:54] #1601 closed, assigned to nobody

[2018-04-22 09:51] flyingangel commented on #1634
That could work. Still `!!` is preferred over `empty(empty())`. It's also a C implementation.

Also when we use an external function in zephir, the compiler force us to use a `var` type variable
`Returned values by functions can only be assigned to variant variables`

Would be nice to do a cast

[code]

or direct implementation

[code]
The aim of zephir is to achieve the maximum speed so little de

[2018-04-22 11:04] flyingangel commented on #1629
Indeed, `var` type will pass the compiler.

Just want to point out that there's a problem when trying to **store the `uchar` or `char` type in an array** as in :
[code]
But our `ch` is defined as `char` so it's probably one of the cause.
But if I declare `uchar ch;` or a cast `(uchar) keyspace[nb]` the compiler will refuse

Note that I consider this bug because it forces me to declare `var ch;` in

[2018-04-22 16:21] symfonyluxury commented on #1638
here it is:
[code]

[code]

any clue? **"definitely"** is that mean memory leak?

[2018-04-22 17:51] flyingangel opened #1639 "Allow nullable parameter"
Like disabling automatic conversion `string! text` https://docs.zephir-lang.com/en/latest/oop.html#strict-flexible-parameter-data-types

Automatic conversion failed for `array`, maybe we can allow nullable parameter?
`function myfunc(array? arr) -> array?`
http://php.net/manual/fr/migration71.new-features.php

[2018-04-24 04:47] sergeyklay commented on #1638
Yes, but all of this - Zend Engine and / or PHP leaks. There is no Zephir functions. Also `???` in the report means that you're use non-development version of the PHP.

[2018-04-24 11:14] Jurigag commented on #1638
You need to provide valgrind log from php-dev and zephir extension build using zephir builddev.

[2018-04-24 14:52] stijn1989 commented on #1530
I still have this error (Phalcon 3.3.2 with PHP7.2) when the app performs two ajax requests at the same time. If I perform the first ajax call and 500ms later I call the second ajax, it works.

[2018-04-24 15:58] Jurigag commented on #1530
@stijn1989 just read previous posts, it's because your php is working as thread safety extension. @sergeyklay wants to solve it so have fingers crossed.

[2018-04-24 18:14] sergeyklay commented on #1596
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-04-24 18:14] #1596 closed, assigned to nobody

[2018-04-24 18:28] sergeyklay commented on #1568
I want to close this issue because I don't want a bunch of these lying around. I'd like to know what happens on Windows too, but keeping the issue open doesn't answer to question and doesn't determine the real issue (if any). If anyone wants to get started to investigate, I'd love that. I propose to continue this discussion at the specialized forums dedicated to optimizing compilation PHP (and ext

[2018-04-24 18:28] #1568 closed, assigned to nobody

[2018-04-26 11:01] symfonyluxury commented on #1638
i guess theres some problem in startup / module init stage:
[code]
when I comment zephir extension (mention above,but remain zephir_parser.so),theres no memory leak report

[2018-04-26 21:34] sergeyklay commented on #1622
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2018-04-26 21:34] #1622 closed, assigned to sergeyklay

[2018-04-27 08:26] xEsk commented on #1622
Great! Good job! :)

[2018-05-07 04:50] sergeyklay commented on #1404
Fixed in the `development` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2018-05-07 04:50] #1404 closed, assigned to AlexNDRmac

[2018-05-07 09:38] sergeyklay commented on #1571
@AlexNDRmac There also some issue with variables like:

_Zephir_
[code]

Note: The generated stub should have code like:

_PHP_
[code]

#### `"` => `'`

[2018-05-08 09:49] #1431 closed, assigned to nobody

[2018-05-16 05:04] sergeyklay commented on #1571
Fixed in the `development` branch.

[2018-05-16 05:04] #1571 closed, assigned to AlexNDRmac

[2018-05-24 10:09] AlexNDRmac opened #1650 "Unnecessary DocBlocks for IDE-Stubs"
Bug with generation IDE Stubs
See details in Conversation: https://github.com/phalcon/ide-stubs/pull/9

Example (Zephir code):
[code]
Instead of producing:
[code]
Instead, it should be:
[code]

[2018-05-24 17:54] sergeyklay commented on #1650
Fixed in the `development` branch.

[2018-05-24 17:54] #1650 closed, assigned to AlexNDRmac

[2018-05-28 09:36] jiujiucheng opened #1652 "zephir build problem"
when i use **zephir build** ，the problem happens:

PHP Fatal error:  Cannot declare class Phalcon\Di, because the name is already in use in /opt/src/zephir/prototypes/phalcon.php on line 4

Fatal error: Cannot declare class Phalcon\Di, because the name is already in use in /opt/src/zephir/prototypes/phalcon.php on line 4

any one help me to fix it?

[2018-05-28 15:37] danhunsaker commented on #1652
I'll be submitting a fix for this soon. What's going on is you're somehow loading the compiler twice (at least), and it's using a `require` where it should be a `require_once`. I'm not sure how this would come about in a regular `zephir build`, but with any luck it should be fixed fairly soon.

[2018-05-29 04:17] jiujiucheng commented on #1652
I found the compiler.php  on line: 862
[code]
when i change _require_  to _require_once_,it is not working. so i check my php extension,

[code]
It is **phalcon7** but not phalcon ,it is so confusing ... @danhunsaker ,shout it be a bug to fix?

[2018-05-29 09:18] sergeyklay commented on #1652
@zhangyaohui1986 The `phalcon7` is not an official Phalcon Framework. Just disable it or create your own `phalcon7.php` optimizer

[2018-05-29 09:18] #1652 closed, assigned to nobody

[2018-06-09 23:07] danhunsaker opened #1656 "Compile Type Hints?"
PHP has supported type hinting function arguments for some time, now, and Zend Engine has supported the same hints in extensions for just as long. Zephir has implemented support for the non-scalar types supported in PHP 5.x, and these work fine. But it currently _doesn't_ export _scalar_ or _return_ type hints (supported since PHP 7.0) at all, so userspace classes that extend or implement extensio

[2018-06-10 20:37] sergeyklay commented on #1656
/cc @phalcon/zephir-team

[2018-06-21 20:17] tumour opened #1657 "Error build"
Здравствуйте Сергей, извините, что на русском языке, я с ошибками пишу на английском).
Вообще у меня проблемы установки zephir.

The Zephir Parser extension is not loaded.
Note: Zephir no longer distributed with internal parser.

To install latest stable Zephir Parser please refer to:
https://github.com/phalcon/php-zephir-parser

Постоянно пишет эту ошибку. Расширение Zephir Parser стоит. В phpinf

[2018-06-21 20:24] #1657 closed, assigned to nobody

[2018-06-22 13:12] sergeyklay commented on #1657
@tumour Я почти всегда обитаю в нашем Discord чатике. Если есть срочный вопрос, можно связаться через https://phalcon.link/discord

[2018-06-23 14:47] #1638 closed, assigned to nobody

[2018-06-23 15:37] niden commented on #1656
I am by no means an expert in C and how PHP internals work, so thank you for this explanation!

It is unfortunate that this automatic coercion happens, I would have loved this not to be the case.

However I think we can leave this as is and ensuring that whoever wants strict types, will have to use `declare(strict_types=1)` at the top of their PHP file.

`Is it even desired to export these type hi

[2018-06-29 21:45] sergeyklay commented on #1656
Hello @danhunsaker,

Thank you for raising this issue. Sorry it took this long.

The meaning of _export_ is too extensive. First I want to understand exactly what do you mean saying _zephir export something_. I'm afraid that your opinion about the whole language results from using specific tools  for your tasks. For example, the `zephir stubs` (the IDE stubs generation tool) command could lead you

[2018-06-29 22:19] danhunsaker commented on #1656
I'll use your examples and try to explain from there.

The proposed feature I've been building uses `ZEND_BEGIN_ARG_WITH_RETURN_TYPE_INFO_EX`, when applicable, to tell PHP this method returns a `string` in all three of these cases:
[code]
It then, additionally, uses `ZEND_ARG_TYPE_INFO` to tell PHP this method expects a `string` argument in this case:
[code]
The current issue comes along in this c

[2018-06-29 22:34] sergeyklay commented on #1656
Got it :) Well, we can drop any old macro of course. Many of the things we use were chosen solely because of compatibility with Zend Engine 2.x. But as you know we plan to drop support of PHP 5. So yes, we can improve type control through the introduction of specialized ZE macros. This work should lead to the release of the major version. I'm still not sure about Zephir 1.0.0 but anyway we should

[2018-06-29 22:44] danhunsaker commented on #1656
I see I wasn't _quite_ clear enough. `ZEND_ARG_TYPE_INFO` is what I'm adding in my proposed feature (#1658), because it's not already in place.

The question here is whether to use `ZEND_ARG_TYPE_INFO` when the Zephir type is strict, allowing PHP to coerce the value to the desired type just as it would with a non-strict type hint? Or to continue to use `ZEND_ARG_INFO` instead, for strict types, so

[2018-06-30 07:21] piotrkardasz opened #1659 "CBlock How to call function from dll Windows"
I would like to know it's possible to call any function from dll like this?

and next question is how to declare functions in cblock which returns string from dll function because when i try to #include <string> compiler throw errors.

[code]

[2018-06-30 07:55] sergeyklay commented on #1656
Right now there is Zephir's type checking with using the ` ! ` sign. We can completely rely on ZE type checking with using PHP >= 7.0. But note, in this case we'll may need to drop our type checking to avoid doing this work twice. There are also some types like `uint`, `ulong`, `char`, etc which do not exist in ZE, so we'll need to sort out with these types. I'm not against the introduction any ZE

[2018-06-30 08:14] sergeyklay commented on #1659
To call any c-function you can embed c-code in tags, like so: `%{ // c-code }%.` (check https://github.com/phalcon/zephir/blob/master/test/cblock.zep as an example). A bit more elegant, but also more work, are custom optimizers. An ‘optimizer’ works like an interceptor for function calls. An ‘optimizer’ replaces the call for the function in the PHP userland by direct C-calls which are faster and h

[2018-06-30 12:19] piotrkardasz commented on #1659
Thanks for reply I'm trying to build optimizer like in docs.
But while i trying do that php while parse test.php crash
Please, Could You look at
https://github.com/piotrkardasz/zaphirsimple.git
PHP 7.1.19 (cli) ( NTS MSVC14 (Visual C++ 2015) x64 )@W10
test.php throw this or crash it look like variable overflow problem?
`start
0
-685785296
end`

[2018-06-30 18:42] sergeyklay commented on #1659
@piotrkardasz  The main mistake is to pass `zval` as `int` . Just fixed your example.

##### `ext/my-fibonacci.c`
[code]

##### `ext/my-fibonacci.h`
[code]

##### `optimizers/FibonacciOptimizer.php`
[code]

##### `samples/math.zep`
[code]

#### Output

[code]

[2018-06-30 18:46] sergeyklay commented on #1659
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the Zephir Language, support requests, and questions like this please visit the [official forums](https://forum.zephir-lang.com).

[2018-06-30 18:46] #1659 closed, assigned to nobody

[2018-07-01 00:30] Jurigag commented on #1656
Well i think if we could use something from PHP CORE - then let's use it, less chances that something will go wrong. But still, other features which zephir are offering but are absent in PHP are still nice addition.

[2018-07-01 19:38] danhunsaker commented on #1656
OK, so I'll have Zephir use `ZEND_ARG_TYPE_INFO` for strict types as well as regular ones, and leave everything else alone so that Zephir can still handle strictness for Zephir-to-Zephir calls.

At the moment, I have it telling PHP that a value `IS_LONG` when it's an int-compatible type, `IS_DOUBLE` for double-compatible types, etc, so that's how we're handling types that aren't in ZE.

I'll need

[2018-07-02 04:49] danhunsaker commented on #1656
All tests passing, so looks good. Unless there are further comments/objections, I think we can merge that and close this. :slightly_smiling_face:

[2018-07-02 23:04] jgmdev opened #1660 "Segmentation fault when using $return_value"
If declaring a function that returns bool with a return variable named $return_value the generated extension crashes.

[code]
It seems the generated code conflicts with the return_value variable declared by the zend engine for all functions. Took me a long debugging session to figure this out...

[2018-07-03 05:35] danhunsaker commented on #1660
Oops. Yeah, that would certainly cause issues. Time to decide how to handle this one.

- Forbid using that variable name, as a reserved keyword.
- Detect variables with that name, and rename them internally.
- Throw a warning that there's a conflict there, but allow it anyway, in case the user knows the value's purpose and wants to take advantage of it being exposed.
- Some combination of those, p

[2018-07-03 07:27] unti1x opened #1661 "Actualize documentation"
Installation section is outdated, no information about parser extension (but there is in readme).
Probably some features are outdated too or just missing, need to check docs out.

[2018-07-03 19:09] marcelto commented on #1564
I have this same issue running PHP 7.2.7 nts, Windows 10 x64, zephir 0.10.10, Visual Studio 2017.

[2018-07-03 19:34] marcelto commented on #1564
Got past this with the following [https://www.winhelponline.com/blog/error-there-is-no-script-engine-for-file-extension-when-running-js-files/](https://www.winhelponline.com/blog/error-there-is-no-script-engine-for-file-extension-when-running-js-files/).  Ran into bison is required error only becuase I forgot to run `%PHP_SDK%\bin\phpsdk_setvars`.  Afterwards the dll generated.

[2018-07-04 04:56] #1656 closed, assigned to nobody

[2018-07-04 05:00] #1564 closed, assigned to sergeyklay

[2018-07-04 05:47] cyberhck opened #1662 "splat operator"
I can't define (or at least I don't know how) to declare function with splat operator.
consider the following PHP function:
[code]

is there anyway to do similar in zephir? if I do `...`, zephir throws error.

[2018-07-04 05:52] danhunsaker commented on #1662
Variadic arguments aren't supported, yet.

[2018-07-04 12:23] jgmdev commented on #1660
I think the best option would be the second one "Detect variables with that name, and rename them internally."

[2018-07-16 07:45] zacek commented on #1621
I've added workaround for `\Phalcon\Mvc\View\Engine\Volt` to https://github.com/phalcon/cphalcon/issues/12176

[2018-07-16 08:02] sergeyklay commented on #1621
@zacek Could you please explain a bit more. Is there any code example?

[2018-07-16 09:06] zacek commented on #1621
This defect affects the Phalcon volt template engine - variables assigned in the template, e.g.
[code]
overwrite local `$param` variable when the page gets rendered.

As this defect seems to be quite difficult to fix I've published my workaround in the related defect for those who need the fix ASAP. The fix is just to move the problematic code (method `render()`) from Volt class in zephir to PHP.

[2018-07-16 09:17] zacek commented on #1621
the code of the extended class is in my last comment to this defect: phalcon/cphalcon#12176
I've mentioned it here just for completeness as this defect (in zephir) is the root cause of the problem in the Volt class (in cphalcon).

[2018-07-20 18:40] sergeyklay commented on #1621
As I know @AlexNDRmac tries to sort out in these days.

[2018-07-23 18:41] DaveM2011 opened #1664 "Win32 Building"
Hey i just spent 2 days creating a powershell script so u can build with ease it does the following

- Gets the deps php,sdk,devpack,zephir,zephir_parser
- Places them in ..\build dir
- Edits the ini adding the extensions i presume this could be customized
- Sets the enviroment up for x64 build
- Compiles your extension

Free to use & edit i know its going to save me tons of time
https://gist.gith

[2018-07-24 22:18] sergeyklay commented on #1664
@DaveM2011 Looks great! Could you add it as a good PowerShell example to the [WINDOWS.md](https://github.com/phalcon/zephir/blob/development/WINDOWS.md) file?

[2018-07-24 22:19] DaveM2011 commented on #1664
Sure i will pretty it up i made a few changes for myself i think would benifit from it also

[2018-08-02 04:36] sayonara90s commented on #1564
I have this same problem. @marcelto 's solution doesn't work for me. Makefile still not found. I hope this error is last.

[2018-08-04 14:19] sergeyklay commented on #1656
@danhunsaker
I just compiled current Phalcon using commands from the phalcon/cphalcon project root as follows:
[code]
__PHP version__
PHP 7.2.1 (cli) (built: Feb  8 2018 17:01:26) ( NTS DEBUG )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.2.1, Copyright (c) 1999-2017, by Zend Technologies
    with Xdebug v2.6.0, Copyri

[2018-08-04 16:32] danhunsaker commented on #1656
Yeah, PHP requires consistent type hints between classes and their parent classes/interfaces. Which means Phalcon will need to be updated to address those inconsistencies.

[2018-08-04 17:37] sergeyklay commented on #1656
Well, we can do this in Phalcon for 4.0.x branch only. So I'll cherry pick some commits from the current Zephir's `development` branch to create a minor (patch) release without type casting/hinting

[2018-08-07 17:10] Jurigag commented on #1621
@AlexNDRmac any progress ?

[2018-08-08 13:16] AlexNDRmac commented on #1621
Yes... I have some little progress. Now I trying to implement symbol table.

[2018-08-09 13:53] mruz commented on #1471
So why we separated them if there isn't user-friendly solution?
How about if we have composer package for the parser? and in zephir's composer.json specify the version in the require `"phalcon/php-zephir-parser": "1.1.2"` which should install the parser.
Then we won't need "install_zephir_parser.sh" on zephir/phalcon/ice etc.

[2018-08-10 18:12] marcelto commented on #1564
@mixinix check for Windows settings and ensure .js files are set to open with the Microsoft Windows Based Script Host.  I did this prior to running the registry fix.  Also, since this is Windows we're talking about, rebooting after your changes may not be a bad idea.

[2018-08-17 08:59] sergeyklay commented on #1471
@mruz anyway  in this case we'll need call some script to install parser from using composer hooks. Right? Also this may require root privileges.

[2018-08-17 15:23] mruz commented on #1471
yes, something like that should work:
[code]
I think it will ask for root password if needed.

[2018-08-18 16:18] flyingangel commented on #1661
https://github.com/phalcon/zephir-docs/pull/79
English only atm

[2018-08-20 13:43] sergeyklay commented on #1471
Actually I'm pretty sure this will not simplify the task. The provided `post-install-cmd` will work for Linux but not for Windows. Think about it this way: I need to install the software (dependency) _once_ to install Zephir. For example, I need to install Java as dependency to be able to install PhpStorm.

[2018-08-20 14:02] sergeyklay commented on #1661
This issue was moved to phalcon/zephir-docs#80

[2018-08-20 14:02] #1661 closed, assigned to nobody

[2018-08-21 13:30] mruz commented on #1471
In my opinion even if it's only for Linux it's worth simplifying. It will cover TravisCI too. How about https://github.com/phalcon/zephir/issues/1471#issuecomment-291013327?

[2018-08-21 22:08] danhunsaker commented on #1471
Composer requirements include a way to require extensions. Just adding `ext-zephir_parser` will remind users to install the extension if they haven't already.

As for the install script we use in test environments, moving that to a different repo would be more maintainable, for sure. Then we just change the test code to grab the latest install script from GitHub (stable branch, of course) before r

[2018-08-23 15:49] hellobbq opened #1667 "error: abstract function type default value"
[code]

This happens after the update:
form:
``
zephir: 0.10.7
zephir-parser: 1.1.1
``
to:
[code]

centos6 php: 7.1

[2018-08-27 07:19] hellobbq commented on #1667
@danhunsaker i found this issues: https://github.com/phalcon/zephir/issues/457
any solution?

[2018-08-27 07:58] danhunsaker commented on #1667
The two aren't related. Sorry I haven't had a chance to look into this one more closely, yet, but it's related to how we're handling type hinting in `0.11.0`.

[2018-08-28 18:44] mikachou opened #1668 "Class or var names with only capitalized letters makes compilation fails"
For instance if my class name is RBF, then declare
```class RBF```
makes the compilator fails when i launch `zephir build`, but not if my class name is RbF or rBF.

The same thing occurs with vars, for instance : I can name a var Lu, or LuL, but not LU. I cannot have a variable name which is A because `zephir build` fails

[2018-08-28 18:48] mikachou commented on #1668
I forgot to precise : the same error message is displayed with error :
[code]

[2018-08-28 19:00] danhunsaker commented on #1668
Hmm. We may have classified all-uppercase names as reserved for constants. If that's the case, this is expected behavior, but should be documented...

[2018-08-28 23:02] mikachou opened #1669 "Forum down ?"
forum.zephir-lang.com returns a 500 http error...

[2018-08-29 06:35] sergeyklay commented on #1668
@mikachou It is common parser issue - using all-uppercase names.

[2018-08-29 06:36] sergeyklay commented on #1668
This issue was moved to phalcon/php-zephir-parser#39

[2018-08-29 06:36] #1668 closed, assigned to nobody

[2018-08-29 06:39] sergeyklay commented on #1669
Fixed. Thank you for contributing

[2018-08-29 06:39] #1669 closed, assigned to nobody

[2018-09-05 03:27] xqkeji opened #1670 "interface error"
interface Exception extends \MongoDB\Driver\Exception\Exception
{
}

class InvalidArgumentException extends \MongoDB\Driver\Exception\InvalidArgumentException implements Exception
{
}

PHP Fatal error:  Class 'MongoDB\Driver\Exception\Exception' not found in Unknown on line 0

the MongoDB.dll load success.
win10  php7.2.8  php-cgi  zephir 0.10.10

Compile successfully, but runtime error.

[2018-09-05 06:39] #1670 closed, assigned to nobody

[2018-09-05 22:04] Jurigag commented on #1667
Then we need to revert it really because it's causing a lot of problems, i've seen the same issues on phalcon repository i think.

[2018-09-13 11:06] streetlist opened #1671 "great software! however... benchmark doesnt make sense"
I've tried memory accessing using zephir (cache rewrite)
also, md5() function... on php7.2

both are slower than php7.2 so i'm wondering what kind of performance gain i should be doing for this.

i did the normal for ( $i .... ) loop over both features above.

can anyone give me what use case is zephir ideal for?

[2018-09-13 14:43] danhunsaker commented on #1671
Compiled logic is faster than interpreted, so complex logic is generally considerably faster with Zephir.

That said, anything that calls into PHP functions/methods, even if they are provided by other compiled code, has to go through the same access process as the interpreted PHP, which can end up being slightly slower as values are translated between contexts. This is where Optimizers come in. Wh

[2018-09-13 15:39] Jurigag commented on #1671
Zephir is not faster than php. Doing md5 on php always will be faster than doing md5 on zephir - simply because for example on zephir you need to create class, where on php not.

You need to make sure that you are actually checking result of this md5(like time to do it inside zephir method, not in php code where you do something like:

[code]

If you compare code like this to just php alone md5 th

[2018-09-13 15:50] danhunsaker commented on #1671
This is also true, yeah.

[2018-09-14 15:13] #1671 closed, assigned to nobody

[2018-09-15 09:38] streetlist opened #1672 "any preg_match equivalent?"
any preg_match equivalent? it's quite limited without some regex features / functionality to the language.

[2018-09-15 10:52] danhunsaker commented on #1672
You have full access to any PHP function you need/like. There's additional overhead involved, but Zephir will automatically call into PHP to use them.

[2018-09-15 14:20] Jurigag commented on #1672
? I don't understand, you can use preg_match. https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/router.zep#L451

[2018-09-15 19:29] navisoft opened #1673 "Create instance in loop issue"
Example:
<pre>
var instance, className;
for className in ["A", "B"] {
	let instance = new {className}();
	//or
	if className == "A" {
		let instance = new A();
	} else {
		let instance = new B();
	}
	instance->execute();
	instance->another();
}

class A {
	public function execute() {
		echo "A";
	}
	public function another() {
		echo "Aa";
	}
}
class B {
	public function execute() {
		echo "B";
	}

[2018-09-15 19:40] navisoft commented on #1672
@streetlist I don't see any equivalent of preg_match function. Using it like PHP function.

[2018-09-15 20:27] danhunsaker commented on #1672
Yes. You can use any PHP function you like. So just use PHP's `preg_match`.

[2018-09-16 19:16] Jurigag commented on #1672
I just linked you to the same usage of preg_match like in php in phalcon. Not sure what other problems you have.

[2018-09-21 17:09] Jurigag commented on #1510
Well actually we need to make somehow a nice way to make it default way to call methods, functions etc because currently zephir is around 3 times slower than PHP 7.2 in method calling etc. I would propose somehow to cache all those fcall infos and reuse them, maybe even between requests if somehow possible.

[2018-10-04 15:33] danhunsaker commented on #1673
We only see part of the implementation of `A`, and none of `B`, so it's difficult to say where the problem is being introduced. Can you provide a more complete example?

[2018-10-04 15:35] navisoft commented on #1673
The class B is same the class A. I just updated the question.

[2018-10-09 09:12] afbora commented on #1530
I have still the issue on Phalcon version 3.4.1 🐛

[2018-10-09 09:17] hakimio commented on #1530
@afbora Well, nobody said the bug was fixed, did they?

[2018-10-09 10:21] afbora commented on #1530
@hakimio I know it's not fixed. I just wrote it to keep it up to date 👍

[2018-10-16 04:27] sergeyklay commented on #1667
@Jurigag Phalcon does not use 0.11.x branch. @hellobbq Could you downgrade to the [0.10.11](https://github.com/phalcon/zephir/releases/tag/0.10.11) and test again?

[2018-10-16 04:29] #1672 closed, assigned to nobody

[2018-10-16 04:35] sergeyklay commented on #1530
Currently I'm working on PHP 7.3 support: https://github.com/phalcon/zephir/pull/1674. Next in my plans is https://github.com/phalcon/zephir/issues/1621. You will probably have to wait if no one will not fix this before.

[2018-10-20 16:32] phith0n opened #1680 "Can zephir support rewriting or hooking php's built-in function?"
Can zephir support rewriting or hooking php's built-in function, or are you going to do it in future?

[2018-10-20 20:10] danhunsaker commented on #1680
Not certain I properly understand this question. What I'm seeing, here, is that you want to replace functions provided elsewhere in PHP with your own, or at least be able to intercept calls to those functions to do other things instead/before/after?

I'm not sure whether that's possible...

[2018-10-20 20:35] phith0n commented on #1680
Yes, your understanding is correct.

With this feature, I can modify the built-in function, extend the web application without editing the php code.

I see that there was a extension runkit, supported this feature: http://php.net/manual/en/function.runkit-function-redefine.php

But it is no longer maintained, so I want to know if you support it.

[2018-10-20 22:11] danhunsaker commented on #1680
I don't believe we do. We might be able to look into it at some point, though, or perhaps someone enterprising could pick up runkit maintenance.

[2018-10-21 22:06] sergeyklay commented on #1667
Just fixed this bug for 0.11.x branch in the #1685

[2018-10-22 04:29] #1667 closed, assigned to sergeyklay

[2018-10-23 21:53] danielspk opened #1686 "How do you implement an external interface?"
Hi, how can I compile a class that implements an external interface? **( Psr\Http\Server\MiddlewareInterface)**

Compiler show: *"Cannot locate interface Psr\Http\Server\MiddlewareInterface when implementing interfaces on ..."*

Example:

[code]

Thanks!

[2018-10-24 07:39] sergeyklay commented on #1686
I created a PR  (#1687) to show community the approach to use 3rd party extensions as a project dependencies.

https://travis-ci.org/phalcon/zephir/builds/445511734

/cc @danielspk @niden

[2018-10-24 07:39] #1686 closed, assigned to nobody

[2018-10-24 09:26] danhunsaker commented on #1686
That works for extensions, but not so much for interfaces otherwise defined in PHP userspace.

Unfortunately, as Zephir is compiled, it can't support implementing or extending interfaces or classes that aren't also available from the C side of things (that is, other extensions). Same goes for traits, for the same reasons. Compiled code can't be partially built from interpreted code.

The fact that

[2018-10-24 13:37] niden commented on #1686
We need to add this in the documentation.

[2018-10-25 19:12] Jurigag commented on #1510
I think on some point we should focus on this @sergeyklay just test this https://github.com/phalcon/zephir/blob/development/unit-tests/microbench.php between zephir + php 5.6/7.0./7.1/7.2 and implement this in plain php 5.6/7.0/7.1/7.2 you will notice that results for zephir method calling are kind of really meh, because of no fast call. Not sure if im correct but i think it was here on some point

[2018-10-28 21:00] rodriguescr opened #1697 "Can't compile"
I'm getting this error on compile:

[code]

Below the code:

[code]

[2018-10-28 21:24] sergeyklay commented on #1697
@rodriguescr Someone from the @phalcon/zephir-team (or I) will take a look in the next days.

[2018-10-29 17:28] sergeyklay commented on #1697
@rodriguescr The `matches` variable should be declared before usage.

[code]

However, I agree that the error message must be correct and clear. I'll fix the error message in the future releases.

[2018-10-29 17:28] #1697 closed, assigned to nobody

[2018-10-30 03:51] dschissler commented on #1697
Oh boy, another non-reporting issue which has caught me is having a function variable named the same as a parameter.  PHP or Javascript helps out more for example by telling you that something is not correct with that value but Zephir fails with weird error messages.   Its caught me a few times during refactors and I end up having to comment out a bunch of code to find it.  Now I know to look for

[2018-10-30 05:17] #1680 closed, assigned to nobody

[2018-10-30 07:49] sergeyklay commented on #1673
As you can see there is no issue at all #1700

I'm closing this issue but if I have made an oversight, please do get back in touch. Thanks

[2018-10-30 07:49] #1673 closed, assigned to nobody

[2018-10-30 07:53] sergeyklay commented on #1697
@dschissler Could you please create a new issue with code to reproduce? I'll try to sort out. Thank you

[2018-10-31 14:15] dschissler opened #1702 "Improved Compilation Error Message: Say proper things when a method variable is declared while a parameter is already used"
[code]

[code]

`compile-errors.log`

[code]

So that obviously isn't very helpful.  I can work around it through since I learned that this gibberish can be mapped to a useful phrase or sentence made up of my private understanding of the situation.

[2018-10-31 14:22] dschissler opened #1703 "Improved Error Output Color"
The current yellow output color for error messages sucks donkey balls.  I have a new Dell XPS and the screen can be incredibly bright and the transition between white and black backgrounds seems intense enough to be damaging to my eyes and I have a contrary interest in preserving my hawk like vision well into old age.  So I'm using all whitish backgrounds and this brings me to the donkey ball suck

[2018-10-31 14:30] dschissler commented on #1703
The Solarized theme is a good compromise between a light background and being able to see the error messages.  It should definitely be able to just work on a default white terminal though.

[2018-11-01 02:49] dschissler opened #1704 "Improvements to switch statement"
Currently switch statements are overly picky about how they are setup and also in regards to method return types.

The compile will issue a warning about the "123" case because the break comes after the return.  I like to put a break for 1) visual padding between cases, 2) it prevents accidental errors when refactoring from returning values in the switch and assigning to a variable instead.

## Fi

[2018-11-04 09:01] sergeyklay opened #1706 "Reached end of the method without returning a valid type specified in the return-type hints"
Error: "Reached end of the method without returning a valid type specified in the return-type hints"

[code]

[2018-11-08 06:12] fire-falcon opened #1708 "makefile fatal error while trying to build zephir"
I have installed zephir on Windows 7, where I am uisng XAMPP as a web server. It's all working. But when I try to execute command `zephir build` in my project, it's giving the following error in `compile_errors.log` file:

`makefile(23) : fatal error U1001: syntax error : illegal character '{' in macro`

I am using Visual Studio Command Prompt.

What are my options here?

When I tested the `zephir

[2018-11-08 06:16] sergeyklay commented on #1708
@fire-falcon Could you please provide full log/output? Please use something like http://vpaste.net for this

[2018-11-08 06:20] fire-falcon commented on #1708
@sergeyklay  This is my full log from compile_errors.log file:
[full log](http://vpaste.net/0ZJxu)

[2018-11-08 08:10] sergeyklay commented on #1708
Hmm.. I'm sorry but this is not enough. Could you provide `config.w32` I'll try to sort out

[2018-11-08 08:25] fire-falcon commented on #1708
@sergeyklay  config is [here](http://vpaste.net/isKie)

[2018-11-08 20:14] sergeyklay commented on #1708
@fire-falcon Could you provide PHP version?

[2018-11-11 11:25] dschissler opened #1713 "0.10.12 broke "require" call while running in a phar archive and other concerns about "require" changing for a future Phalcon 3 LTS bugfix version."
@sergeyklay

My VM is a standard Ubuntu 18.04, PHP 7.2, latest zephir parser extension, latest Phalcon 3 LTS.

I see that 0.10.12 advertised as initial PHP 7.3 support.  Something changed between 0.10.11 and 0.10.12 that breaks the "phar://" protocol from working correctly when called from zephir code that is run in [initiated from] a phar.  I've tested it twice now after switching back and forth,

[2018-11-11 11:33] dschissler commented on #1713
For now I'll beusing the latest Zephir and ignoring this one broken aspect for now and when I need to be working with phars then I'll revert to the `0.10.11` version.

[2018-11-11 11:40] dschissler commented on #1713
Additionally I've discovered that the implementation of Zephir `require` is quite odd in that if it fails to find a file then it will immediately halt the current method and then it will return a null to the previous method.  I see that Phalcon has also needed to write some odd code to work around this, (if you are aware of that or not).  I think that some more sane behavior should take place ther

[2018-11-12 06:29] dschissler commented on #1713
After thinking about it I think that I prefer that `require` halts if it can't load the file, possibly throwing a low level exception.  This is in line with PHP and the "require" word.  You'd probably have to write new code to get it to work like.  Probably the current behavior could be salvaged for use for a `include` language feature.

[2018-11-12 11:52] thinkeng opened #1714 "PHP Warning: require_once(/root/zephir/vendor/autoload.php): failed to open stream: No such file or directory in /root/zephir/compiler.php on line 14"
PHP Warning:  require_once(/root/zephir/vendor/autoload.php): failed to open stream: No such file or directory in /root/zephir/compiler.php on line 14

[2018-11-12 11:57] sergeyklay commented on #1714
@niuxiongwen Could yoi please provide Zephir version and steps to reproduce

[2018-11-12 12:17] danhunsaker commented on #1714
Following the old install instructions would do this. Running the `install` script without first running `composer install`, specifically, would do this. It might be helpful to add the `composer install` step to the `install` script itself?

[2018-11-12 17:52] sergeyklay commented on #1714
Yeah, I think so

[2018-11-13 00:51] #1714 closed, assigned to nobody

[2018-11-13 05:55] thinkeng opened #1716 "zephir build error"
PHP Warning:  exec() has been disabled for security reasons in /root/zephir-0.11.2/Library/Compiler.php on line 1040
Preparing for PHP compilation...
PHP Warning:  exec() has been disabled for security reasons in /root/zephir-0.11.2/Library/Compiler.php on line 1043
Preparing configuration file...
PHP Warning:  system() has been disabled for security reasons in /root/zephir-0.11.2/Library/FileSyst

[2018-11-13 06:09] danhunsaker commented on #1716
You won't be able to build extensions on secured systems, which are generally production systems anyway and should never be used for high load operations that aren't part of normal function.

In other words, the computer you're running this on is set up to disable certain functions that Zephir needs to do its thing. You'll need to re-enable them, but if you're building on a system used to host con

[2018-11-13 06:09] #1716 closed, assigned to nobody

[2018-11-14 02:55] dschissler commented on #1662
Just so that we're clear I think that isn't really an operator when used for variadic arguments in the method signature.  Splat operator would be for inside function code and its probably two separate C codes that need to be written for each.  They are both pretty nice but for me the actual splat operator along with array deconstruction is something that I really miss in PHP when coming from Javas

[2018-11-14 02:57] dschissler commented on #1627
I don't understand.  You want to mix .zep files in with .php?  What is the use case for that?

[2018-11-14 02:59] dschissler commented on #1713
Related bug with `require`: [#1621](https://github.com/phalcon/zephir/issues/1621).

[2018-11-14 03:23] dschissler opened #1720 "Consider dropping PHP 7.0 support for Zephir/Phalcon before Phalcon 4 is released"
Consider cutting PHP 7.0 support for the Phalcon 4.0 release.  Currently CentOS/RHEL only has PHP 5.4 and so an updated package would already be needed and its likely that they would skip straight to PHP 7.2.  It appears that Debian is the only significant distro that is back on specifically 7.0 and they will be releasing a new version with probably 7.2 by the middle of 2019.

If PHP 7.0 is droppe

[2018-11-14 03:30] dschissler commented on #1720
I want to add that Phalcon 3 already supports PHP 7.1 and 7.2 so the more conservative people already have quite a lot of room to get onto recent PHP versions and they can continue using Phalcon 3 just the same.  Considering that Phalcon 4 will be coming off a Phalcon LTS I think that you have room to be edgier with this next release.

Look at this [article about PHP 7.1 features](https://blog.sha

[2018-11-14 03:47] thinkeng opened #1721 "Can php7.2 be used?"
Can php7.2 be used?

[2018-11-14 04:31] danhunsaker commented on #1720
The only version really tying our hands is 5.6, right now.

[2018-11-14 04:34] danhunsaker commented on #1721
Sure can. So can 7.3, if you like. The list of supported versions is available in the documentation, or you can peek at the `.travis.yml` to see which versions we're testing against at any given release.

[2018-11-14 04:34] #1721 closed, assigned to nobody

[2018-11-14 04:38] dschissler commented on #1720
Has anyone investigated the internals of PHP 7.0 vs 7.1 in terms of new operators?  How much actual investigation has gone into getting an idea of how to add newer features into modern PHP Zephir?  It seems to me that 97% of that work goes back to the Andres days of PHP 5 and that PHP 7.0 was just shoe horned in and left to bit rot.  I see it that PHP 7.0 was a pretty boring feature release but it

[2018-11-15 13:53] sergeyklay commented on #1713
This issue has been around for about two years. All us well know (and long ago) about it. @AlexNDRmac  and I are involved in solving this bug.

[2018-11-15 14:01] sergeyklay commented on #1720
We will consider your proposal. Thank you for reaching out to us to point this.

[2018-11-15 14:01] #1720 closed, assigned to nobody

[2018-11-15 14:01] sergeyklay commented on #1708
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-11-15 14:01] #1708 closed, assigned to nobody

[2018-11-15 19:51] dschissler commented on #1621
@sergeyklay You closed my other issue but it is not the same.  You broke usage using `phar://` protocol when called from within a phar between version 0.10.11 and 0.10.12.  This is recent new breakage.  That said, if you fix it all at once then great.

[2018-11-15 22:57] #1520 closed, assigned to sergeyklay

[2018-11-15 23:06] sergeyklay commented on #1520
Implemented in the 0.11.x branch

[2018-11-15 23:13] sergeyklay commented on #1542
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2018-11-15 23:13] #1542 closed, assigned to nobody

[2018-11-15 23:14] sergeyklay commented on #1487
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2018-11-15 23:14] #1487 closed, assigned to nobody

[2018-11-15 23:14] sergeyklay commented on #1483
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2018-11-15 23:14] #1483 closed, assigned to nobody

[2018-11-15 23:14] sergeyklay commented on #1480
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2018-11-15 23:14] #1480 closed, assigned to nobody

[2018-11-15 23:24] sergeyklay commented on #1713
@dschissler Could you please provide code to reproduce? I need the code that did work previously. Also please provide exact worked Zephir version.

[2018-11-16 00:32] dschissler commented on #1713
I'm sorry but my extension code is not yet public and the setup required is too much.  Simply `0.10.11` works and `0.10.12` does not work for zephir code doing a `require` call on something stored within the phar archive (so using `phar://` protocol).  That is the best that I can provide at the moment.

[2018-11-16 05:23] sergeyklay commented on #1713
I'll try to figure it out, but if just `require phar:///tmp/1.phar` is not enough I can't fix it without a code to reproduce. And I strongly doubt that this issue and  #1621 are different problems.